Employee count for Businesses by Industry Group

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
%run "fetch_source.ipynb"

In [3]:
tab = loadxlstabs(inputFile)

Loading in/idbr_ots_tables_2015.xls which has size 174080 bytes
Table names: ['Notes and Contents', 'Industry Group', 'Age Group', 'Employee Size', 'Industry_Age', 'Industry_EmployeeSize', 'EmployeeSize_Age', 'Metadata']

In [4]:
tab = tab[1]

In [5]:
savepreviewhtml(tab)

In [6]:
observations = tab.excel_ref('C47').expand(DOWN).expand(RIGHT).is_not_blank()-tab.excel_ref('C46').expand(UP)

In [7]:
observations = observations - tab.excel_ref('C60').expand(DOWN).expand(RIGHT)

In [8]:
Industrygroup = tab.excel_ref('A').expand(DOWN)

In [9]:
Flow = tab.excel_ref('C6').expand(RIGHT)

In [10]:
Dimensions = [
            HDimConst('Geography', 'K02000001'),
            HDimConst('Year','2015'),
            HDimConst('Unit', 'Employees'), 
            HDimConst('Measure Type','Count'),            
            HDim(Industrygroup, 'Industry', DIRECTLY, LEFT),
            HDim(Flow, 'Flow', CLOSEST, LEFT)    
]

In [11]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)

In [12]:
savepreviewhtml(c1)

In [13]:
new_table = c1.topandas()

In [14]:
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)

In [15]:
new_table['Flow'] = new_table['Flow'].str.rstrip('s')

In [16]:
new_table['Services'] = new_table['Industry'].str.lstrip('Group 1234567890')

In [17]:
# new_table['Services'] = new_table['Industry'].map(lambda x: str(x)[8:])

In [18]:
# new_table['Product'] = new_table['Industry'].map(lambda x: str(x)[0:8])

In [19]:
new_table['Services'] = new_table['Services'].str.strip()
# new_table['Product'] = new_table['Product'].str.strip()
new_table['Year'] = new_table['Year'].str.strip()
new_table['Flow'] = new_table['Flow'].str.strip()
new_table['Unit'] = new_table['Unit'].str.strip()
new_table['Measure Type'] = new_table['Measure Type'].str.strip()
new_table['Geography'] = new_table['Geography'].str.strip()

In [20]:
new_table = new_table[['Geography','Year','Services','Flow','Measure Type','Value','Unit']]

In [21]:
# def user_perc(x):
    
#     if x.strip(' ') == '':
#         return 'NA'
#     else:
#         return x
    
# new_table['Services'] = new_table.apply(lambda row: user_perc(row['Services']), axis = 1)

In [22]:
new_table = new_table[new_table['Value'] != '' ]

In [23]:
new_table['Services'] = new_table['Services'].map(lambda cell:cell.replace('Total8', 'Total'))

In [24]:
new_table['Value'] = new_table['Value'].astype(int)

In [25]:
new_table

,Geography,Year,Services,Flow,Measure Type,Value,Unit
0,K02000001,2015,Agriculture and Food,Export,Count,484666,Employees
1,K02000001,2015,Agriculture and Food,Import,Count,558104,Employees
2,K02000001,2015,"Mining, Petroleum products and Waste",Export,Count,303902,Employees
3,K02000001,2015,"Mining, Petroleum products and Waste",Import,Count,347613,Employees
4,K02000001,2015,Chemicals,Export,Count,107612,Employees
5,K02000001,2015,Chemicals,Import,Count,108389,Employees
6,K02000001,2015,Pharmaceuticals,Export,Count,45032,Employees
7,K02000001,2015,Pharmaceuticals,Import,Count,45504,Employees
8,K02000001,2015,Electronic and Electrical equipment,Export,Count,182886,Employees
9,K02000001,2015,Electronic and Electrical equipment,Import,Count,184406,Employees
10,K02000001,2015,Machinery and equipment n.e.s,Export,Count,162293,Employees
11,K02000001,2015,Machinery and equipment n.e.s,Import,Count,162717,Employees
12,K02000001,2015,"Motor vehicles, transport equipment (excluding...",Export,Count,152582,Employees
13,K02000001,2015,"Motor vehicles, transport equipment (excluding...",Import,Count,155321,Employees
14,K02000001,2015,Aerospace and related machinery,Export,Count,96262,Employees
15,K02000001,2015,Aerospace and related machinery,Import,Count,96202,Employees
16,K02000001,2015,Other manufacturing,Export,Count,492744,Employees
17,K02000001,2015,Other manufacturing,Import,Count,514513,Employees
18,K02000001,2015,Services,Export,Count,7525464,Employees
19,K02000001,2015,Services,Import,Count,10181897,Employees
22,K02000001,2015,Total,Export,Count,9553443,Employees
23,K02000001,2015,Total,Import,Count,12354666,Employees

In [26]:
new_table.tail(4)

    Geography  Year  Services    Flow Measure Type     Value       Unit
18  K02000001  2015  Services  Export        Count   7525464  Employees
19  K02000001  2015  Services  Import        Count  10181897  Employees
22  K02000001  2015     Total  Export        Count   9553443  Employees
23  K02000001  2015     Total  Import        Count  12354666  Employees