# Country by commodity exports

In [3]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/' + \
                 'uktradecountrybycommodityexports')
scraper

## Trade in goods: country-by-commodity exports

Monthly export country-by-commodity data on the UK's trade in goods, including trade by all countries and selected commodities, non-seasonally adjusted.

### Distributions

1. Trade in goods: country-by-commodity exports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityexports/current/countrybycommodityexportsfinal.xlsx))

In [66]:

data = scraper.distribution().as_pandas(sheet_name = 1, dtype={
    'COMMODITY': 'category',
    'COUNTRY': 'category',
    'DIRECTION': 'category'
}, na_values=[''], keep_default_na=False)

data

,COMMODITY,COUNTRY,DIRECTION,1998JAN,1998FEB,1998MAR,1998APR,1998MAY,1998JUN,1998JUL,...,2018NOV,2018DEC,2019JAN,2019FEB,2019MAR,2019APR,2019MAY,2019JUN,2019JUL,2019AUG
0,0 Food & live animals,AD Andorra,EX Exports,15175,35068,45362,45531,25478,28414,33654,...,10402,133235,1481,0,3615,32064,0,0,5215,0
1,0 Food & live animals,AE United Arab Emirates,EX Exports,4748125,4608646,5400394,4671719,4718788,4169493,4540785,...,19329011,17913330,16022817,21940247,18263492,16662756,15382415,14697329,14658862,21754692
2,0 Food & live animals,AF Afghanistan,EX Exports,0,7374,3702,0,39161,0,28843,...,48566,146276,0,0,11189,60745,54187,32074,132779,155026
3,0 Food & live animals,AG Antigua & Barbuda,EX Exports,166622,114317,241983,155083,82873,151620,257406,...,229457,246864,159852,243772,291797,432380,107014,113158,306168,146594
4,0 Food & live animals,AI Anguilla,EX Exports,0,0,3035,598,1266,0,2376,...,0,3408,0,2940,0,0,0,4103,2880,0
5,0 Food & live animals,AL Albania,EX Exports,0,0,0,0,19194,13731,0,...,93439,91811,102865,43987,40799,78440,335124,89591,271307,231315
6,0 Food & live animals,AM Armenia,EX Exports,0,0,0,0,0,0,12445,...,18979,4098,5535,67858,33836,23529,40162,74379,97206,86164
7,0 Food & live animals,AO Angola,EX Exports,142547,177418,409014,180834,284744,395001,2558,...,1205874,514011,753250,525182,797424,873739,1506762,307349,1045454,1433554
8,0 Food & live animals,AQ Antarctica,EX Exports,0,0,0,0,0,0,0,...,46555,0,0,0,21826,2858,65970,0,33606,0
9,0 Food & live animals,AR Argentina,EX Exports,465908,343495,928008,718701,597640,795308,547506,...,404371,882726,123572,431462,641350,248389,374802,638158,339179,254049
10,0 Food & live animals,AS American Samoa,EX Exports,0,0,0,0,0,0,0,...,0,130964,0,0,0,0,0,0,0,0
11,0 Food & live animals,AT Austria,EX Exports,2115538,2443102,2222628,2190739,2337704,1850174,2707238,...,4623667,3727594,4885478,4981310,5379820,3870590,4385847,4228877,4586303,4297152
12,0 Food & live animals,AU Australia,EX Exports,3748953,3856841,3523978,4424739,4679437,3638406,4912122,...,32871317,26248737,23441002,19204859,29112767,18141988,24843603,21563956,30422849,27984056
13,0 Food & live animals,AW Aruba,EX Exports,85938,59493,55531,24220,63775,45656,67005,...,3429,4008,1365,0,13140,8551,23410,1013,16371,12429
14,0 Food & live animals,AZ Azerbaijan,EX Exports,7202,104688,40290,66014,30546,202184,28440,...,32651,63973,10784,31382,48953,5105,71534,36743,1510,27096
15,0 Food & live animals,B5 Total EU(28),EX Exports,401000000,392000000,430000000,370000000,365000000,365000000,346000000,...,991000000,912000000,899000000,886000000,1060000000,803000000,846000000,825000000,863000000,910000000
16,0 Food & live animals,BA Bosnia & Herzegovina,EX Exports,17437,0,2368314,0,13368,15857,12072,...,18109,0,0,46747,23993,106407,0,45630,95236,32868
17,0 Food & live animals,BB Barbados,EX Exports,243375,358972,262171,182021,394551,414917,505889,...,1191928,521663,1118109,916820,773919,1010901,909733,629310,826212,644113
18,0 Food & live animals,BD Bangladesh,EX Exports,619937,256684,7025866,5113405,612843,236978,350949,...,330756,790766,1728592,1194847,1248747,1553043,1285715,1588849,766756,410966
19,0 Food & live animals,BE Belgium,EX Exports,28445207,24934219,29328609,27955918,24098331,22649619,24734758,...,47209085,41335865,50421949,46722097,54526663,42408351,39698780,35871148,40118917,40045692
20,0 Food & live animals,BF Burkina Faso,EX Exports,128869,170342,103386,62716,16981,202286,65885,...,0,0,0,0,0,0,711366,0,2821,520340
21,0 Food & live animals,BG Bulgaria,EX Exports,40812,126230,107081,57160,20861,242860,329716,...,2262278,1554408,2197917,1938878,2941330,1878916,2190337,2447779,1786029,2088869
22,0 Food & live animals,BH Bahrain,EX Exports,576650,732099,601412,421047,700993,543183,494319,...,2454608,1960052,1748242,1892300,2011810,1656981,1730136,1133674,980372,1465842
23,0 Food & live animals,BI Burundi,EX Exports,0,0,0,0,920,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0 Food & live animals,BJ Benin,EX Exports,50224,148341,160040,107232,73669,59468,62188,...,248784,284036,417318,846772,1124543,804350,1154053,1060630,895621,898670
25,0 Food & live animals,BM Bermuda,EX Exports,153448,164016,264714,209224,189812,176557,190314,...,1070348,353328,255113,586407,383820,348725,351119,371136,279789,337623
26,0 Food & live animals,BN Brunei,EX Exports,53444,32299,33538,27242,41886,25150,15476,...,735472,520870,875697,746558,681922,463887,323290,411713,327687,647508
27,0 Food & live animals,BO Bolivia,EX Exports,110436,54616,98258,12222,15910,712,3258,...,34214,0,29189,0,40670,77542,24062,9231,157627,19581
28,0 Food & live animals,"BQ Bonaire, Sint Eustatius and Saba",EX Exports,371319,110910,156046,184490,136132,200642,263205,...,0,0,0,0,0,0,0,0,0,0
29,0 Food & live animals,BR Brazil,EX Exports,828562,957562,1019022,2183446,3591191,3658322,3933580,...,2724947,2409577,2327396,1751727,3505172,1688427,1685120,2886200,2006889,2405921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29595,T Total,TL East Timor,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29596,T Total,TM Turkmenistan,EX Exports,1000000,0,1000000,1000000,0,2000000,1000000,...,3000000,3000000,1000000,1000000,1000000,1000000,2000000,1000000,2000000,1000000
29597,T Total,TN Tunisia,EX Exports,8000000,5000000,11000000,9000000,7000000,10000000,11000000,...,12000000,9000000,13000000,11000000,31000000,10000000,28000000,11000000,16000000,10000000
29598,T Total,TO Tonga,EX Exports,1000000,0,0,0,0,0,0,...,0,0,1000000,0,0,0,0,0,0,0
29599,T Total,TR Turkey,EX Exports,125000000,125000000,141000000,122000000,130000000,153000000,165000000,...,367000000,393000000,302000000,350000000,431000000,375000000,417000000,318000000,376000000,298000000
29600,T Total,TT Trinidad & Tobago,EX Exports,7000000,6000000,7000000,9000000,10000000,8000000,9000000,...,9000000,65000000,9000000,7000000,10000000,5000000,11000000,11000000,8000000,9000000
29601,T Total,TV Tuvalu,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29602,T Total,TW Taiwan,EX Exports,84000000,86000000,107000000,96000000,70000000,74000000,77000000,...,122000000,119000000,126000000,107000000,160000000,145000000,129000000,106000000,116000000,102000000
29603,T Total,TZ Tanzania,EX Exports,6000000,4000000,6000000,4000000,3000000,4000000,8000000,...,13000000,10000000,13000000,8000000,10000000,11000000,12000000,8000000,10000000,11000000
29604,T Total,UA Ukraine,EX Exports,12000000,14000000,20000000,17000000,14000000,13000000,16000000,...,38000000,65000000,34000000,35000000,46000000,46000000,38000000,60000000,37000000,37000000
29605,T Total,UG Uganda,EX Exports,4000000,4000000,5000000,4000000,4000000,5000000,4000000,...,4000000,3000000,3000000,2000000,3000000,4000000,4000000,3000000,4000000,4000000
29606,T Total,UM US Minor Outlying Islands,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29607,T Total,US United States inc Puerto Rico,EX Exports,1665000000,1779000000,1964000000,1907000000,1788000000,1842000000,2159000000,...,4945000000,3921000000,4412000000,4429000000,4957000000,4932000000,4764000000,4478000000,5155000000,4666000000
29608,T Total,UY Uruguay,EX Exports,7000000,7000000,5000000,6000000,6000000,5000000,6000000,...,11000000,10000000,13000000,13000000,17000000,10000000,9000000,8000000,11000000,15000000
29609,T Total,UZ Uzbekistan,EX Exports,2000000,3000000,3000000,7000000,7000000,4000000,5000000,...,3000000,10000000,1000000,1000000,3000000,4000000,2000000,2000000,1000000,1000000
29610,T Total,VA Vatican City,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29611,T Total,VC St Vincent,EX Exports,1000000,0,1000000,1000000,0,1000000,1000000,...,2000000,1000000,1000000,1000000,1000000,1000000,1000000,1000000,1000000,1000000
29612,T Total,VE Venezuela,EX Exports,28000000,16000000,29000000,28000000,22000000,29000000,24000000,...,1000000,2000000,1000000,6000000,5000000,2000000,1000000,1000000,2000000,2000000
29613,T Total,VG British Virgin Islands,EX Exports,0,0,1000000,1000000,0,0,1000000,...,1000000,3000000,1000000,2000000,1000000,1000000,1000000,0,1000000,4000000
29614,T Total,VI US Virgin Islands,EX Exports,0,0,6000000,0,0,7000000,0,...,1000000,0,0,0,1000000,2000000,0,1000000,0,0
29615,T Total,VN Vietnam,EX Exports,7000000,5000000,7000000,7000000,6000000,8000000,9000000,...,117000000,52000000,42000000,40000000,58000000,42000000,68000000,40000000,59000000,62000000
29616,T Total,VU Vanuatu,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29617,T Total,W1 Whole world,EX Exports,13131000000,13370000000,15097000000,13683000000,13257000000,14391000000,13886000000,...,31115000000,27094000000,28552000000,28987000000,33410000000,26704000000,29044000000,28813000000,30595000000,28185000000
29618,T Total,WF Wallis & Futuna,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29619,T Total,WS Samoa,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1000000,0,0
29620,T Total,XK Kosovo,EX Exports,0,0,1000000,0,0,0,0,...,1000000,1000000,1000000,0,1000000,0,1000000,1000000,1000000,0
29621,T Total,YE Yemen,EX Exports,7000000,5000000,8000000,4000000,6000000,8000000,5000000,...,5000000,4000000,3000000,6000000,6000000,6000000,5000000,4000000,6000000,4000000
29622,T Total,ZA South Africa,EX Exports,107000000,126000000,136000000,139000000,138000000,210000000,166000000,...,184000000,153000000,141000000,185000000,165000000,147000000,143000000,149000000,196000000,162000000
29623,T Total,ZM Zambia,EX Exports,3000000,3000000,4000000,2000000,2000000,3000000,3000000,...,7000000,6000000,4000000,6000000,8000000,6000000,7000000,4000000,6000000,5000000
29624,T Total,ZW Zimbabwe,EX Exports,7000000,5000000,8000000,8000000,7000000,9000000,8000000,...,4000000,4000000,2000000,3000000,3000000,3000000,4000000,2000000,5000000,4000000

In [67]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

table = data.drop(columns='DIRECTION')
table.rename(columns={
    'COMMODITY': 'CORD SITC',
    'COUNTRY': 'ONS Partner Geography'}, inplace=True)
table = pd.melt(table, id_vars=['CORD SITC','ONS Partner Geography'], var_name='Period', value_name='Value')
table['Period'] = table['Period'].astype('category')
#table['Value'] = table.apply(lambda x: int(x['Value']) if x['Value'] != 'N/A' else x['Value'], axis = 1)
#table['Value'] = table['Value'].astype(int)

In [68]:
#display(table['CORD SITC'].cat.categories)
#display(table['ONS Partner Geography'].cat.categories)

Index(['0 Food & live animals', '00 Live animals',
       '01 Meat & meat preparations', '02 Dairy products & eggs',
       '03 Fish & shellfish', '04 Cereals', '05 Vegetables & fruit',
       '06 Sugar', '07 Coffee, tea, cocoa etc', '08 Animal feeding stuffs',
       ...
       '897C Jewellery', '89I Other manufactures (intermediate)',
       '89K Other manufactures (capital)',
       '89OC Other manufactures (consumer)', '8O Other manufactures',
       '8OC Other miscellaneous manufactures (consumer)',
       '8OI Other miscellaneous manufactures (intermediate)',
       '8OK Other miscellaneous manufactures (capital)', '9 Unspecified goods',
       'T Total'],
      dtype='object', length=125)

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1 Whole world', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=237)

Fix up category strings

In [69]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x.split(' ')[0])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
#display(table['CORD SITC'].cat.categories)
#display(table['ONS Partner Geography'].cat.categories)

Index(['0', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       '897C', '89I', '89K', '89OC', '8O', '8OC', '8OI', '8OK', '9', 'T'],
      dtype='object', length=125)

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=237)

In [70]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

table['Period'].cat.categories = table['Period'].cat.categories.map(time2period)

In [71]:
table['Seasonal Adjustment'] = pd.Series('NSA', index=table.index, dtype='category')
table['Measure Type'] = pd.Series('GBP Total', index=table.index, dtype='category')
table['Unit'] = pd.Series('gbp-million', index=table.index, dtype='category')
table['Flow'] = pd.Series('exports', index=table.index, dtype='category')

In [72]:
#table.memory_usage()

Index                          80
CORD SITC                 7708620
ONS Partner Geography    15417136
Period                   15417320
Value                    61620000
Seasonal Adjustment       7702588
Measure Type              7702588
Unit                      7702588
Flow                      7702588
dtype: int64

In [73]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]

In [74]:
#table.count()

ONS Partner Geography    7702500
Period                   7702500
Flow                     7702500
CORD SITC                7702500
Seasonal Adjustment      7702500
Measure Type             7702500
Value                    7702500
Unit                     7702500
dtype: int64

In [75]:
#table.dtypes

ONS Partner Geography    category
Period                   category
Flow                     category
CORD SITC                category
Seasonal Adjustment      category
Measure Type             category
Value                      object
Unit                     category
dtype: object