Country by commodity imports

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/' + \
                  'uktradecountrybycommodityimports')
scraper

## Trade in goods: country-by-commodity imports

Monthly import country-by-commodity data on the UK's trade in goods, including trade by all countries and selected commodities, non-seasonally adjusted.

### Distributions

1. Trade in goods: country-by-commodity imports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityimports/current/countrybycommodityimportsfinal.xlsx))

In [2]:
tab = scraper.distribution().as_pandas()
tab

WARNING:Cache entry deserialization failed, entry ignored

,COMMODITY,COUNTRY,DIRECTION,1998JAN,1998FEB,1998MAR,1998APR,1998MAY,1998JUN,1998JUL,...,2018JAN,2018FEB,2018MAR,2018APR,2018MAY,2018JUN,2018JUL,2018AUG,2018SEP,2018OCT
0,0 Food & live animals,AD Andorra,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0 Food & live animals,AE United Arab Emirates,IM Imports,1,0,12,29,11,2,0,...,0,0,8,1,0,0,0,0,0,0
2,0 Food & live animals,AF Afghanistan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0 Food & live animals,AG Antigua & Barbuda,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0 Food & live animals,AI Anguilla,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0 Food & live animals,AL Albania,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0 Food & live animals,AM Armenia,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0 Food & live animals,AO Angola,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0 Food & live animals,AQ Antarctica,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0 Food & live animals,AR Argentina,IM Imports,3,11,3,9,15,10,13,...,32,59,58,13,35,43,65,18,33,38
10,0 Food & live animals,AS American Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0 Food & live animals,AT Austria,IM Imports,1,1,2,1,1,1,1,...,9,12,13,11,13,14,16,14,13,12
12,0 Food & live animals,AU Australia,IM Imports,17,6,5,6,7,9,9,...,8,6,5,6,7,10,9,8,6,9
13,0 Food & live animals,AW Aruba,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0 Food & live animals,AZ Azerbaijan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0 Food & live animals,B5 Total EU(28),IM Imports,659,660,707,692,699,758,722,...,2164,2097,2359,2231,2350,2371,2306,2316,2283,2551
16,0 Food & live animals,BA Bosnia & Herzegovina,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0 Food & live animals,BB Barbados,IM Imports,0,0,0,6,6,5,1,...,0,0,0,0,0,0,0,0,0,0
18,0 Food & live animals,BD Bangladesh,IM Imports,0,0,0,2,2,2,2,...,4,5,5,5,4,2,5,3,2,4
19,0 Food & live animals,BE Belgium,IM Imports,47,49,54,48,50,64,51,...,176,150,168,154,173,169,181,177,175,195
20,0 Food & live animals,BF Burkina Faso,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,1,0
21,0 Food & live animals,BG Bulgaria,IM Imports,0,0,0,0,0,0,0,...,1,1,4,1,1,1,8,8,20,12
22,0 Food & live animals,BH Bahrain,IM Imports,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0 Food & live animals,BI Burundi,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0 Food & live animals,BJ Benin,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0 Food & live animals,BM Bermuda,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0 Food & live animals,BN Brunei,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0 Food & live animals,BO Bolivia,IM Imports,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,2,1,2
28,0 Food & live animals,"BQ Bonaire, Sint Eustatius and Saba",IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0 Food & live animals,BR Brazil,IM Imports,14,11,12,13,12,22,23,...,52,44,37,38,44,29,44,44,87,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29595,T Total,TL East Timor,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29596,T Total,TM Turkmenistan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
29597,T Total,TN Tunisia,IM Imports,2,10,6,4,8,4,6,...,11,9,9,10,10,7,12,11,9,14
29598,T Total,TO Tonga,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29599,T Total,TR Turkey,IM Imports,106,104,135,101,116,124,131,...,855,615,803,823,744,767,776,918,762,884
29600,T Total,TT Trinidad & Tobago,IM Imports,3,2,0,1,7,8,5,...,17,10,3,20,18,15,6,5,5,19
29601,T Total,TV Tuvalu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29602,T Total,TW Taiwan,IM Imports,193,182,204,194,190,183,194,...,290,234,280,268,261,297,314,296,279,365
29603,T Total,TZ Tanzania,IM Imports,2,1,4,6,2,1,1,...,1,1,3,1,1,0,1,0,1,1
29604,T Total,UA Ukraine,IM Imports,5,4,3,2,9,2,1,...,55,27,56,39,31,49,31,33,37,52
29605,T Total,UG Uganda,IM Imports,2,2,1,1,1,1,0,...,0,0,0,0,1,0,1,1,0,1
29606,T Total,UM US Minor Outlying Islands,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29607,T Total,US United States inc Puerto Rico,IM Imports,1823,1981,2163,1924,1966,1903,1795,...,3258,2606,3321,3602,3495,3691,3364,4215,3248,3883
29608,T Total,UY Uruguay,IM Imports,4,3,4,5,5,6,5,...,5,4,2,2,5,3,5,7,5,4
29609,T Total,UZ Uzbekistan,IM Imports,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29610,T Total,VA Vatican City,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29611,T Total,VC St Vincent,IM Imports,1,2,2,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
29612,T Total,VE Venezuela,IM Imports,10,5,12,7,8,19,10,...,0,3,0,7,0,3,0,8,4,3
29613,T Total,VG British Virgin Islands,IM Imports,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29614,T Total,VI US Virgin Islands,IM Imports,10,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29615,T Total,VN Vietnam,IM Imports,19,20,22,25,23,18,18,...,348,312,380,294,352,355,358,372,425,400
29616,T Total,VU Vanuatu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29617,T Total,W1 Whole world,IM Imports,14311,15160,16750,15339,15307,16546,16386,...,40571,36272,42000,38970,39755,40340,40627,41136,41022,45501
29618,T Total,WF Wallis & Futuna,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29619,T Total,WS Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29620,T Total,XK Kosovo,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29621,T Total,YE Yemen,IM Imports,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29622,T Total,ZA South Africa,IM Imports,128,82,91,127,152,110,129,...,231,129,292,210,293,372,192,318,431,264
29623,T Total,ZM Zambia,IM Imports,1,1,2,0,1,1,2,...,0,0,0,0,0,0,0,1,0,0
29624,T Total,ZW Zimbabwe,IM Imports,10,6,8,6,11,11,20,...,0,6,7,6,6,2,16,1,8,6

In [3]:
tab = tab.drop(['DIRECTION'], axis = 1)

In [4]:
tab.columns.values[0] = 'CORD SITC'
tab.columns.values[1] = 'ONS Partner Geography'

In [5]:
new_table = pd.melt(tab, id_vars=['CORD SITC','ONS Partner Geography'], var_name='Period', value_name='Value')

In [6]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

new_table['Period'] = new_table['Period'].apply(time2period)

In [7]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'
new_table['Flow'] = 'imports'

Todo: check logic below -- are these data markers being set to zero?

In [8]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [9]:
new_table['Value'] = new_table['Value'].astype(int)

In [10]:
new_table['ONS Partner Geography'] = new_table['ONS Partner Geography'].astype(str).str[0:2]

In [11]:
new_table['CORD SITC'] = new_table['CORD SITC'].str.partition(' ')

Todo: check the following logic - why filter out zero valued measurements?

In [12]:
new_table = new_table[new_table['Value'] !=  0 ]

In [13]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]

In [14]:
new_table

,ONS Partner Geography,Period,Flow,CORD SITC,Seasonal Adjustment,Measure Type,Value,Unit
1,AE,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
9,AR,month/1998-01,imports,0,NSA,GBP Total,3,gbp-million
11,AT,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
12,AU,month/1998-01,imports,0,NSA,GBP Total,17,gbp-million
15,B5,month/1998-01,imports,0,NSA,GBP Total,659,gbp-million
19,BE,month/1998-01,imports,0,NSA,GBP Total,47,gbp-million
29,BR,month/1998-01,imports,0,NSA,GBP Total,14,gbp-million
35,BZ,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
36,CA,month/1998-01,imports,0,NSA,GBP Total,13,gbp-million
41,CH,month/1998-01,imports,0,NSA,GBP Total,3,gbp-million
42,CI,month/1998-01,imports,0,NSA,GBP Total,7,gbp-million
44,CL,month/1998-01,imports,0,NSA,GBP Total,7,gbp-million
45,CM,month/1998-01,imports,0,NSA,GBP Total,2,gbp-million
46,CN,month/1998-01,imports,0,NSA,GBP Total,6,gbp-million
47,CO,month/1998-01,imports,0,NSA,GBP Total,3,gbp-million
48,CR,month/1998-01,imports,0,NSA,GBP Total,5,gbp-million
53,CY,month/1998-01,imports,0,NSA,GBP Total,3,gbp-million
55,D5,month/1998-01,imports,0,NSA,GBP Total,421,gbp-million
56,DE,month/1998-01,imports,0,NSA,GBP Total,54,gbp-million
58,DK,month/1998-01,imports,0,NSA,GBP Total,40,gbp-million
59,DM,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
62,EC,month/1998-01,imports,0,NSA,GBP Total,2,gbp-million
63,EE,month/1998-01,imports,0,NSA,GBP Total,2,gbp-million
64,EG,month/1998-01,imports,0,NSA,GBP Total,6,gbp-million
66,ES,month/1998-01,imports,0,NSA,GBP Total,95,gbp-million
68,FI,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
69,FJ,month/1998-01,imports,0,NSA,GBP Total,15,gbp-million
72,FO,month/1998-01,imports,0,NSA,GBP Total,7,gbp-million
73,FR,month/1998-01,imports,0,NSA,GBP Total,113,gbp-million
77,GH,month/1998-01,imports,0,NSA,GBP Total,8,gbp-million
...,...,...,...,...,...,...,...,...
7406187,PY,month/2018-10,imports,T,NSA,GBP Total,12,gbp-million
7406188,QA,month/2018-10,imports,T,NSA,GBP Total,177,gbp-million
7406189,RO,month/2018-10,imports,T,NSA,GBP Total,219,gbp-million
7406190,RS,month/2018-10,imports,T,NSA,GBP Total,16,gbp-million
7406191,RU,month/2018-10,imports,T,NSA,GBP Total,739,gbp-million
7406193,SA,month/2018-10,imports,T,NSA,GBP Total,378,gbp-million
7406195,SC,month/2018-10,imports,T,NSA,GBP Total,10,gbp-million
7406196,SD,month/2018-10,imports,T,NSA,GBP Total,2,gbp-million
7406197,SE,month/2018-10,imports,T,NSA,GBP Total,478,gbp-million
7406198,SG,month/2018-10,imports,T,NSA,GBP Total,237,gbp-million
7406200,SI,month/2018-10,imports,T,NSA,GBP Total,31,gbp-million
7406201,SK,month/2018-10,imports,T,NSA,GBP Total,276,gbp-million
7406204,SN,month/2018-10,imports,T,NSA,GBP Total,1,gbp-million
7406217,TH,month/2018-10,imports,T,NSA,GBP Total,266,gbp-million
7406221,TM,month/2018-10,imports,T,NSA,GBP Total,1,gbp-million
7406222,TN,month/2018-10,imports,T,NSA,GBP Total,14,gbp-million
7406224,TR,month/2018-10,imports,T,NSA,GBP Total,884,gbp-million
7406225,TT,month/2018-10,imports,T,NSA,GBP Total,19,gbp-million
7406227,TW,month/2018-10,imports,T,NSA,GBP Total,365,gbp-million
7406228,TZ,month/2018-10,imports,T,NSA,GBP Total,1,gbp-million
7406229,UA,month/2018-10,imports,T,NSA,GBP Total,52,gbp-million
7406230,UG,month/2018-10,imports,T,NSA,GBP Total,1,gbp-million
7406232,US,month/2018-10,imports,T,NSA,GBP Total,3883,gbp-million
7406233,UY,month/2018-10,imports,T,NSA,GBP Total,4,gbp-million
7406237,VE,month/2018-10,imports,T,NSA,GBP Total,3,gbp-million
7406238,VG,month/2018-10,imports,T,NSA,GBP Total,1,gbp-million
7406240,VN,month/2018-10,imports,T,NSA,GBP Total,400,gbp-million
7406242,W1,month/2018-10,imports,T,NSA,GBP Total,45501,gbp-million
7406247,ZA,month/2018-10,imports,T,NSA,GBP Total,264,gbp-million
7406249,ZW,month/2018-10,imports,T,NSA,GBP Total,6,gbp-million