###  CPA xlsx to Tidydata

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/internationaltrade/datasets/' + \
                  'uktradeingoodsbyclassificationofproductbyactivity')
scraper

## UK trade in goods by classification of product by activity time series

Quarterly and annual times series of the value of UK imports and exports of goods grouped by product. Goods are attributed to the activity of which they are the principal products.

### Distributions

1. UK trade in goods by classification of product by activity time series ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeingoodsbyclassificationofproductbyactivity/current/mq10.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None, na_values=[], keep_default_na=False)
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

WARNING:Cache entry deserialization failed, entry ignored

,Period,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P25S,P264,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
0,Title,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,CPA 08:WW:IM:CP:BOP:NSA: 30.4. Military fighti...,"CPA 08:WW:IM:CP:BOP:NSA: 29. Motor vehicles, t...",CPA 08:WW:IM:CP:BOP:NSA: 30.2. Railway locomot...,CPA 08:WW:IM:CP:BOP:NSA: 29.3. Parts & accesso...,CPA 08:WW:IM:CP:BOP:NSA: 29.2. Bodies for moto...,CPA 08:WW:IM:CP:BOP:NSA: 28.3. Agricultural & ...,CPA 08:WW:IM:CP:BOP:NSA: 28.2. Other general-p...,CPA 08:WW:IM:CP:BOP:NSA: 30.3. Air & spacecraf...,...,CPA 08:WW:IM:CP:BOP:NSA: 12.0. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 12. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 15.1. Tanned & dresse...,CPA 08:WW:IM:CP:BOP:NSA: 15. Leather & related...,CPA 08:WW:IM:CP:BOP:NSA: 16. Wood and prod of ...,CPA 08:WW:IM:CP:BOP:NSA: 15.2. Footwear,CPA 08:WW:IM:CP:BOP:NSA: 14.1. Wearing apparel...,CPA 08:WW:IM:CP:BOP:NSA: 14. Wearing apparel,CPA 08:WW:IM:CP:BOP:NSA: 14.3. Knitted & croch...,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
1,CDID,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P25S,P264,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
2,PreUnit,,,,,,,,,,...,,,,,,,,,,
3,Unit,,,,,,,,,,...,,,,,,,,,,
4,Release Date,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,...,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018
5,Next release,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,...,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019
6,Important Notes,,,,,,,,,,...,,,,,,,,,,
7,1998,16475,95,23051,258,6289,287,489,4754,8452,...,815,815,735,2599,2227,1864,5771,6861,1090,0
8,1999,17466,20,24774,379,7022,286,608,4698,8388,...,1097,1097,751,2783,2307,2032,6107,7275,1168,0
9,2000,17092,4,24012,427,6650,270,543,4988,8854,...,1233,1233,879,2882,2548,2003,6988,8206,1218,0
10,2001,20378,2,27233,362,6512,343,574,5049,11649,...,1251,1251,908,3177,2589,2269,7490,8881,1391,0
11,2002,22131,2,29753,374,7226,396,709,4938,12449,...,1180,1180,891,3247,2734,2356,8036,9479,1442,1
12,2003,22798,2,30992,532,7705,489,754,5206,10399,...,1392,1392,932,3287,2896,2355,8518,9922,1397,7
13,2004,23450,8,31929,645,7899,580,820,5475,9601,...,1371,1371,987,3403,3014,2416,8775,10189,1413,1
14,2005,24195,20,32877,535,8003,679,845,5856,9748,...,1342,1342,1059,3596,2910,2537,9236,10809,1568,5
15,2006,24744,42,34602,190,9204,654,947,6181,11375,...,1284,1284,1158,3832,3100,2674,9818,11512,1693,1
16,2007,27072,52,38103,171,10271,760,1126,7307,11748,...,1252,1252,1294,3875,3568,2581,10070,11808,1738,0
17,2008,24668,112,35222,271,9801,753,1487,7856,14034,...,1350,1350,1426,4183,3091,2757,10435,12525,2086,4
18,2009,19660,201,27360,542,7275,425,1363,6435,15988,...,1194,1194,1362,4380,2708,3018,11065,13273,2207,1
19,2010,24421,203,34767,282,9683,663,1290,7269,19201,...,1499,1499,1559,5013,3136,3454,11679,13892,2207,6
20,2011,26476,77,38317,371,11062,779,1527,7937,13321,...,1535,1535,1784,5271,3037,3487,12491,14856,2355,10
21,2012,26465,9,38049,418,10872,712,1612,8014,16278,...,1451,1451,1990,5787,3019,3797,12507,14842,2323,12
22,2013,30886,9,43119,333,11435,798,1495,8300,18950,...,1465,1465,2099,6027,3259,3928,13323,15993,2650,20
23,2014,35162,0,48083,485,11944,977,1679,8850,19316,...,1584,1584,2176,6450,3697,4274,14130,16757,2601,26
24,2015,39022,6,51986,423,12001,963,1533,8923,19482,...,1661,1661,2275,7024,3763,4749,14959,17628,2644,25
25,2016,40943,24,55823,1260,13841,1039,1624,9571,25194,...,1714,1714,2489,7418,4007,4929,15785,18591,2776,30
26,2017,41745,66,57619,1679,14800,1074,1876,10459,26403,...,1638,1638,2706,7983,4508,5277,16600,19629,2978,51
27,1998 Q1,3662,6,5281,41,1549,70,148,1188,2174,...,206,206,182,679,580,497,1436,1674,238,0
28,1998 Q2,4584,25,6263,50,1602,77,132,1211,2251,...,192,192,189,616,578,427,1270,1416,146,0
29,1998 Q3,4285,29,5850,60,1497,68,108,1196,1863,...,198,198,192,694,537,502,1619,1977,358,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2011 Q2,6563,14,9404,92,2647,194,455,1975,3048,...,346,346,412,1190,814,778,2940,3288,346,2
81,2011 Q3,6763,16,9750,83,2785,202,316,2038,3023,...,398,398,474,1469,772,995,3475,4259,778,6
82,2011 Q4,5936,12,9065,97,2927,202,344,1991,3906,...,466,466,487,1368,690,881,3060,3824,762,2
83,2012 Q1,7224,2,10395,135,2980,191,509,2069,4169,...,496,496,445,1323,771,878,3054,3482,428,0
84,2012 Q2,6412,1,9290,101,2696,182,479,2043,3870,...,346,346,486,1342,807,856,2870,3225,353,2
85,2012 Q3,6747,2,9402,95,2484,171,316,1961,4068,...,296,296,529,1631,754,1102,3483,4251,761,7
86,2012 Q4,6082,4,8962,87,2712,168,308,1941,4171,...,313,313,530,1491,687,961,3100,3884,781,3
87,2013 Q1,7553,2,10561,76,2836,172,384,2019,3764,...,368,368,476,1390,743,914,3165,3656,491,0
88,2013 Q2,7526,0,10579,82,2859,194,469,2100,4938,...,347,347,496,1367,833,871,3044,3465,417,4
89,2013 Q3,8368,7,11386,80,2807,211,345,2090,5287,...,369,369,556,1681,837,1125,3770,4653,874,9
90,2013 Q4,7439,0,10593,95,2933,221,297,2091,4961,...,381,381,571,1589,846,1018,3344,4219,868,7
91,2014 Q1,9113,0,12435,93,3085,237,434,2133,4675,...,390,390,497,1494,890,997,3346,3845,496,3
92,2014 Q2,8805,0,12089,111,3028,256,552,2220,4865,...,393,393,509,1477,935,968,3293,3715,416,6
93,2014 Q3,8948,0,11969,150,2782,239,359,2178,4706,...,404,404,578,1797,958,1219,3851,4684,823,10
94,2014 Q4,8296,0,11590,131,3049,245,334,2319,5070,...,397,397,592,1682,914,1090,3640,4513,866,7
95,2015 Q1,10016,0,13332,126,3078,238,459,2250,5014,...,429,429,556,1740,972,1184,3737,4245,505,3
96,2015 Q2,9566,0,12700,84,2910,224,474,2250,4674,...,412,412,525,1588,951,1063,3456,3863,402,5
97,2015 Q3,10067,3,13093,107,2777,249,308,2224,4382,...,418,418,598,1946,949,1348,4033,4883,840,10
98,2015 Q4,9373,3,12861,106,3236,252,292,2199,5412,...,402,402,596,1750,891,1154,3733,4637,897,7
99,2016 Q1,10734,6,14197,204,3205,258,435,2313,5725,...,441,441,563,1815,932,1252,3967,4510,539,4
100,2016 Q2,10410,14,14119,279,3456,253,475,2419,6339,...,450,450,575,1701,1001,1126,3728,4172,439,5
101,2016 Q3,10220,4,13944,449,3463,261,350,2393,7339,...,400,400,657,2009,1053,1352,4189,5073,874,10
102,2016 Q4,9579,0,13563,328,3717,267,364,2446,5791,...,423,423,694,1893,1021,1199,3901,4836,924,11
103,2017 Q1,11486,8,15713,357,3968,259,542,2579,6813,...,379,379,614,1878,1125,1264,4024,4646,613,9
104,2017 Q2,10594,2,14518,409,3665,259,524,2563,7112,...,396,396,670,1915,1154,1245,4041,4532,482,9
105,2017 Q3,10474,17,14426,547,3686,266,375,2719,6198,...,433,433,709,2177,1171,1468,4434,5355,905,16
106,2017 Q4,9191,39,12962,366,3481,290,435,2598,6280,...,430,430,713,2013,1058,1300,4101,5096,978,17
107,2018 Q1,11057,33,15367,389,4026,284,545,2666,5286,...,397,397,670,1957,1112,1287,3927,4521,586,8
108,2018 Q2,10712,14,14707,428,3704,291,561,2614,5538,...,397,397,668,1888,1151,1220,3828,4305,468,9
109,2018 Q3,8957,13,12847,307,3576,314,418,2692,6394,...,420,420,736,2066,1191,1330,4370,5285,897,18

The observations are in rows 7 on.

Each CDID corresponds to a unique time-series slice. Unpivot the table so we have one row per observation and drop any rows with no value for the observation.

In [3]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='Value')
observations['Value'] = pd.to_numeric(observations['Value'])
observations.dropna(inplace=True)
observations.reset_index(drop=True, inplace=True)
observations

         Period  CDID    Value
0          1998  P25X  16475.0
1          1999  P25X  17466.0
2          2000  P25X  17092.0
3          2001  P25X  20378.0
4          2002  P25X  22131.0
5          2003  P25X  22798.0
6          2004  P25X  23450.0
7          2005  P25X  24195.0
8          2006  P25X  24744.0
9          2007  P25X  27072.0
10         2008  P25X  24668.0
11         2009  P25X  19660.0
12         2010  P25X  24421.0
13         2011  P25X  26476.0
14         2012  P25X  26465.0
15         2013  P25X  30886.0
16         2014  P25X  35162.0
17         2015  P25X  39022.0
18         2016  P25X  40943.0
19         2017  P25X  41745.0
20      1998 Q1  P25X   3662.0
21      1998 Q2  P25X   4584.0
22      1998 Q3  P25X   4285.0
23      1998 Q4  P25X   3944.0
24      1999 Q1  P25X   4510.0
25      1999 Q2  P25X   4138.0
26      1999 Q3  P25X   4824.0
27      1999 Q4  P25X   3994.0
28      2000 Q1  P25X   4480.0
29      2000 Q2  P25X   4613.0
...         ...   ...      ...
440378  2011 Q2  P23K      2.0
440379  2011 Q3  P23K      6.0
440380  2011 Q4  P23K      2.0
440381  2012 Q1  P23K      0.0
440382  2012 Q2  P23K      2.0
440383  2012 Q3  P23K      7.0
440384  2012 Q4  P23K      3.0
440385  2013 Q1  P23K      0.0
440386  2013 Q2  P23K      4.0
440387  2013 Q3  P23K      9.0
440388  2013 Q4  P23K      7.0
440389  2014 Q1  P23K      3.0
440390  2014 Q2  P23K      6.0
440391  2014 Q3  P23K     10.0
440392  2014 Q4  P23K      7.0
440393  2015 Q1  P23K      3.0
440394  2015 Q2  P23K      5.0
440395  2015 Q3  P23K     10.0
440396  2015 Q4  P23K      7.0
440397  2016 Q1  P23K      4.0
440398  2016 Q2  P23K      5.0
440399  2016 Q3  P23K     10.0
440400  2016 Q4  P23K     11.0
440401  2017 Q1  P23K      9.0
440402  2017 Q2  P23K      9.0
440403  2017 Q3  P23K     16.0
440404  2017 Q4  P23K     17.0
440405  2018 Q1  P23K      8.0
440406  2018 Q2  P23K      9.0
440407  2018 Q3  P23K     18.0

[440408 rows x 3 columns]

The date/time values need to be in a format that can be used to create URIs for British calendar intervals,
see https://github.com/epimorphics/IntervalServer/blob/master/interval-uris.md#british-calendar-intervals

In [4]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        assert False, f"no match for {t}"

def period2periodicity(t):
    if t.startswith('year'):
        return 'A'
    elif t.startswith('month'):
        return 'M'
    else:
        return 'Q'

observations['Period'] = observations['Period'].apply(time2period)
observations['Periodicity'] = observations['Period'].apply(period2periodicity)
observations

                 Period  CDID    Value Periodicity
0             year/1998  P25X  16475.0           A
1             year/1999  P25X  17466.0           A
2             year/2000  P25X  17092.0           A
3             year/2001  P25X  20378.0           A
4             year/2002  P25X  22131.0           A
5             year/2003  P25X  22798.0           A
6             year/2004  P25X  23450.0           A
7             year/2005  P25X  24195.0           A
8             year/2006  P25X  24744.0           A
9             year/2007  P25X  27072.0           A
10            year/2008  P25X  24668.0           A
11            year/2009  P25X  19660.0           A
12            year/2010  P25X  24421.0           A
13            year/2011  P25X  26476.0           A
14            year/2012  P25X  26465.0           A
15            year/2013  P25X  30886.0           A
16            year/2014  P25X  35162.0           A
17            year/2015  P25X  39022.0           A
18            year/2016  P25X  40943.0           A
19            year/2017  P25X  41745.0           A
20      quarter/1998-Q1  P25X   3662.0           Q
21      quarter/1998-Q2  P25X   4584.0           Q
22      quarter/1998-Q3  P25X   4285.0           Q
23      quarter/1998-Q4  P25X   3944.0           Q
24      quarter/1999-Q1  P25X   4510.0           Q
25      quarter/1999-Q2  P25X   4138.0           Q
26      quarter/1999-Q3  P25X   4824.0           Q
27      quarter/1999-Q4  P25X   3994.0           Q
28      quarter/2000-Q1  P25X   4480.0           Q
29      quarter/2000-Q2  P25X   4613.0           Q
...                 ...   ...      ...         ...
440378  quarter/2011-Q2  P23K      2.0           Q
440379  quarter/2011-Q3  P23K      6.0           Q
440380  quarter/2011-Q4  P23K      2.0           Q
440381  quarter/2012-Q1  P23K      0.0           Q
440382  quarter/2012-Q2  P23K      2.0           Q
440383  quarter/2012-Q3  P23K      7.0           Q
440384  quarter/2012-Q4  P23K      3.0           Q
440385  quarter/2013-Q1  P23K      0.0           Q
440386  quarter/2013-Q2  P23K      4.0           Q
440387  quarter/2013-Q3  P23K      9.0           Q
440388  quarter/2013-Q4  P23K      7.0           Q
440389  quarter/2014-Q1  P23K      3.0           Q
440390  quarter/2014-Q2  P23K      6.0           Q
440391  quarter/2014-Q3  P23K     10.0           Q
440392  quarter/2014-Q4  P23K      7.0           Q
440393  quarter/2015-Q1  P23K      3.0           Q
440394  quarter/2015-Q2  P23K      5.0           Q
440395  quarter/2015-Q3  P23K     10.0           Q
440396  quarter/2015-Q4  P23K      7.0           Q
440397  quarter/2016-Q1  P23K      4.0           Q
440398  quarter/2016-Q2  P23K      5.0           Q
440399  quarter/2016-Q3  P23K     10.0           Q
440400  quarter/2016-Q4  P23K     11.0           Q
440401  quarter/2017-Q1  P23K      9.0           Q
440402  quarter/2017-Q2  P23K      9.0           Q
440403  quarter/2017-Q3  P23K     16.0           Q
440404  quarter/2017-Q4  P23K     17.0           Q
440405  quarter/2018-Q1  P23K      8.0           Q
440406  quarter/2018-Q2  P23K      9.0           Q
440407  quarter/2018-Q3  P23K     18.0           Q

[440408 rows x 4 columns]

CDID is an arbitrary/opaque 4 letter code registered by ONS and corresponds to a timeseries slice, so each CDID provides the value of a list of dimensions. These codes are elaborated in separate CSV files currently in https://github.com/ONS-OpenData/Ref_CDID/tree/master/lookup

In [5]:
from IPython.display import display, HTML
from io import BytesIO
def fetch_table(t):
    return BytesIO(scraper.session.get('https://github.com/ONS-OpenData/Ref_CDID/raw/master/lookup/' + t).content)

cdids = pd.concat((
    pd.read_csv(fetch_table(f'{k}.csv'),
                       na_values=[''], keep_default_na=False, index_col=[0,7],
                       dtype={'AREA': str, 'DIRECTION': str, 'BASIS': str,
                              'PRICE': str, 'SEASADJ': str,
                              'PRODUCT': str, 'COUNTRY': str},
                       converters={'COMMODITY': lambda x: str(x).strip()})
    #for k in ['tig_sitc', 'tig_cpa', 'tig_country', 'codelist']), sort=False)
    for k in ['tig_cpa']), sort=False)

for col in cdids:
    cdids[col] = cdids[col].astype('category')

cdids

            PRODUCT AREA DIRECTION BASIS PRICE SEASADJ
cdid PERIOD
P42L A         24.2   B5        EX   BOP    CP     NSA
     Q         24.2   B5        EX   BOP    CP     NSA
P483 A         24.2   B5        EX   BOP    CP      SA
     Q         24.2   B5        EX   BOP    CP      SA
P4DJ A         24.2   B5        EX   BOP   CVM     NSA
     Q         24.2   B5        EX   BOP   CVM     NSA
P4IZ A         24.2   B5        EX   BOP   CVM      SA
     Q         24.2   B5        EX   BOP   CVM      SA
P3EP A         24.2   B5        IM   BOP    CP     NSA
     Q         24.2   B5        IM   BOP    CP     NSA
P3K7 A         24.2   B5        IM   BOP    CP      SA
     Q         24.2   B5        IM   BOP    CP      SA
P3PN A         24.2   B5        IM   BOP   CVM     NSA
     Q         24.2   B5        IM   BOP   CVM     NSA
P3V5 A         24.2   B5        IM   BOP   CVM      SA
     Q         24.2   B5        IM   BOP   CVM      SA
P5CD A         24.2   D5        EX   BOP    CP     NSA
     Q         24.2   D5        EX   BOP    CP     NSA
P5HT A         24.2   D5        EX   BOP    CP      SA
     Q         24.2   D5        EX   BOP    CP      SA
P5NB A         24.2   D5        EX   BOP   CVM     NSA
     Q         24.2   D5        EX   BOP   CVM     NSA
P5SR A         24.2   D5        EX   BOP   CVM      SA
     Q         24.2   D5        EX   BOP   CVM      SA
P4OH A         24.2   D5        IM   BOP    CP     NSA
     Q         24.2   D5        IM   BOP    CP     NSA
P4TX A         24.2   D5        IM   BOP    CP      SA
     Q         24.2   D5        IM   BOP    CP      SA
P4ZF A         24.2   D5        IM   BOP   CVM     NSA
     Q         24.2   D5        IM   BOP   CVM     NSA
...             ...  ...       ...   ...   ...     ...
P5KB A           96   D5        EX   BOP    CP      SA
     Q           96   D5        EX   BOP    CP      SA
P5PR A           96   D5        EX   BOP   CVM     NSA
     Q           96   D5        EX   BOP   CVM     NSA
P5V9 A           96   D5        EX   BOP   CVM      SA
     Q           96   D5        EX   BOP   CVM      SA
P4QX A           96   D5        IM   BOP    CP     NSA
     Q           96   D5        IM   BOP    CP     NSA
P4WF A           96   D5        IM   BOP    CP      SA
     Q           96   D5        IM   BOP    CP      SA
P53V A           96   D5        IM   BOP   CVM     NSA
     Q           96   D5        IM   BOP   CVM     NSA
P59D A           96   D5        IM   BOP   CVM      SA
     Q           96   D5        IM   BOP   CVM      SA
P2TB A           96   W1        EX   BOP    CP     NSA
     Q           96   W1        EX   BOP    CP     NSA
P2YR A           96   W1        EX   BOP    CP      SA
     Q           96   W1        EX   BOP    CP      SA
P369 A           96   W1        EX   BOP   CVM     NSA
     Q           96   W1        EX   BOP   CVM     NSA
P3BP A           96   W1        EX   BOP   CVM      SA
     Q           96   W1        EX   BOP   CVM      SA
P27F A           96   W1        IM   BOP    CP     NSA
     Q           96   W1        IM   BOP    CP     NSA
P2CV A           96   W1        IM   BOP    CP      SA
     Q           96   W1        IM   BOP    CP      SA
P2ID A           96   W1        IM   BOP   CVM     NSA
     Q           96   W1        IM   BOP   CVM     NSA
P2NT A           96   W1        IM   BOP   CVM      SA
     Q           96   W1        IM   BOP   CVM      SA

[8802 rows x 6 columns]

Check that all CDIDs used in the source are defined in these tables.

In [6]:
defined_cdid_periods = set(cdids.index.values)
used_cdid_periods = set(
    observations[['CDID', 'Periodicity']].drop_duplicates().apply(
        lambda x: (x['CDID'], x['Periodicity']), axis='columns'
    ).values)
remaining_cdid_periods = used_cdid_periods.difference(defined_cdid_periods)
# assume all left over CDIDs are defined without periodicity
remaining_cdids = set(
    map(lambda x: x[0], remaining_cdid_periods)
).difference(set(
    map(lambda x: x[0], defined_cdid_periods)))
assert not remaining_cdids, 'Not all CDIDs defined: ' + str(remaining_cdids)

In [7]:
cdids['AREA'].cat.categories = cdids['AREA'].cat.categories.map(
    lambda x: f'legacy/{x}'
)
SECTION_RE = re.compile(r'[A-S]')
DIVISION_RE = re.compile(r'[0-9]{1,2}')
GROUP_RE = re.compile(r'[0-9]{1,2}\.[0-9]')
CLASS_RE = re.compile(r'[0-9]{2}\.[0-9]{2}')
ONS_RE = re.compile(r'30.3[ABC]|TOTAL')

def product2cpa(p):
    gre = Re()
    if gre.fullmatch(SECTION_RE, p):
        return f"section/{p}"
    elif gre.fullmatch(DIVISION_RE, p):
        if len(p) == 1:
            return f"division/0{p}"
        else:
            return f"division/{p}"
    elif gre.fullmatch(GROUP_RE, p):
        if p[1] == '.':
            return f"group/0{p}"
        else:
            return f"group/{p}"
    elif gre.fullmatch(CLASS_RE, p):
        return f"class/{p}"
    elif gre.fullmatch(ONS_RE, p):
        return f"ons/{p}"
    else:
        assert False, f"no match for {p}"
    
cdids['PRODUCT'].cat.categories = cdids['PRODUCT'].cat.categories.map(product2cpa)
cdids['DIRECTION'].cat.categories = cdids['DIRECTION'].cat.categories.map(
    lambda x: 'balance' if x == 'BAL' else 'imports' if x == 'IM' else 'exports' if x == 'EX' else None
)
cdids.rename(columns={
    'PRODUCT': 'CPA 2008',
    'AREA': 'ONS Partner Geography',
    'DIRECTION': 'Flow',
    'PRICE': 'Price Classification',
    'SEASADJ': 'Seasonal Adjustment',
    'BASIS': 'International Trade Basis'
}, inplace=True)

Merge in the dimension values

In [8]:
observations = observations.merge(
    cdids, how = 'left', left_on = ['CDID', 'Periodicity'], right_index=True)
observations['Measure Type'] = pd.Series('GBP Total', index=observations.index, dtype='category')
observations['Unit'] = pd.Series('gbp-million', index=observations.index, dtype='category')
observations = observations[['ONS Partner Geography', 'Period', 'CDID', 'International Trade Basis',
                             'Flow', 'CPA 2008', 'Price Classification', 'Seasonal Adjustment',
                             'Measure Type', 'Value', 'Unit']].drop_duplicates()
observations

,ONS Partner Geography,Period,CDID,International Trade Basis,Flow,CPA 2008,Price Classification,Seasonal Adjustment,Measure Type,Value,Unit
0,legacy/W1,year/1998,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,16475.0,gbp-million
1,legacy/W1,year/1999,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,17466.0,gbp-million
2,legacy/W1,year/2000,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,17092.0,gbp-million
3,legacy/W1,year/2001,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,20378.0,gbp-million
4,legacy/W1,year/2002,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,22131.0,gbp-million
5,legacy/W1,year/2003,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,22798.0,gbp-million
6,legacy/W1,year/2004,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,23450.0,gbp-million
7,legacy/W1,year/2005,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,24195.0,gbp-million
8,legacy/W1,year/2006,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,24744.0,gbp-million
9,legacy/W1,year/2007,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,27072.0,gbp-million
10,legacy/W1,year/2008,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,24668.0,gbp-million
11,legacy/W1,year/2009,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,19660.0,gbp-million
12,legacy/W1,year/2010,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,24421.0,gbp-million
13,legacy/W1,year/2011,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,26476.0,gbp-million
14,legacy/W1,year/2012,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,26465.0,gbp-million
15,legacy/W1,year/2013,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,30886.0,gbp-million
16,legacy/W1,year/2014,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,35162.0,gbp-million
17,legacy/W1,year/2015,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,39022.0,gbp-million
18,legacy/W1,year/2016,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,40943.0,gbp-million
19,legacy/W1,year/2017,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,41745.0,gbp-million
20,legacy/W1,quarter/1998-Q1,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,3662.0,gbp-million
21,legacy/W1,quarter/1998-Q2,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4584.0,gbp-million
22,legacy/W1,quarter/1998-Q3,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4285.0,gbp-million
23,legacy/W1,quarter/1998-Q4,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,3944.0,gbp-million
24,legacy/W1,quarter/1999-Q1,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4510.0,gbp-million
25,legacy/W1,quarter/1999-Q2,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4138.0,gbp-million
26,legacy/W1,quarter/1999-Q3,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4824.0,gbp-million
27,legacy/W1,quarter/1999-Q4,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,3994.0,gbp-million
28,legacy/W1,quarter/2000-Q1,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4480.0,gbp-million
29,legacy/W1,quarter/2000-Q2,P25X,BOP,imports,group/29.1,CP,NSA,GBP Total,4613.0,gbp-million
...,...,...,...,...,...,...,...,...,...,...,...
440378,legacy/W1,quarter/2011-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,2.0,gbp-million
440379,legacy/W1,quarter/2011-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,6.0,gbp-million
440380,legacy/W1,quarter/2011-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,2.0,gbp-million
440381,legacy/W1,quarter/2012-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,0.0,gbp-million
440382,legacy/W1,quarter/2012-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,2.0,gbp-million
440383,legacy/W1,quarter/2012-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,7.0,gbp-million
440384,legacy/W1,quarter/2012-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,3.0,gbp-million
440385,legacy/W1,quarter/2013-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,0.0,gbp-million
440386,legacy/W1,quarter/2013-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,4.0,gbp-million
440387,legacy/W1,quarter/2013-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,9.0,gbp-million
440388,legacy/W1,quarter/2013-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,7.0,gbp-million
440389,legacy/W1,quarter/2014-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,3.0,gbp-million
440390,legacy/W1,quarter/2014-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,6.0,gbp-million
440391,legacy/W1,quarter/2014-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,10.0,gbp-million
440392,legacy/W1,quarter/2014-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,7.0,gbp-million
440393,legacy/W1,quarter/2015-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,3.0,gbp-million
440394,legacy/W1,quarter/2015-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,5.0,gbp-million
440395,legacy/W1,quarter/2015-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,10.0,gbp-million
440396,legacy/W1,quarter/2015-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,7.0,gbp-million
440397,legacy/W1,quarter/2016-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,4.0,gbp-million
440398,legacy/W1,quarter/2016-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,5.0,gbp-million
440399,legacy/W1,quarter/2016-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,10.0,gbp-million
440400,legacy/W1,quarter/2016-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,11.0,gbp-million
440401,legacy/W1,quarter/2017-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,9.0,gbp-million
440402,legacy/W1,quarter/2017-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,9.0,gbp-million
440403,legacy/W1,quarter/2017-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,16.0,gbp-million
440404,legacy/W1,quarter/2017-Q4,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,17.0,gbp-million
440405,legacy/W1,quarter/2018-Q1,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,8.0,gbp-million
440406,legacy/W1,quarter/2018-Q2,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,9.0,gbp-million
440407,legacy/W1,quarter/2018-Q3,P23K,BOP,imports,group/14.2,CP,NSA,GBP Total,18.0,gbp-million

In [9]:
destFolder = Path('out')
destFolder.mkdir(exist_ok=True, parents=True)

observations.to_csv(destFolder / ('observations.csv'), index = False)

In [10]:
from gssutils.metadata import THEME
scraper.dataset.theme = THEME['business-industry-trade-energy']
scraper.dataset.family = 'Trade'
with open(destFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())