In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/internationaltrade/datasets/regionalisedestimatesofukserviceexports')
distribution = scraper.distribution(
    mediaType='application/vnd.ms-excel',
    title='Regionalised estimates of UK service exports')
display(distribution)

WARNING:Unexpected "next release" field: ('Unknown string format:', 'To be announced')

In [2]:
tidy = pd.DataFrame()

In [3]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2011')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2011'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [4]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2012')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2012'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [5]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2013')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2013'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [6]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2014')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2014'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [7]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2015')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2015'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [8]:
tab = distribution.as_pandas(sheet_name = 'NUTS1 by category 2016')
observations = tab.iloc[2:17, :13]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
table = pd.melt(observations, id_vars=['Functional category'], var_name='Area', value_name='Value')
table.Value.dropna(inplace =True)
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Year'] = '2016'
table['Flow'] = 'exports'
tidy = pd.concat([tidy, table])

In [9]:
tab = distribution.as_pandas(sheet_name = 'Northern Ireland')
observations = tab.iloc[3:18, :6]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
observations.columns.values[0] = 1
table = pd.melt(observations, id_vars=[1], var_name='Year', value_name='Value')
table.Value.dropna(inplace =True)
table.columns = ['Functional category' if x== 1 else x for x in table.columns]
table['Unit'] = 'gbp-million'
table['Measure Type'] = 'GBP Total'
table['Area'] = 'Northern Ireland'
table['Flow'] = 'exports'
table['Year'] = table['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
table['Year'] = table['Year'].astype(int)
tidy = pd.concat([tidy, table], sort=False)

In [10]:
tidy['Area'] = tidy['Area'].map(lambda x: { 'Yorkshire and the Humber':'Yorkshire and The Humber' }.get(x, x))

In [11]:
for col in tidy.columns:
    if col not in ['Value', 'Year']:
        tidy[col] = tidy[col].astype('category')
        display(col)
        display(tidy[col].cat.categories)

'Functional category'

Index(['Administrative and support services', 'Construction', 'Financial',
       'Information and communication', 'Insurance and pension services',
       'Manufacturing', 'Other services', 'Primary and utilities',
       'Real estate, professional, scientific and technical',
       'Retail (excluding motor trades)', 'Total in all categories',
       'Total in all categories for NUTS1 area', 'Transport', 'Travel',
       'Wholesale and motor trades'],
      dtype='object')

'Area'

Index(['East Midlands', 'East of England', 'London', 'North East',
       'North West', 'Northern Ireland', 'Scotland', 'South East',
       'South West', 'Total for functional category', 'Wales', 'West Midlands',
       'Yorkshire and The Humber'],
      dtype='object')

'Unit'

Index(['gbp-million'], dtype='object')

'Measure Type'

Index(['GBP Total'], dtype='object')

'Flow'

Index(['exports'], dtype='object')

In [12]:
tidy['NUTS Geography'] = tidy['Area'].cat.rename_categories({
    'East Midlands' : 'nuts1/UKF', 
    'East of England': 'nuts1/UKH', 
    'London' : 'nuts1/UKI', 
    'North East' : 'nuts1/UKC',
    'North West' : 'nuts1/UKD', 
    'Scotland' : 'nuts1/UKM', 
    'South East' : 'nuts1/UKJ', 
    'South West' : 'nuts1/UKK',
     'Total for functional category' : 'nuts1/all', 
    'Wales' : 'nuts1/UKL', 
    'West Midlands' : 'nuts1/UKG',
    'Yorkshire and The Humber' : 'nuts1/UKE',
    'Northern Ireland' : 'nuts1/UKN'
})
tidy['ONS Functional Category'] = tidy['Functional category'].cat.rename_categories({
    'Administrative and support services' : 'administrative-support' , 
    'Construction' :'construction', 
    'Financial' : 'financial',
    'Information and communication' : 'information-communication', 
    'Insurance and pension services' : 'insurance-pension',
    'Manufacturing' : 'manufacturing', 
    'Other services' : 'other', 
    'Primary and utilities' :'primary-utilities',
    'Real estate, professional, scientific and technical' : 'real-estate',
    'Retail (excluding motor trades)' : 'retail',
    'Total in all categories for NUTS1 area' : 'all',
    'Transport' : 'transport', 
    'Travel' : 'travel',
    'Wholesale and motor trades' : 'wholesale-motor'            
})

In [13]:
tidy['Value'] = tidy['Value'].map(lambda x:'' 
                            if (x == ':') | (x == 'xx') | (x == '..') 
                            else int(x))

In [14]:
tidy.head()

,Functional category,Area,Value,Unit,Measure Type,Year,Flow,NUTS Geography,ONS Functional Category
0,Primary and utilities,North East,5,gbp-million,GBP Total,2011,exports,nuts1/UKC,primary-utilities
1,Manufacturing,North East,464,gbp-million,GBP Total,2011,exports,nuts1/UKC,manufacturing
2,Transport,North East,430,gbp-million,GBP Total,2011,exports,nuts1/UKC,transport
3,Travel,North East,273,gbp-million,GBP Total,2011,exports,nuts1/UKC,travel
4,Construction,North East,12,gbp-million,GBP Total,2011,exports,nuts1/UKC,construction

In [15]:
tidy = tidy[['NUTS Geography','Year','ONS Functional Category','Flow','Measure Type','Value','Unit']]

In [16]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
tidy.drop_duplicates().to_csv(out / 'observations.csv', index = False)

In [17]:
from gssutils.metadata import THEME

scraper.dataset.family = 'trade'
scraper.dataset.theme = THEME['business-industry-trade-energy']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [18]:
tidy

,NUTS Geography,Year,ONS Functional Category,Flow,Measure Type,Value,Unit
0,nuts1/UKC,2011,primary-utilities,exports,GBP Total,5,gbp-million
1,nuts1/UKC,2011,manufacturing,exports,GBP Total,464,gbp-million
2,nuts1/UKC,2011,transport,exports,GBP Total,430,gbp-million
3,nuts1/UKC,2011,travel,exports,GBP Total,273,gbp-million
4,nuts1/UKC,2011,construction,exports,GBP Total,12,gbp-million
5,nuts1/UKC,2011,wholesale-motor,exports,GBP Total,99,gbp-million
6,nuts1/UKC,2011,retail,exports,GBP Total,21,gbp-million
7,nuts1/UKC,2011,information-communication,exports,GBP Total,135,gbp-million
8,nuts1/UKC,2011,real-estate,exports,GBP Total,292,gbp-million
9,nuts1/UKC,2011,insurance-pension,exports,GBP Total,201,gbp-million
10,nuts1/UKC,2011,financial,exports,GBP Total,792,gbp-million
11,nuts1/UKC,2011,administrative-support,exports,GBP Total,58,gbp-million
12,nuts1/UKC,2011,other,exports,GBP Total,14,gbp-million
13,nuts1/UKC,2011,all,exports,GBP Total,2798,gbp-million
14,nuts1/UKD,2011,primary-utilities,exports,GBP Total,38,gbp-million
15,nuts1/UKD,2011,manufacturing,exports,GBP Total,1830,gbp-million
16,nuts1/UKD,2011,transport,exports,GBP Total,1837,gbp-million
17,nuts1/UKD,2011,travel,exports,GBP Total,1200,gbp-million
18,nuts1/UKD,2011,construction,exports,GBP Total,33,gbp-million
19,nuts1/UKD,2011,wholesale-motor,exports,GBP Total,788,gbp-million
20,nuts1/UKD,2011,retail,exports,GBP Total,77,gbp-million
21,nuts1/UKD,2011,information-communication,exports,GBP Total,667,gbp-million
22,nuts1/UKD,2011,real-estate,exports,GBP Total,1525,gbp-million
23,nuts1/UKD,2011,insurance-pension,exports,GBP Total,1501,gbp-million
24,nuts1/UKD,2011,financial,exports,GBP Total,2993,gbp-million
25,nuts1/UKD,2011,administrative-support,exports,GBP Total,216,gbp-million
26,nuts1/UKD,2011,other,exports,GBP Total,167,gbp-million
27,nuts1/UKD,2011,all,exports,GBP Total,12872,gbp-million
28,nuts1/UKE,2011,primary-utilities,exports,GBP Total,13,gbp-million
29,nuts1/UKE,2011,manufacturing,exports,GBP Total,439,gbp-million
...,...,...,...,...,...,...,...
40,nuts1/UKN,2013,other,exports,GBP Total,33,gbp-million
41,nuts1/UKN,2013,Total in all categories,exports,GBP Total,2557,gbp-million
42,nuts1/UKN,2014,primary-utilities,exports,GBP Total,,gbp-million
43,nuts1/UKN,2014,manufacturing,exports,GBP Total,178,gbp-million
44,nuts1/UKN,2014,transport,exports,GBP Total,294,gbp-million
45,nuts1/UKN,2014,travel,exports,GBP Total,302,gbp-million
46,nuts1/UKN,2014,construction,exports,GBP Total,241,gbp-million
47,nuts1/UKN,2014,wholesale-motor,exports,GBP Total,40,gbp-million
48,nuts1/UKN,2014,retail,exports,GBP Total,8,gbp-million
49,nuts1/UKN,2014,information-communication,exports,GBP Total,433,gbp-million
50,nuts1/UKN,2014,real-estate,exports,GBP Total,,gbp-million
51,nuts1/UKN,2014,insurance-pension,exports,GBP Total,,gbp-million
52,nuts1/UKN,2014,financial,exports,GBP Total,,gbp-million
53,nuts1/UKN,2014,administrative-support,exports,GBP Total,118,gbp-million
54,nuts1/UKN,2014,other,exports,GBP Total,37,gbp-million
55,nuts1/UKN,2014,Total in all categories,exports,GBP Total,2528,gbp-million
56,nuts1/UKN,2015,primary-utilities,exports,GBP Total,,gbp-million
57,nuts1/UKN,2015,manufacturing,exports,GBP Total,167,gbp-million
58,nuts1/UKN,2015,transport,exports,GBP Total,285,gbp-million
59,nuts1/UKN,2015,travel,exports,GBP Total,300,gbp-million
60,nuts1/UKN,2015,construction,exports,GBP Total,166,gbp-million
61,nuts1/UKN,2015,wholesale-motor,exports,GBP Total,58,gbp-million
62,nuts1/UKN,2015,retail,exports,GBP Total,10,gbp-million
63,nuts1/UKN,2015,information-communication,exports,GBP Total,466,gbp-million
64,nuts1/UKN,2015,real-estate,exports,GBP Total,,gbp-million
65,nuts1/UKN,2015,insurance-pension,exports,GBP Total,,gbp-million
66,nuts1/UKN,2015,financial,exports,GBP Total,,gbp-million
67,nuts1/UKN,2015,administrative-support,exports,GBP Total,142,gbp-million
68,nuts1/UKN,2015,other,exports,GBP Total,53,gbp-million
69,nuts1/UKN,2015,Total in all categories,exports,GBP Total,2387,gbp-million