###  CPA xlsx to Tidydata

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/internationaltrade/datasets/' + \
                  'uktradeingoodsbyclassificationofproductbyactivity')
scraper

## UK trade in goods by classification of product by activity time series

Quarterly and annual times series of the value of UK imports and exports of goods grouped by product. Goods are attributed to the activity of which they are the principal products.

### Distributions

1. UK trade in goods by classification of product by activity time series ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeingoodsbyclassificationofproductbyactivity/current/mq10.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None)

WARNING:Cache entry deserialization failed, entry ignored

In [3]:
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

,Period,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P25S,P264,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
0,Title,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,CPA 08:WW:IM:CP:BOP:NSA: 30.4. Military fighti...,"CPA 08:WW:IM:CP:BOP:NSA: 29. Motor vehicles, t...",CPA 08:WW:IM:CP:BOP:NSA: 30.2. Railway locomot...,CPA 08:WW:IM:CP:BOP:NSA: 29.3. Parts & accesso...,CPA 08:WW:IM:CP:BOP:NSA: 29.2. Bodies for moto...,CPA 08:WW:IM:CP:BOP:NSA: 28.3. Agricultural & ...,CPA 08:WW:IM:CP:BOP:NSA: 28.2. Other general-p...,CPA 08:WW:IM:CP:BOP:NSA: 30.3. Air & spacecraf...,...,CPA 08:WW:IM:CP:BOP:NSA: 12.0. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 12. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 15.1. Tanned & dresse...,CPA 08:WW:IM:CP:BOP:NSA: 15. Leather & related...,CPA 08:WW:IM:CP:BOP:NSA: 16. Wood and prod of ...,CPA 08:WW:IM:CP:BOP:NSA: 15.2. Footwear,CPA 08:WW:IM:CP:BOP:NSA: 14.1. Wearing apparel...,CPA 08:WW:IM:CP:BOP:NSA: 14. Wearing apparel,CPA 08:WW:IM:CP:BOP:NSA: 14.3. Knitted & croch...,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
1,CDID,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P25S,P264,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
2,PreUnit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Release Date,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,...,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018,14-12-2018
5,Next release,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,...,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019,15 March 2019
6,Important Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1998,16475,95,23051,258,6289,287,489,4754,8452,...,815,815,735,2599,2227,1864,5771,6861,1090,0
8,1999,17466,20,24774,379,7022,286,608,4698,8388,...,1097,1097,751,2783,2307,2032,6107,7275,1168,0
9,2000,17092,4,24012,427,6650,270,543,4988,8854,...,1233,1233,879,2882,2548,2003,6988,8206,1218,0
10,2001,20378,2,27233,362,6512,343,574,5049,11649,...,1251,1251,908,3177,2589,2269,7490,8881,1391,0
11,2002,22131,2,29753,374,7226,396,709,4938,12449,...,1180,1180,891,3247,2734,2356,8036,9479,1442,1
12,2003,22798,2,30992,532,7705,489,754,5206,10399,...,1392,1392,932,3287,2896,2355,8518,9922,1397,7
13,2004,23450,8,31929,645,7899,580,820,5475,9601,...,1371,1371,987,3403,3014,2416,8775,10189,1413,1
14,2005,24195,20,32877,535,8003,679,845,5856,9748,...,1342,1342,1059,3596,2910,2537,9236,10809,1568,5
15,2006,24744,42,34602,190,9204,654,947,6181,11375,...,1284,1284,1158,3832,3100,2674,9818,11512,1693,1
16,2007,27072,52,38103,171,10271,760,1126,7307,11748,...,1252,1252,1294,3875,3568,2581,10070,11808,1738,0
17,2008,24668,112,35222,271,9801,753,1487,7856,14034,...,1350,1350,1426,4183,3091,2757,10435,12525,2086,4
18,2009,19660,201,27360,542,7275,425,1363,6435,15988,...,1194,1194,1362,4380,2708,3018,11065,13273,2207,1
19,2010,24421,203,34767,282,9683,663,1290,7269,19201,...,1499,1499,1559,5013,3136,3454,11679,13892,2207,6
20,2011,26476,77,38317,371,11062,779,1527,7937,13321,...,1535,1535,1784,5271,3037,3487,12491,14856,2355,10
21,2012,26465,9,38049,418,10872,712,1612,8014,16278,...,1451,1451,1990,5787,3019,3797,12507,14842,2323,12
22,2013,30886,9,43119,333,11435,798,1495,8300,18950,...,1465,1465,2099,6027,3259,3928,13323,15993,2650,20
23,2014,35162,0,48083,485,11944,977,1679,8850,19316,...,1584,1584,2176,6450,3697,4274,14130,16757,2601,26
24,2015,39022,6,51986,423,12001,963,1533,8923,19482,...,1661,1661,2275,7024,3763,4749,14959,17628,2644,25
25,2016,40943,24,55823,1260,13841,1039,1624,9571,25194,...,1714,1714,2489,7418,4007,4929,15785,18591,2776,30
26,2017,41745,66,57619,1679,14800,1074,1876,10459,26403,...,1638,1638,2706,7983,4508,5277,16600,19629,2978,51
27,1998 Q1,3662,6,5281,41,1549,70,148,1188,2174,...,206,206,182,679,580,497,1436,1674,238,0
28,1998 Q2,4584,25,6263,50,1602,77,132,1211,2251,...,192,192,189,616,578,427,1270,1416,146,0
29,1998 Q3,4285,29,5850,60,1497,68,108,1196,1863,...,198,198,192,694,537,502,1619,1977,358,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2011 Q2,6563,14,9404,92,2647,194,455,1975,3048,...,346,346,412,1190,814,778,2940,3288,346,2
81,2011 Q3,6763,16,9750,83,2785,202,316,2038,3023,...,398,398,474,1469,772,995,3475,4259,778,6
82,2011 Q4,5936,12,9065,97,2927,202,344,1991,3906,...,466,466,487,1368,690,881,3060,3824,762,2
83,2012 Q1,7224,2,10395,135,2980,191,509,2069,4169,...,496,496,445,1323,771,878,3054,3482,428,0
84,2012 Q2,6412,1,9290,101,2696,182,479,2043,3870,...,346,346,486,1342,807,856,2870,3225,353,2
85,2012 Q3,6747,2,9402,95,2484,171,316,1961,4068,...,296,296,529,1631,754,1102,3483,4251,761,7
86,2012 Q4,6082,4,8962,87,2712,168,308,1941,4171,...,313,313,530,1491,687,961,3100,3884,781,3
87,2013 Q1,7553,2,10561,76,2836,172,384,2019,3764,...,368,368,476,1390,743,914,3165,3656,491,0
88,2013 Q2,7526,0,10579,82,2859,194,469,2100,4938,...,347,347,496,1367,833,871,3044,3465,417,4
89,2013 Q3,8368,7,11386,80,2807,211,345,2090,5287,...,369,369,556,1681,837,1125,3770,4653,874,9
90,2013 Q4,7439,0,10593,95,2933,221,297,2091,4961,...,381,381,571,1589,846,1018,3344,4219,868,7
91,2014 Q1,9113,0,12435,93,3085,237,434,2133,4675,...,390,390,497,1494,890,997,3346,3845,496,3
92,2014 Q2,8805,0,12089,111,3028,256,552,2220,4865,...,393,393,509,1477,935,968,3293,3715,416,6
93,2014 Q3,8948,0,11969,150,2782,239,359,2178,4706,...,404,404,578,1797,958,1219,3851,4684,823,10
94,2014 Q4,8296,0,11590,131,3049,245,334,2319,5070,...,397,397,592,1682,914,1090,3640,4513,866,7
95,2015 Q1,10016,0,13332,126,3078,238,459,2250,5014,...,429,429,556,1740,972,1184,3737,4245,505,3
96,2015 Q2,9566,0,12700,84,2910,224,474,2250,4674,...,412,412,525,1588,951,1063,3456,3863,402,5
97,2015 Q3,10067,3,13093,107,2777,249,308,2224,4382,...,418,418,598,1946,949,1348,4033,4883,840,10
98,2015 Q4,9373,3,12861,106,3236,252,292,2199,5412,...,402,402,596,1750,891,1154,3733,4637,897,7
99,2016 Q1,10734,6,14197,204,3205,258,435,2313,5725,...,441,441,563,1815,932,1252,3967,4510,539,4
100,2016 Q2,10410,14,14119,279,3456,253,475,2419,6339,...,450,450,575,1701,1001,1126,3728,4172,439,5
101,2016 Q3,10220,4,13944,449,3463,261,350,2393,7339,...,400,400,657,2009,1053,1352,4189,5073,874,10
102,2016 Q4,9579,0,13563,328,3717,267,364,2446,5791,...,423,423,694,1893,1021,1199,3901,4836,924,11
103,2017 Q1,11486,8,15713,357,3968,259,542,2579,6813,...,379,379,614,1878,1125,1264,4024,4646,613,9
104,2017 Q2,10594,2,14518,409,3665,259,524,2563,7112,...,396,396,670,1915,1154,1245,4041,4532,482,9
105,2017 Q3,10474,17,14426,547,3686,266,375,2719,6198,...,433,433,709,2177,1171,1468,4434,5355,905,16
106,2017 Q4,9191,39,12962,366,3481,290,435,2598,6280,...,430,430,713,2013,1058,1300,4101,5096,978,17
107,2018 Q1,11057,33,15367,389,4026,284,545,2666,5286,...,397,397,670,1957,1112,1287,3927,4521,586,8
108,2018 Q2,10712,14,14707,428,3704,291,561,2614,5538,...,397,397,668,1888,1151,1220,3828,4305,468,9
109,2018 Q3,8957,13,12847,307,3576,314,418,2692,6394,...,420,420,736,2066,1191,1330,4370,5285,897,18

In [4]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations.head()

,Period,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P25S,P264,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
7,1998,16475,95,23051,258,6289,287,489,4754,8452,...,815,815,735,2599,2227,1864,5771,6861,1090,0
8,1999,17466,20,24774,379,7022,286,608,4698,8388,...,1097,1097,751,2783,2307,2032,6107,7275,1168,0
9,2000,17092,4,24012,427,6650,270,543,4988,8854,...,1233,1233,879,2882,2548,2003,6988,8206,1218,0
10,2001,20378,2,27233,362,6512,343,574,5049,11649,...,1251,1251,908,3177,2589,2269,7490,8881,1391,0
11,2002,22131,2,29753,374,7226,396,709,4938,12449,...,1180,1180,891,3247,2734,2356,8036,9479,1442,1

In [5]:
new_table = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='OBS')
new_table.dropna(inplace=True)
new_table.reset_index(drop=True, inplace=True)
print(len(new_table))
new_table.tail(5)
new_table.head(5)

440408

  Period  CDID    OBS
0   1998  P25X  16475
1   1999  P25X  17466
2   2000  P25X  17092
3   2001  P25X  20378
4   2002  P25X  22131

In [6]:
new_table.count()

Period    440408
CDID      440408
OBS       440408
dtype: int64

In [7]:
new_table['Title'] = tab.iloc[0][new_table['CDID']].values
new_table.head()

  Period  CDID    OBS                                          Title
0   1998  P25X  16475  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
1   1999  P25X  17466  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
2   2000  P25X  17092  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
3   2001  P25X  20378  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
4   2002  P25X  22131  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles

In [8]:
new_table['Period'].unique()

array(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1998 Q1', '1998 Q2', '1998 Q3',
       '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1',
       '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3',
       '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1',
       '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3',
       '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1',
       '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3',
       '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1',
       '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3',
       '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1',
       '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3',
       '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1',
       '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3',
       '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1',
       '2018 Q2', '2018 Q3'], dtype=object)

In [9]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

new_table['Period'] = new_table['Period'].apply(time2period)
new_table

,Period,CDID,OBS,Title
0,year/1998,P25X,16475,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
1,year/1999,P25X,17466,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
2,year/2000,P25X,17092,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
3,year/2001,P25X,20378,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
4,year/2002,P25X,22131,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
5,year/2003,P25X,22798,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
6,year/2004,P25X,23450,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
7,year/2005,P25X,24195,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
8,year/2006,P25X,24744,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
9,year/2007,P25X,27072,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
10,year/2008,P25X,24668,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
11,year/2009,P25X,19660,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
12,year/2010,P25X,24421,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
13,year/2011,P25X,26476,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
14,year/2012,P25X,26465,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
15,year/2013,P25X,30886,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
16,year/2014,P25X,35162,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
17,year/2015,P25X,39022,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
18,year/2016,P25X,40943,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
19,year/2017,P25X,41745,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
20,quarter/1998-Q1,P25X,3662,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
21,quarter/1998-Q2,P25X,4584,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
22,quarter/1998-Q3,P25X,4285,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
23,quarter/1998-Q4,P25X,3944,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
24,quarter/1999-Q1,P25X,4510,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
25,quarter/1999-Q2,P25X,4138,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
26,quarter/1999-Q3,P25X,4824,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
27,quarter/1999-Q4,P25X,3994,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
28,quarter/2000-Q1,P25X,4480,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
29,quarter/2000-Q2,P25X,4613,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
...,...,...,...,...
440378,quarter/2011-Q2,P23K,2,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440379,quarter/2011-Q3,P23K,6,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440380,quarter/2011-Q4,P23K,2,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440381,quarter/2012-Q1,P23K,0,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440382,quarter/2012-Q2,P23K,2,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440383,quarter/2012-Q3,P23K,7,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440384,quarter/2012-Q4,P23K,3,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440385,quarter/2013-Q1,P23K,0,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440386,quarter/2013-Q2,P23K,4,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440387,quarter/2013-Q3,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440388,quarter/2013-Q4,P23K,7,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440389,quarter/2014-Q1,P23K,3,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440390,quarter/2014-Q2,P23K,6,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440391,quarter/2014-Q3,P23K,10,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440392,quarter/2014-Q4,P23K,7,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440393,quarter/2015-Q1,P23K,3,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440394,quarter/2015-Q2,P23K,5,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440395,quarter/2015-Q3,P23K,10,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440396,quarter/2015-Q4,P23K,7,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440397,quarter/2016-Q1,P23K,4,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440398,quarter/2016-Q2,P23K,5,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440399,quarter/2016-Q3,P23K,10,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440400,quarter/2016-Q4,P23K,11,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440401,quarter/2017-Q1,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440402,quarter/2017-Q2,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440403,quarter/2017-Q3,P23K,16,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440404,quarter/2017-Q4,P23K,17,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440405,quarter/2018-Q1,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440406,quarter/2018-Q2,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
440407,quarter/2018-Q3,P23K,18,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur

In [10]:
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'gbp-million'
new_table['Measure Type'] = 'GBP Total'
new_table.tail(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
440403,quarter/2017-Q3,P23K,16,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,gbp-million,GBP Total
440404,quarter/2017-Q4,P23K,17,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,gbp-million,GBP Total
440405,quarter/2018-Q1,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,gbp-million,GBP Total
440406,quarter/2018-Q2,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,gbp-million,GBP Total
440407,quarter/2018-Q3,P23K,18,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,gbp-million,GBP Total

In [11]:
cord_sitc_classification_table_url = 'https://drive.google.com/uc?export=download&id=1uJck_DtSgLs0XcEuKDB0swzj1UrWmauj'
temp_table = pd.read_excel(cord_sitc_classification_table_url, sheet_name = 0)

In [12]:
temp_table = temp_table.reset_index()

In [13]:
temp_table.drop(['level_0','level_1','Sequence'], axis =1, inplace = True)

In [14]:
temp_table.tail()

      cdid  COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
6196  BPFR  5min8minE   WW        IM   BOP  IDEF     NSA      M
6197  BPGR  5min8minE   WW        IM   BOP  IDEF      SA      M
6198  BPCR  5min8minE   WW        IM   BOP    VM     NSA      M
6199  ELAI  5min8minE   WW        IM   BOP    VM      SA      M
6200   NaN        NaN  NaN       NaN   NaN   NaN     NaN    NaN

In [15]:
CSDB_classification_tables_url = 'https://drive.google.com/uc?export=download&id=1miAzQ6s8om4Ark3BpRk3Y90OAWfWErTb'
classification1 = pd.read_excel(CSDB_classification_tables_url, 'cord_sitc')

In [16]:
classification1.tail(5)

      cdid  COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
6193  ELAX  5min8minE   WW        IM   BOP   DEF     NSA      Q
6194  BPFR  5min8minE   WW        IM   BOP  IDEF     NSA      Q
6195  BPGR  5min8minE   WW        IM   BOP  IDEF      SA      Q
6196  BPCR  5min8minE   WW        IM   BOP    VM     NSA      Q
6197  ELAI  5min8minE   WW        IM   BOP    VM      SA      Q

In [17]:
classification2 = pd.read_excel(CSDB_classification_tables_url, 'cord_cpa')

In [18]:
classification2.head(5)

   cdid PRODUCT AREA DIRECTION BASIS PRICE SEASADJ PERIOD
0  P42L    24.2   EU        EX   BOP    CP     NSA      Q
1  P483    24.2   EU        EX   BOP    CP      SA      Q
2  P4DJ    24.2   EU        EX   BOP   CVM     NSA      Q
3  P4IZ    24.2   EU        EX   BOP   CVM      SA      Q
4  P3EP    24.2   EU        IM   BOP    CP     NSA      Q

In [19]:
classification2.rename(index = str, columns = {'PRODUCT':'COMMODITY'}, inplace = True)

In [20]:
classification3 = pd.read_excel(CSDB_classification_tables_url, 'cord_country')

In [21]:
classification3.head(5)

   cdid COUNTRY DIRECTION BASIS SEASADJ PERIOD
0  KN2O      XS       BAL   BOP     NSA      Q
1  LGDS      V4       BAL   BOP     NSA      Q
2  L87P      V3       BAL   BOP     NSA      Q
3  L87J      V2       BAL   BOP     NSA      Q
4  MHN8      I7       BAL   BOP     NSA      Q

In [22]:
classification3['COMMODITY'] = ''
classification3['PRICE'] = ''

In [23]:
classification3.rename(index = str, columns = {'COUNTRY':'AREA'}, inplace = True)

In [24]:
temp_table = pd.concat([temp_table, classification1, classification2,classification3])

/home/alex/.virtualenvs/databaker/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [25]:
temp_table.head()

  AREA BASIS COMMODITY DIRECTION PERIOD PRICE SEASADJ  cdid
0   EU   BOP    2plus4       BAL      M    CP     NSA  SDSX
1   EU   BOP   5minus8       BAL      M    CP     NSA  SGLO
2   EU   BOP    7plus8       BAL      M    CP     NSA  SFJC
3   EU   BOP   TminusO       BAL      M    CP     NSA  LKTX
4   EU   BOP    0plus1       BAL      M    CP     NSA  SDMS

In [26]:
temp_table.shape

(18264, 8)

In [27]:
temp_table.drop_duplicates(['cdid'], keep='first', inplace=True)

In [28]:
temp_table.shape

(12043, 8)

In [29]:
new_table.head()

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
0,year/1998,P25X,16475,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total
1,year/1999,P25X,17466,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total
2,year/2000,P25X,17092,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total
3,year/2001,P25X,20378,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total
4,year/2002,P25X,22131,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total

In [30]:
# new_table.head(1)['Cdid']

In [31]:
# temp_table.head(1)['cdid']

In [32]:
new_table = pd.merge(new_table,temp_table, how = 'left', left_on = 'CDID', right_on = 'cdid')

In [33]:
new_table.head(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type,AREA,BASIS,COMMODITY,DIRECTION,PERIOD,PRICE,SEASADJ,cdid
0,year/1998,P25X,16475,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
1,year/1999,P25X,17466,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
2,year/2000,P25X,17092,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
3,year/2001,P25X,20378,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
4,year/2002,P25X,22131,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X

In [34]:
new_table.drop(['cdid'], axis = 1, inplace = True)

In [35]:
new_table.head(2)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type,AREA,BASIS,COMMODITY,DIRECTION,PERIOD,PRICE,SEASADJ
0,year/1998,P25X,16475,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA
1,year/1999,P25X,17466,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,gbp-million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA

In [36]:
new_table['ONS Partner Geography'] ='legacy/'+ new_table['AREA'].astype(str)

In [37]:
new_table.rename(index= str, columns= {'OBS':'Value', 'DIRECTION':'Flow',
                                       'COMMODITY':'CPA 2008', 'SEASADJ':'Seasonal Adjustment',
                                       'PRICE':'Price Classification', 'BASIS': 'International Trade Basis'
                                      }, inplace = True)

In [38]:
new_table = new_table[new_table['Value'] != 0 ]

In [39]:
new_table = new_table[['ONS Partner Geography','Period','CDID','International Trade Basis','CPA 2008','Seasonal Adjustment','Flow','Price Classification','Measure Type','Value','Unit']]

In [40]:
new_table.tail(5)

,ONS Partner Geography,Period,CDID,International Trade Basis,CPA 2008,Seasonal Adjustment,Flow,Price Classification,Measure Type,Value,Unit
440403,legacy/WW,quarter/2017-Q3,P23K,BOP,14.2,NSA,IM,CP,GBP Total,16,gbp-million
440404,legacy/WW,quarter/2017-Q4,P23K,BOP,14.2,NSA,IM,CP,GBP Total,17,gbp-million
440405,legacy/WW,quarter/2018-Q1,P23K,BOP,14.2,NSA,IM,CP,GBP Total,8,gbp-million
440406,legacy/WW,quarter/2018-Q2,P23K,BOP,14.2,NSA,IM,CP,GBP Total,9,gbp-million
440407,legacy/WW,quarter/2018-Q3,P23K,BOP,14.2,NSA,IM,CP,GBP Total,18,gbp-million

In [41]:
new_table.fillna('NA', inplace = True)

In [42]:
new_table['Price Classification'].unique()

array(['CP', 'CVM'], dtype=object)

In [43]:
new_table.Flow.unique()

array(['IM', 'EX'], dtype=object)

In [44]:
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('EX', 'exports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('IM', 'imports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('BAL', 'balance'))

In [45]:
new_table['ONS Partner Geography'].unique()

array(['legacy/WW', 'legacy/EU', 'legacy/RW'], dtype=object)

In [46]:
new_table['International Trade Basis'].unique()

array(['BOP'], dtype=object)

CPA codes: the first number should be padded with a leading zero if it's < 10.

In [47]:
import re
r = re.compile('([1-9])\.')

new_table['CPA 2008'] = new_table['CPA 2008'].map(lambda x: '0' + str(x) if r.match(str(x)) else str(x))

In [48]:
str(new_table.head(1)['CPA 2008'])[-1]

't'

In [49]:
new_table.iloc[7200]

ONS Partner Geography          legacy/WW
Period                         year/2001
CDID                                P289
International Trade Basis            BOP
CPA 2008                               C
Seasonal Adjustment                   SA
Flow                             imports
Price Classification                  CP
Measure Type                   GBP Total
Value                             210614
Unit                         gbp-million
Name: 7728, dtype: object

In [50]:
def func(x):
    try:
        if x == 'TOTAL':
            return 'TOTAL'
        elif (x == 'A')|(x == 'B')|(x == 'C')|(x == 'D')|(x == 'E')|(x == 'J')|(x == 'M')|(x == 'R')|(x == 'S'):
            return 'section/'+ str(x)     
        elif str(x)[-2] == '.':
            return 'group/' + str(x) 
        elif  '.' in str(x) :
             return 'class/' + str(x)
        else:
            try:
                str(x)[-2]
                return 'division/' + str(x)
            except:
                return 'division/0' + str(x)
    except:
            try:
                str(x)[-2]
                return 'division/' + str(x)
            except:
                return 'division/0' + str(x)
   

new_table['CPA 2008'] = new_table.apply(lambda row: func(row['CPA 2008']), axis = 1)

In [51]:
new_table.iloc[201]

ONS Partner Geography          legacy/WW
Period                         year/2015
CDID                                P25W
International Trade Basis            BOP
CPA 2008                     division/29
Seasonal Adjustment                  NSA
Flow                             imports
Price Classification                  CP
Measure Type                   GBP Total
Value                              51986
Unit                         gbp-million
Name: 223, dtype: object

In [52]:
new_table.tail()

,ONS Partner Geography,Period,CDID,International Trade Basis,CPA 2008,Seasonal Adjustment,Flow,Price Classification,Measure Type,Value,Unit
440403,legacy/WW,quarter/2017-Q3,P23K,BOP,group/14.2,NSA,imports,CP,GBP Total,16,gbp-million
440404,legacy/WW,quarter/2017-Q4,P23K,BOP,group/14.2,NSA,imports,CP,GBP Total,17,gbp-million
440405,legacy/WW,quarter/2018-Q1,P23K,BOP,group/14.2,NSA,imports,CP,GBP Total,8,gbp-million
440406,legacy/WW,quarter/2018-Q2,P23K,BOP,group/14.2,NSA,imports,CP,GBP Total,9,gbp-million
440407,legacy/WW,quarter/2018-Q3,P23K,BOP,group/14.2,NSA,imports,CP,GBP Total,18,gbp-million

In [53]:
new_table['CPA 2008'].unique()

array(['group/29.1', 'group/30.4', 'division/29', 'group/30.2',
       'group/29.3', 'group/29.2', 'group/28.3', 'group/28.2',
       'group/30.3', 'group/28.9', 'group/28.4', 'group/30.9',
       'division/32', 'division/31', 'group/32.9', 'group/32.5',
       'division/35', 'section/D', 'group/32.2', 'group/32.1',
       'group/32.4', 'group/32.3', 'division/38', 'group/59.2',
       'group/38.2', 'division/71', 'group/38.1', 'section/M',
       'group/35.1', 'section/E', 'group/24.1', 'group/25.7',
       'division/24', 'group/25.4', 'group/24.3', 'group/24.2',
       'group/25.9', 'group/23.6', 'group/25.1', 'group/23.5',
       'division/25', 'group/23.9', 'group/25.3', 'group/23.7',
       'group/25.2', 'group/26.1', 'division/26', 'group/24.4',
       'group/26.7', 'group/26.6', 'division/27', 'group/26.8',
       'group/26.3', 'group/26.2', 'group/26.5', 'group/26.4',
       'group/27.9', 'group/27.5', 'group/28.1', 'group/30.1',
       'division/28', 'division/30', 'group/27.2', 'group/27.1',
       'group/27.4', 'group/27.3', 'group/06.1', 'division/06',
       'division/05', 'group/08.1', 'section/B', 'division/08',
       'section/C', 'group/05.1', 'group/08.9', 'group/10.2',
       'group/10.1', 'group/10.4', 'group/10.3', 'division/10',
       'division/11', 'group/10.9', 'class/11.02', 'class/11.01',
       'group/10.6', 'group/10.5', 'group/10.8', 'group/10.7',
       'division/12', 'division/15', 'class/11.07', 'group/14.3',
       'division/13', 'group/15.2', 'group/15.1', 'class/11.04',
       'class/11.03', 'class/11.06', 'group/14.2', 'class/11.05',
       'division/59', 'group/58.2', 'division/90', 'group/59.1',
       'section/J', 'division/74', 'group/38.3', 'group/71.1',
       'group/58.1', 'section/R', 'division/58', 'group/74.2',
       'division/91', 'section/A', 'TOTAL', 'group/01.1', 'division/01',
       'group/02.2', 'division/07', 'group/02.1', 'group/06.2',
       'division/03', 'group/07.2', 'group/02.3', 'group/07.1',
       'group/01.3', 'group/01.2', 'division/02', 'group/01.4',
       'group/21.1', 'division/21', 'division/22', 'group/21.2',
       'group/14.1', 'group/13.2', 'group/16.1', 'group/13.1',
       'division/16', 'division/14', 'group/13.9', 'group/16.2',
       'division/18', 'group/17.2', 'division/19', 'group/18.1',
       'group/17.1', 'division/17', 'class/20.13', 'class/20.12',
       'class/20.14', 'class/20.15', 'group/19.2', 'group/19.1',
       'class/20.11', 'division/20', 'group/20.4', 'group/20.3',
       'group/20.6', 'group/20.5', 'class/20.17', 'class/20.16',
       'group/20.2', 'division/23', 'group/22.2', 'group/23.2',
       'group/23.1', 'group/22.1', 'group/23.4', 'group/23.3',
       'group/24.5', 'division/96', 'section/S'], dtype=object)

In [54]:
productlist = new_table['CPA 2008'].unique()

In [55]:
pl = pd.Series(productlist)

In [56]:
pl.to_csv('Productlist.csv', index = False)

In [57]:
new_table.dtypes

ONS Partner Geography        object
Period                       object
CDID                         object
International Trade Basis    object
CPA 2008                     object
Seasonal Adjustment          object
Flow                         object
Price Classification         object
Measure Type                 object
Value                         int64
Unit                         object
dtype: object

In [58]:
destFolder = Path('out')
destFolder.mkdir(exist_ok=True, parents=True)

new_table.drop_duplicates().to_csv(destFolder / ('observations.csv'), index = False)

In [59]:
from gssutils.metadata import THEME
scraper.dataset.theme = THEME['business-industry-trade-energy']
scraper.dataset.family = 'Trade'
with open(destFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())