###  CPA xlsx to Tidydata

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from pathlib import Path

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

inputURL = 'https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeingoodsbyclassificationofproductbyactivity/current/mq10.xlsx'
inputFile = sourceFolder / 'mq10.xlsx'
response = session.get(inputURL)
with open(inputFile, 'wb') as f:
  f.write(response.content)

In [3]:
tab = pd.read_excel(inputFile, header=None)
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

,Period,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P265,P25S,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
0,Title,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,CPA 08:WW:IM:CP:BOP:NSA: 30.4. Military fighti...,"CPA 08:WW:IM:CP:BOP:NSA: 29. Motor vehicles, t...",CPA 08:WW:IM:CP:BOP:NSA: 30.2. Railway locomot...,CPA 08:WW:IM:CP:BOP:NSA: 29.3. Parts & accesso...,CPA 08:WW:IM:CP:BOP:NSA: 29.2. Bodies for moto...,CPA 08:WW:IM:CP:BOP:NSA: 28.3. Agricultural & ...,CPA 08:WW:IM:CP:BOP:NSA: 30.3A. Aircraft engines,CPA 08:WW:IM:CP:BOP:NSA: 28.2. Other general-p...,...,CPA 08:WW:IM:CP:BOP:NSA: 12.0. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 12. Tobacco products,CPA 08:WW:IM:CP:BOP:NSA: 15.1. Tanned & dresse...,CPA 08:WW:IM:CP:BOP:NSA: 15. Leather & related...,CPA 08:WW:IM:CP:BOP:NSA: 16. Wood and prod of ...,CPA 08:WW:IM:CP:BOP:NSA: 15.2. Footwear,CPA 08:WW:IM:CP:BOP:NSA: 14.1. Wearing apparel...,CPA 08:WW:IM:CP:BOP:NSA: 14. Wearing apparel,CPA 08:WW:IM:CP:BOP:NSA: 14.3. Knitted & croch...,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
1,CDID,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P265,P25S,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
2,PreUnit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Release Date,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,...,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018,15-06-2018
5,Next release,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,...,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018,14 September 2018
6,Important Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1998,16484,103,22961,247,6165,312,482,2567,4664,...,811,811,767,2624,2177,1857,5563,6624,1057,4
8,1999,17408,40,24639,369,6923,308,614,2899,4627,...,1107,1107,785,2806,2234,2021,5869,7006,1132,5
9,2000,16923,22,23772,406,6547,302,557,2722,4902,...,1232,1232,908,2895,2435,1987,6632,7816,1179,5
10,2001,20238,24,27050,356,6433,379,582,3023,4971,...,1250,1250,952,3194,2501,2242,6966,8313,1341,6
11,2002,21861,20,29407,368,7114,432,714,3132,4883,...,1182,1182,936,3307,2678,2371,7443,8794,1342,9
12,2003,22729,19,30886,307,7635,522,761,2851,5161,...,1393,1393,989,3387,2835,2398,7878,9209,1319,12
13,2004,23219,39,31691,394,7849,623,843,2888,5455,...,1376,1376,1048,3535,2967,2487,8125,9451,1316,10
14,2005,23850,51,32405,534,7843,712,860,3074,5836,...,1349,1349,1116,3736,2851,2620,8600,10075,1462,13
15,2006,23994,86,33710,190,9014,702,962,2933,6074,...,1283,1283,1218,3928,3000,2710,10032,11824,1783,9
16,2007,27037,84,37881,176,10065,779,1144,3708,7238,...,1251,1251,1356,4022,3486,2666,10359,12197,1830,8
17,2008,24948,144,35155,269,9430,777,1513,4800,7914,...,1359,1359,1518,4367,3056,2849,10828,13047,2209,10
18,2009,19513,229,26882,541,6904,465,1403,5576,6492,...,1195,1195,1454,4558,2641,3104,11351,13670,2307,12
19,2010,24804,238,34990,295,9491,695,1323,6387,7319,...,1300,1300,1663,5276,3098,3613,12225,14582,2342,15
20,2011,26947,117,38607,378,10851,809,1552,6835,7975,...,1246,1246,1850,5551,3007,3701,13317,15864,2527,20
21,2012,26866,44,38264,346,10660,738,1637,7936,7901,...,1102,1102,1993,5836,2946,3843,12971,15402,2410,21
22,2013,30525,35,42826,325,11457,844,1510,9256,8314,...,1467,1467,2116,6144,3210,4028,13514,16151,2608,29
23,2014,35651,17,48553,524,11900,1002,1806,8710,9134,...,1584,1584,2280,6680,3744,4400,14471,17226,2716,39
24,2015,38445,21,51893,439,12410,1038,1606,8961,9062,...,1589,1589,2348,7151,3770,4803,15096,17853,2720,37
25,2016,40256,39,55099,1288,13756,1087,1671,11709,9751,...,1429,1429,2541,7526,4005,4985,16054,18928,2832,42
26,2017,42185,68,57962,1696,14686,1091,1890,14491,10412,...,1663,1663,2714,8011,4482,5297,16579,19614,2985,50
27,1998 Q1,3765,14,5348,41,1508,75,145,543,1167,...,204,204,188,687,561,499,1418,1626,207,1
28,1998 Q2,4651,29,6309,45,1576,82,130,651,1205,...,192,192,196,623,562,427,1209,1353,143,1
29,1998 Q3,4128,29,5666,57,1465,73,106,677,1152,...,196,196,202,707,530,505,1599,2001,401,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2010 Q4,5555,91,8286,101,2542,189,258,1719,1846,...,399,399,467,1373,713,906,3164,3940,772,4
79,2011 Q1,7338,42,10208,101,2680,190,424,1884,1949,...,367,367,434,1328,744,894,3255,3760,503,2
80,2011 Q2,6596,26,9402,94,2606,200,459,1621,1980,...,388,388,430,1261,803,831,3120,3513,389,4
81,2011 Q3,6858,27,9743,84,2676,209,320,1589,2048,...,242,242,493,1549,771,1056,3738,4601,854,9
82,2011 Q4,6155,22,9254,99,2889,210,349,1741,1998,...,249,249,493,1413,689,920,3204,3990,781,5
83,2012 Q1,7393,10,10510,112,2916,201,517,2043,2061,...,287,287,452,1358,749,906,3216,3667,449,2
84,2012 Q2,6505,9,9353,75,2660,188,485,1732,2035,...,272,272,490,1358,788,868,2974,3358,380,4
85,2012 Q3,6792,11,9418,80,2443,183,323,2020,1937,...,269,269,531,1652,746,1121,3655,4473,809,9
86,2012 Q4,6176,14,8983,79,2641,166,312,2141,1868,...,274,274,520,1468,663,948,3126,3904,772,6
87,2013 Q1,7588,14,10612,79,2839,185,393,2000,2029,...,379,379,481,1420,724,939,3267,3763,493,3
88,2013 Q2,7473,5,10561,85,2881,207,470,2356,2110,...,347,347,497,1415,825,918,3086,3510,418,6
89,2013 Q3,8304,13,11356,78,2833,219,344,2484,2099,...,363,363,566,1713,838,1147,3836,4722,875,11
90,2013 Q4,7160,3,10297,83,2904,233,303,2416,2076,...,378,378,572,1596,823,1024,3325,4156,822,9
91,2014 Q1,9390,6,12710,94,3075,245,460,2074,2193,...,387,387,523,1560,913,1037,3431,3964,527,6
92,2014 Q2,8927,6,12224,113,3035,262,619,2260,2281,...,391,391,533,1527,940,994,3359,3813,446,8
93,2014 Q3,9039,3,12053,155,2768,246,375,2119,2248,...,406,406,603,1851,969,1248,3959,4830,857,14
94,2014 Q4,8295,2,11566,162,3022,249,352,2257,2412,...,400,400,621,1742,922,1121,3722,4619,886,11
95,2015 Q1,9221,4,13032,126,3521,290,472,2296,2287,...,410,410,573,1769,966,1196,3786,4320,529,5
96,2015 Q2,9628,4,12743,87,2882,233,488,2214,2261,...,393,393,535,1606,950,1071,3487,3905,410,8
97,2015 Q3,10117,5,13141,111,2766,258,327,2229,2254,...,402,402,614,1974,953,1360,4059,4937,865,13
98,2015 Q4,9479,8,12977,115,3241,257,319,2222,2260,...,384,384,626,1802,901,1176,3764,4691,916,11
99,2016 Q1,10570,10,14022,206,3179,273,443,2682,2333,...,364,364,573,1840,925,1267,4017,4577,555,5
100,2016 Q2,10242,17,13923,288,3418,263,487,2780,2466,...,379,379,583,1719,997,1136,3766,4232,458,8
101,2016 Q3,10098,9,13779,460,3413,268,368,2941,2446,...,331,331,671,2036,1045,1365,4220,5118,883,15
102,2016 Q4,9346,3,13375,334,3746,283,373,3306,2506,...,355,355,714,1931,1038,1217,4051,5001,936,14
103,2017 Q1,11546,8,15747,360,3937,264,546,3734,2544,...,386,386,629,1907,1113,1278,4036,4661,617,8
104,2017 Q2,10655,2,14548,413,3632,261,525,3350,2546,...,403,403,666,1910,1144,1244,4021,4513,484,8
105,2017 Q3,10541,17,14468,552,3657,270,377,3639,2698,...,438,438,706,2174,1163,1468,4427,5348,905,16
106,2017 Q4,9443,41,13199,371,3460,296,442,3768,2624,...,436,436,713,2020,1062,1307,4095,5092,979,18
107,2018 Q1,11147,34,15432,393,4000,285,555,3210,2684,...,411,411,640,1926,1103,1286,3934,4533,590,9

In [4]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations.head()

,Period,P25X,P269,P25W,P268,P25Z,P25Y,P25T,P265,P25S,...,P23D,P23C,P23N,P23M,P23P,P23O,P23J,P23I,P23L,P23K
7,1998,16484,103,22961,247,6165,312,482,2567,4664,...,811,811,767,2624,2177,1857,5563,6624,1057,4
8,1999,17408,40,24639,369,6923,308,614,2899,4627,...,1107,1107,785,2806,2234,2021,5869,7006,1132,5
9,2000,16923,22,23772,406,6547,302,557,2722,4902,...,1232,1232,908,2895,2435,1987,6632,7816,1179,5
10,2001,20238,24,27050,356,6433,379,582,3023,4971,...,1250,1250,952,3194,2501,2242,6966,8313,1341,6
11,2002,21861,20,29407,368,7114,432,714,3132,4883,...,1182,1182,936,3307,2678,2371,7443,8794,1342,9

In [5]:
new_table = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='OBS')
new_table.dropna(inplace=True)
new_table.reset_index(drop=True, inplace=True)
print(len(new_table))
new_table.tail(5)
new_table.head(5)

439923

  Period  CDID    OBS
0   1998  P25X  16484
1   1999  P25X  17408
2   2000  P25X  16923
3   2001  P25X  20238
4   2002  P25X  21861

In [6]:
new_table.count()

Period    439923
CDID      439923
OBS       439923
dtype: int64

In [7]:
new_table['Title'] = tab.iloc[0][new_table['CDID']].values
new_table.head()

  Period  CDID    OBS                                          Title
0   1998  P25X  16484  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
1   1999  P25X  17408  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
2   2000  P25X  16923  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
3   2001  P25X  20238  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
4   2002  P25X  21861  CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles

In [8]:
new_table['Period'].unique()

array(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1998 Q1', '1998 Q2', '1998 Q3',
       '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1',
       '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3',
       '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1',
       '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3',
       '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1',
       '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3',
       '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1',
       '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3',
       '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1',
       '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3',
       '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1',
       '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3',
       '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1'], dtype=object)

In [9]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

new_table['Period'] = new_table['Period'].apply(time2period)
new_table

,Period,CDID,OBS,Title
0,year/1998,P25X,16484,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
1,year/1999,P25X,17408,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
2,year/2000,P25X,16923,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
3,year/2001,P25X,20238,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
4,year/2002,P25X,21861,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
5,year/2003,P25X,22729,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
6,year/2004,P25X,23219,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
7,year/2005,P25X,23850,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
8,year/2006,P25X,23994,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
9,year/2007,P25X,27037,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
10,year/2008,P25X,24948,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
11,year/2009,P25X,19513,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
12,year/2010,P25X,24804,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
13,year/2011,P25X,26947,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
14,year/2012,P25X,26866,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
15,year/2013,P25X,30525,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
16,year/2014,P25X,35651,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
17,year/2015,P25X,38445,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
18,year/2016,P25X,40256,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
19,year/2017,P25X,42185,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
20,quarter/1998-Q1,P25X,3765,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
21,quarter/1998-Q2,P25X,4651,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
22,quarter/1998-Q3,P25X,4128,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
23,quarter/1998-Q4,P25X,3940,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
24,quarter/1999-Q1,P25X,4620,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
25,quarter/1999-Q2,P25X,3960,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
26,quarter/1999-Q3,P25X,4835,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
27,quarter/1999-Q4,P25X,3993,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
28,quarter/2000-Q1,P25X,4529,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
29,quarter/2000-Q2,P25X,4596,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles
...,...,...,...,...
439893,quarter/2010-Q4,P23K,4,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439894,quarter/2011-Q1,P23K,2,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439895,quarter/2011-Q2,P23K,4,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439896,quarter/2011-Q3,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439897,quarter/2011-Q4,P23K,5,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439898,quarter/2012-Q1,P23K,2,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439899,quarter/2012-Q2,P23K,4,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439900,quarter/2012-Q3,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439901,quarter/2012-Q4,P23K,6,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439902,quarter/2013-Q1,P23K,3,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439903,quarter/2013-Q2,P23K,6,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439904,quarter/2013-Q3,P23K,11,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439905,quarter/2013-Q4,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439906,quarter/2014-Q1,P23K,6,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439907,quarter/2014-Q2,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439908,quarter/2014-Q3,P23K,14,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439909,quarter/2014-Q4,P23K,11,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439910,quarter/2015-Q1,P23K,5,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439911,quarter/2015-Q2,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439912,quarter/2015-Q3,P23K,13,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439913,quarter/2015-Q4,P23K,11,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439914,quarter/2016-Q1,P23K,5,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439915,quarter/2016-Q2,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439916,quarter/2016-Q3,P23K,15,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439917,quarter/2016-Q4,P23K,14,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439918,quarter/2017-Q1,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439919,quarter/2017-Q2,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439920,quarter/2017-Q3,P23K,16,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439921,quarter/2017-Q4,P23K,18,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur
439922,quarter/2018-Q1,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur

In [10]:
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'Â£ Million'
new_table['Measure Type'] = 'GBP Total'
new_table.tail(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
439918,quarter/2017-Q1,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,Â£ Million,GBP Total
439919,quarter/2017-Q2,P23K,8,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,Â£ Million,GBP Total
439920,quarter/2017-Q3,P23K,16,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,Â£ Million,GBP Total
439921,quarter/2017-Q4,P23K,18,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,Â£ Million,GBP Total
439922,quarter/2018-Q1,P23K,9,CPA 08:WW:IM:CP:BOP:NSA: 14.2. Articles of fur,K02000001,Â£ Million,GBP Total

In [11]:
cord_sitc_classification_table_url = 'https://drive.google.com/uc?export=download&id=1uJck_DtSgLs0XcEuKDB0swzj1UrWmauj'
temp_table = pd.read_excel(cord_sitc_classification_table_url, sheet_name = 0)

In [12]:
temp_table = temp_table.reset_index()

In [13]:
temp_table.drop(['level_0','level_1','Sequence'], axis =1, inplace = True)

In [14]:
temp_table.tail()

      cdid  COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
6196  BPFR  5min8minE   WW        IM   BOP  IDEF     NSA      M
6197  BPGR  5min8minE   WW        IM   BOP  IDEF      SA      M
6198  BPCR  5min8minE   WW        IM   BOP    VM     NSA      M
6199  ELAI  5min8minE   WW        IM   BOP    VM      SA      M
6200   NaN        NaN  NaN       NaN   NaN   NaN     NaN    NaN

In [15]:
CSDB_classification_tables_url = 'https://drive.google.com/uc?export=download&id=1miAzQ6s8om4Ark3BpRk3Y90OAWfWErTb'
classification1 = pd.read_excel(CSDB_classification_tables_url, 'cord_sitc')

In [16]:
classification1.tail(5)

      cdid  COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
6193  ELAX  5min8minE   WW        IM   BOP   DEF     NSA      Q
6194  BPFR  5min8minE   WW        IM   BOP  IDEF     NSA      Q
6195  BPGR  5min8minE   WW        IM   BOP  IDEF      SA      Q
6196  BPCR  5min8minE   WW        IM   BOP    VM     NSA      Q
6197  ELAI  5min8minE   WW        IM   BOP    VM      SA      Q

In [17]:
classification2 = pd.read_excel(CSDB_classification_tables_url, 'cord_cpa')

In [18]:
classification2.head(5)

   cdid PRODUCT AREA DIRECTION BASIS PRICE SEASADJ PERIOD
0  P42L    24.2   EU        EX   BOP    CP     NSA      Q
1  P483    24.2   EU        EX   BOP    CP      SA      Q
2  P4DJ    24.2   EU        EX   BOP   CVM     NSA      Q
3  P4IZ    24.2   EU        EX   BOP   CVM      SA      Q
4  P3EP    24.2   EU        IM   BOP    CP     NSA      Q

In [19]:
classification2.rename(index = str, columns = {'PRODUCT':'COMMODITY'}, inplace = True)

In [20]:
classification3 = pd.read_excel(CSDB_classification_tables_url, 'cord_country')

In [21]:
classification3.head(5)

   cdid COUNTRY DIRECTION BASIS SEASADJ PERIOD
0  KN2O      XS       BAL   BOP     NSA      Q
1  LGDS      V4       BAL   BOP     NSA      Q
2  L87P      V3       BAL   BOP     NSA      Q
3  L87J      V2       BAL   BOP     NSA      Q
4  MHN8      I7       BAL   BOP     NSA      Q

In [22]:
classification3['COMMODITY'] = ''
classification3['PRICE'] = ''

In [23]:
classification3.rename(index = str, columns = {'COUNTRY':'AREA'}, inplace = True)

In [24]:
temp_table = pd.concat([temp_table, classification1, classification2,classification3])

In [25]:
temp_table.head()

  AREA BASIS COMMODITY DIRECTION PERIOD PRICE SEASADJ  cdid
0   EU   BOP    2plus4       BAL      M    CP     NSA  SDSX
1   EU   BOP   5minus8       BAL      M    CP     NSA  SGLO
2   EU   BOP    7plus8       BAL      M    CP     NSA  SFJC
3   EU   BOP   TminusO       BAL      M    CP     NSA  LKTX
4   EU   BOP    0plus1       BAL      M    CP     NSA  SDMS

In [26]:
temp_table.shape

(18264, 8)

In [27]:
temp_table.drop_duplicates(['cdid'], keep='first', inplace=True)

In [28]:
temp_table.shape

(12043, 8)

In [29]:
new_table.head()

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
0,year/1998,P25X,16484,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total
1,year/1999,P25X,17408,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total
2,year/2000,P25X,16923,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total
3,year/2001,P25X,20238,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total
4,year/2002,P25X,21861,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total

In [30]:
# new_table.head(1)['Cdid']

In [31]:
# temp_table.head(1)['cdid']

In [32]:
new_table = pd.merge(new_table,temp_table, how = 'left', left_on = 'CDID', right_on = 'cdid')

In [33]:
new_table.head(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type,AREA,BASIS,COMMODITY,DIRECTION,PERIOD,PRICE,SEASADJ,cdid
0,year/1998,P25X,16484,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
1,year/1999,P25X,17408,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
2,year/2000,P25X,16923,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
3,year/2001,P25X,20238,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X
4,year/2002,P25X,21861,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA,P25X

In [34]:
new_table.drop(['cdid'], axis = 1, inplace = True)

In [35]:
new_table.head(2)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type,AREA,BASIS,COMMODITY,DIRECTION,PERIOD,PRICE,SEASADJ
0,year/1998,P25X,16484,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA
1,year/1999,P25X,17408,CPA 08:WW:IM:CP:BOP:NSA: 29.1. Motor vehicles,K02000001,Â£ Million,GBP Total,WW,BOP,29.1,IM,Q,CP,NSA

In [36]:
new_table['ONS Partner Geography'] ='legacy/'+ new_table['AREA'].astype(str)

In [37]:
new_table.rename(index= str, columns= {'OBS':'Value', 'DIRECTION':'Flow',
                                       'COMMODITY':'CPA 2008', 'SEASADJ':'Seasonal Adjustment',
                                       'PRICE':'Price Classification', 'BASIS': 'International Trade Basis'
                                      }, inplace = True)

In [38]:
new_table = new_table[new_table['Value'] != 0 ]

In [39]:
new_table = new_table[['ONS Partner Geography','Period','CDID','International Trade Basis','CPA 2008','Seasonal Adjustment','Flow','Price Classification','Measure Type','Value','Unit']]

In [40]:
new_table.tail(5)

,ONS Partner Geography,Period,CDID,International Trade Basis,CPA 2008,Seasonal Adjustment,Flow,Price Classification,Measure Type,Value,Unit
439918,legacy/WW,quarter/2017-Q1,P23K,BOP,14.2,NSA,IM,CP,GBP Total,8,Â£ Million
439919,legacy/WW,quarter/2017-Q2,P23K,BOP,14.2,NSA,IM,CP,GBP Total,8,Â£ Million
439920,legacy/WW,quarter/2017-Q3,P23K,BOP,14.2,NSA,IM,CP,GBP Total,16,Â£ Million
439921,legacy/WW,quarter/2017-Q4,P23K,BOP,14.2,NSA,IM,CP,GBP Total,18,Â£ Million
439922,legacy/WW,quarter/2018-Q1,P23K,BOP,14.2,NSA,IM,CP,GBP Total,9,Â£ Million

In [41]:
new_table.fillna('NA', inplace = True)

In [42]:
new_table['Price Classification'].unique()

array(['CP', 'CVM'], dtype=object)

In [43]:
new_table.Flow.unique()

array(['IM', 'EX'], dtype=object)

In [44]:
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('EX', 'Exports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('IM', 'Imports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('BAL', 'Balance'))

In [45]:
new_table['ONS Partner Geography'].unique()

array(['legacy/WW', 'legacy/EU', 'legacy/RW'], dtype=object)

In [46]:
new_table['International Trade Basis'].unique()

array(['BOP'], dtype=object)

CPA codes: the first number should be padded with a leading zero if it's < 10.

In [47]:
import re
r = re.compile('([1-9])\.')

new_table['CPA 2008'] = new_table['CPA 2008'].map(lambda x: '0' + str(x) if r.match(str(x)) else str(x))

In [48]:
str(new_table.head(1)['CPA 2008'])[-1]

't'

In [49]:
new_table.iloc[7200]

ONS Partner Geography              legacy/WW
Period                       quarter/2008-Q2
CDID                                    P287
International Trade Basis                BOP
CPA 2008                                08.1
Seasonal Adjustment                       SA
Flow                                 Imports
Price Classification                      CP
Measure Type                       GBP Total
Value                                     69
Unit                               Â£ Million
Name: 7535, dtype: object

In [50]:
def func(x):
    try:
        if x == 'TOTAL':
            return 'TOTAL'
        elif (x == 'A')|(x == 'B')|(x == 'C')|(x == 'D')|(x == 'E')|(x == 'J')|(x == 'M')|(x == 'R')|(x == 'S'):
            return 'section/'+ str(x)     
        elif str(x)[-2] == '.':
            return 'group/' + str(x) 
        elif  '.' in str(x) :
             return 'class/' + str(x)
        else:
            try:
                str(x)[-2]
                return 'division/' + str(x)
            except:
                return 'division/0' + str(x)
    except:
            try:
                str(x)[-2]
                return 'division/' + str(x)
            except:
                return 'division/0' + str(x)
   

new_table['CPA 2008'] = new_table.apply(lambda row: func(row['CPA 2008']), axis = 1)

In [51]:
new_table.iloc[201]

ONS Partner Geography              legacy/WW
Period                       quarter/2018-Q1
CDID                                    P269
International Trade Basis                BOP
CPA 2008                          group/30.4
Seasonal Adjustment                      NSA
Flow                                 Imports
Price Classification                      CP
Measure Type                       GBP Total
Value                                     34
Unit                               Â£ Million
Name: 201, dtype: object

In [52]:
new_table.tail()

,ONS Partner Geography,Period,CDID,International Trade Basis,CPA 2008,Seasonal Adjustment,Flow,Price Classification,Measure Type,Value,Unit
439918,legacy/WW,quarter/2017-Q1,P23K,BOP,group/14.2,NSA,Imports,CP,GBP Total,8,Â£ Million
439919,legacy/WW,quarter/2017-Q2,P23K,BOP,group/14.2,NSA,Imports,CP,GBP Total,8,Â£ Million
439920,legacy/WW,quarter/2017-Q3,P23K,BOP,group/14.2,NSA,Imports,CP,GBP Total,16,Â£ Million
439921,legacy/WW,quarter/2017-Q4,P23K,BOP,group/14.2,NSA,Imports,CP,GBP Total,18,Â£ Million
439922,legacy/WW,quarter/2018-Q1,P23K,BOP,group/14.2,NSA,Imports,CP,GBP Total,9,Â£ Million

In [53]:
new_table['CPA 2008'].unique()

array(['group/29.1', 'group/30.4', 'division/29', 'group/30.2',
       'group/29.3', 'group/29.2', 'group/28.3', 'class/30.3A',
       'group/28.2', 'group/30.3', 'group/28.9', 'class/30.3C',
       'group/28.4', 'class/30.3B', 'group/30.9', 'division/32',
       'division/31', 'group/32.9', 'group/32.5', 'division/35',
       'section/D', 'group/32.2', 'group/32.1', 'group/32.4', 'group/32.3',
       'division/38', 'group/59.2', 'group/38.2', 'division/71',
       'group/38.1', 'section/M', 'group/35.1', 'section/E', 'group/24.1',
       'group/25.7', 'division/24', 'group/25.4', 'group/24.3',
       'group/24.2', 'group/25.9', 'group/23.6', 'group/25.1',
       'group/23.5', 'division/25', 'group/23.9', 'group/25.3',
       'group/23.7', 'group/25.2', 'group/26.1', 'division/26',
       'group/24.4', 'group/26.7', 'group/26.6', 'division/27',
       'group/26.8', 'group/26.3', 'group/26.2', 'group/26.5',
       'group/26.4', 'group/27.9', 'group/27.5', 'group/28.1',
       'group/30.1', 'division/28', 'division/30', 'group/27.2',
       'group/27.1', 'group/27.4', 'group/27.3', 'group/06.1',
       'division/06', 'division/05', 'group/08.1', 'section/B',
       'division/08', 'group/05.2', 'section/C', 'group/05.1',
       'group/08.9', 'group/10.2', 'group/10.1', 'group/10.4',
       'group/10.3', 'division/10', 'division/11', 'group/10.9',
       'class/11.02', 'class/11.01', 'group/10.6', 'group/10.5',
       'group/10.8', 'group/10.7', 'division/12', 'division/15',
       'class/11.07', 'group/14.3', 'division/13', 'group/15.2',
       'group/15.1', 'class/11.04', 'class/11.03', 'class/11.06',
       'group/14.2', 'class/11.05', 'division/59', 'group/58.2',
       'division/90', 'group/59.1', 'section/J', 'division/74',
       'group/38.3', 'group/71.1', 'group/58.1', 'section/R',
       'division/58', 'group/74.2', 'division/91', 'section/A', 'TOTAL',
       'group/01.1', 'division/01', 'group/02.2', 'division/07',
       'group/02.1', 'group/06.2', 'division/03', 'group/07.2',
       'group/02.3', 'group/07.1', 'group/01.3', 'group/01.2',
       'division/02', 'group/01.4', 'group/21.1', 'division/21',
       'division/22', 'group/21.2', 'group/14.1', 'group/13.2',
       'group/16.1', 'group/13.1', 'division/16', 'division/14',
       'group/13.9', 'group/16.2', 'division/18', 'group/17.2',
       'division/19', 'group/18.1', 'group/17.1', 'division/17',
       'class/20.13', 'class/20.12', 'class/20.14', 'class/20.15',
       'group/19.2', 'group/19.1', 'class/20.11', 'division/20',
       'group/20.4', 'group/20.3', 'group/20.6', 'group/20.5',
       'class/20.17', 'class/20.16', 'group/20.2', 'division/23',
       'group/22.2', 'group/23.2', 'group/23.1', 'group/22.1',
       'group/23.4', 'group/23.3', 'group/24.5', 'group/20.1',
       'division/96', 'section/S', 'group/35.2'], dtype=object)

In [54]:
productlist = new_table['CPA 2008'].unique()

In [55]:
pl = pd.Series(productlist)

In [56]:
pl.to_csv('Productlist.csv', index = False)

In [57]:
new_table.dtypes

ONS Partner Geography        object
Period                       object
CDID                         object
International Trade Basis    object
CPA 2008                     object
Seasonal Adjustment          object
Flow                         object
Price Classification         object
Measure Type                 object
Value                         int64
Unit                         object
dtype: object

In [58]:
import numpy as np

destFolder = Path('out')
destFolder.mkdir(exist_ok=True, parents=True)

sliceSize = 50000
for i in np.arange(len(new_table)//sliceSize):
    destFile = destFolder / f'observations_{i:04}.csv'
    new_table.iloc[i*sliceSize:i*sliceSize+sliceSize-1].to_csv(destFile, index=False)