###  MRET xlsx to Tidy Data

Take the Trade in goods MRETS (all BOP - EU2013): time series dataset and convert to Tidy Data in CSV.

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
import requests
from pathlib import Path
from io import BytesIO
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

inputURL = 'https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/tradeingoodsmretsallbopeu2013timeseriesspreadsheet/current/mret.xlsx'
mretsExcel = BytesIO(session.get(inputURL).content)

In [3]:
tab = pd.read_excel(mretsExcel, header=None)
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

,Period,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
0,Title,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,Balance of payments: Trade in Goods: Oil Expor...,EU:BOP:EX:price index:NSA:Semi-manufactures: S...,EU:BOP:EX:SA:Semi-manufactures: SITC 5+6,EU:BOP:EX:volume index:SA:Semi-manufactures: S...,non-EU:BOP:EX:price index:NSA:Semi-manufacture...,non-EU:BOP:EX:SA:Semi-manufactures: SITC 5+6,EU(2004):BOP:IM:price index:NSA:Total trade in...,Balance of payments:Trade in Goods: North Amer...,...,BoP-consistent: Egypt: Exports: SA,BoP-consistent: Egypt: Balance: SA,Balance of payments: Trade in Goods: Ships: SI...,Balance of payments: Trade in Goods: Ships: SI...,Balance of payments: Ships: SITC 793:Balance: ...,Balance of payments: Trade in Goods: Aircraft:...,non-EU:BOP:EX:SA:Unspecified goods: SITC 9,Balance of payments: Trade in Goods: Aircraft:...,Balance of payments: Trade in Goods: Aircraft:...,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
1,CDID,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
2,PreUnit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Release Date,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,...,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018,11-04-2018
5,Next release,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,...,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018,10 May 2018
6,Important Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,2015 SEP,-1688,956,100,3508,104,99,3705,100.7,3277,...,82,35,61,84,23,874,111,-78,952,147
1005,2015 OCT,-2044,1128,99,3378,102,100,2926,99.2,3303,...,77,19,64,86,22,1102,92,12,1090,99
1006,2015 NOV,-1979,846,97,3316,101,99,2932,97.8,3203,...,92,52,65,80,15,1234,1151,53,1181,119
1007,2015 DEC,-1927,838,98,3358,100,99,2903,99.3,3054,...,73,30,63,132,69,1153,1562,216,937,114
1008,2016 JAN,-2196,655,101,3211,93,101,2968,100.5,2967,...,93,35,69,72,3,921,1181,277,644,252
1009,2016 FEB,-1785,899,103,3501,100,102,3184,101.3,3276,...,88,39,149,99,-50,1082,300,40,1042,506
1010,2016 MAR,-1717,838,104,3219,91,102,2966,101.5,3710,...,109,39,71,100,29,1284,479,-336,1620,1081
1011,2016 APR,-1981,919,104,3436,96,102,3187,102,3509,...,100,46,543,96,-447,1520,430,315,1205,268
1012,2016 MAY,-1909,771,104,3285,92,102,2781,101.2,3182,...,96,28,94,94,0,1575,1313,594,981,484
1013,2016 JUN,-2092,724,105,3429,95,104,2849,102,3493,...,89,6,65,100,35,1610,428,365,1245,499
1014,2016 JUL,-2140,1168,109,3531,94,107,2851,104.8,3894,...,93,55,112,601,489,1027,362,-607,1634,1534
1015,2016 AUG,-2173,1102,111,3701,98,108,3066,104.5,4638,...,124,65,63,269,206,1313,347,-924,2237,1594
1016,2016 SEP,-2188,945,110,3656,97,107,2940,103.4,3744,...,176,123,600,58,-542,1214,486,84,1130,893
1017,2016 OCT,-2102,938,115,3524,90,110,3287,106.2,3404,...,139,100,76,85,9,1434,1088,793,641,613
1018,2016 NOV,-2490,986,112,3603,93,109,2898,104.7,3586,...,106,53,306,80,-226,1416,1399,401,1015,573
1019,2016 DEC,-2241,1025,110,3870,101,108,3241,104.2,3694,...,110,59,79,130,51,1549,800,483,1066,544
1020,2017 JAN,-2349,1041,112,3843,100,109,3168,106.1,3535,...,145,91,65,69,4,1355,505,618,737,551
1021,2017 FEB,-2197,1026,112,3739,99,109,3188,105.8,3513,...,101,47,206,49,-157,1278,407,78,1200,474
1022,2017 MAR,-2252,1371,114,4062,105,110,3083,106.8,4138,...,97,44,288,124,-164,1681,969,569,1112,653
1023,2017 APR,-2252,1321,112,3973,104,109,3372,106.7,3593,...,132,80,67,92,25,1105,1229,-162,1267,524
1024,2017 MAY,-2404,1060,113,3983,103,108,3557,107.5,3737,...,130,76,65,72,7,1252,452,362,890,783
1025,2017 JUN,-2113,1206,115,4199,106,109,3124,108.9,3910,...,110,35,77,80,3,1609,546,351,1258,1449
1026,2017 JUL,-2082,1795,115,3984,101,108,3139,109,3903,...,120,63,157,143,-14,1198,670,190,1008,1230
1027,2017 AUG,-2459,1347,118,4078,103,109,3302,110.2,3790,...,132,87,118,97,-21,1439,576,689,750,781
1028,2017 SEP,-2414,1286,116,4119,105,108,3125,109,3685,...,107,57,60,80,20,1223,1089,373,850,561
1029,2017 OCT,-2516,1446,117,3917,99,108,3140,109.5,3497,...,162,104,887,167,-720,1585,922,521,1064,612
1030,2017 NOV,-2065,1345,117,4055,101,108,3070,109.7,4213,...,112,43,74,98,24,1429,737,591,838,1091
1031,2017 DEC,-2327,1029,116,4128,103,108,3385,109.5,4129,...,94,48,208,121,-87,1242,806,591,651,872
1032,2018 JAN,-2107,1248,116,4114,103,107,3388,110,3915,...,105,29,65,117,52,1452,559,215,1237,648
1033,2018 FEB,-2293,1142,117,4062,102,106,3135,110.4,3236,...,109,49,161,89,-72,1282,457,757,525,439

In [4]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations.head()

,Period,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
7,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_table = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='OBS')
new_table.dropna(inplace=True)
new_table.reset_index(drop=True, inplace=True)
print(len(new_table))
new_table.tail(5)

269112

          Period  CDID   OBS
269107  2017 OCT  SGTK   612
269108  2017 NOV  SGTK  1091
269109  2017 DEC  SGTK   872
269110  2018 JAN  SGTK   648
269111  2018 FEB  SGTK   439

In [6]:
new_table['Title'] = tab.iloc[0][new_table['CDID']].values
new_table.head()

  Period  CDID    OBS                                          Title
0   1998  SESM  -2766  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
1   1999  SESM  -2568  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
2   2000  SESM  -2441  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
3   2001  SESM  -3157  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
4   2002  SESM  -4703  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6

In [7]:
new_table['Period'].unique()

array(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1998 Q1', '1998 Q2', '1998 Q3',
       '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1',
       '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3',
       '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1',
       '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3',
       '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1',
       '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3',
       '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1',
       '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3',
       '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1',
       '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3',
       '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1',
       '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3',
       '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '1998 JAN',
       '1998 FEB', '1998 MAR', '1998 APR', '1998 MAY', '1998 JUN',
       '1998 JUL', '1998 AUG', '1998 SEP', '1998 OCT', '1998 NOV',
       '1998 DEC', '1999 JAN', '1999 FEB', '1999 MAR', '1999 APR',
       '1999 MAY', '1999 JUN', '1999 JUL', '1999 AUG', '1999 SEP',
       '1999 OCT', '1999 NOV', '1999 DEC', '2000 JAN', '2000 FEB',
       '2000 MAR', '2000 APR', '2000 MAY', '2000 JUN', '2000 JUL',
       '2000 AUG', '2000 SEP', '2000 OCT', '2000 NOV', '2000 DEC',
       '2001 JAN', '2001 FEB', '2001 MAR', '2001 APR', '2001 MAY',
       '2001 JUN', '2001 JUL', '2001 AUG', '2001 SEP', '2001 OCT',
       '2001 NOV', '2001 DEC', '2002 JAN', '2002 FEB', '2002 MAR',
       '2002 APR', '2002 MAY', '2002 JUN', '2002 JUL', '2002 AUG',
       '2002 SEP', '2002 OCT', '2002 NOV', '2002 DEC', '2003 JAN',
       '2003 FEB', '2003 MAR', '2003 APR', '2003 MAY', '2003 JUN',
       '2003 JUL', '2003 AUG', '2003 SEP', '2003 OCT', '2003 NOV',
       '2003 DEC', '2004 JAN', '2004 FEB', '2004 MAR', '2004 APR',
       '2004 MAY', '2004 JUN', '2004 JUL', '2004 AUG', '2004 SEP',
       '2004 OCT', '2004 NOV', '2004 DEC', '2005 JAN', '2005 FEB',
       '2005 MAR', '2005 APR', '2005 MAY', '2005 JUN', '2005 JUL',
       '2005 AUG', '2005 SEP', '2005 OCT', '2005 NOV', '2005 DEC',
       '2006 JAN', '2006 FEB', '2006 MAR', '2006 APR', '2006 MAY',
       '2006 JUN', '2006 JUL', '2006 AUG', '2006 SEP', '2006 OCT',
       '2006 NOV', '2006 DEC', '2007 JAN', '2007 FEB', '2007 MAR',
       '2007 APR', '2007 MAY', '2007 JUN', '2007 JUL', '2007 AUG',
       '2007 SEP', '2007 OCT', '2007 NOV', '2007 DEC', '2008 JAN',
       '2008 FEB', '2008 MAR', '2008 APR', '2008 MAY', '2008 JUN',
       '2008 JUL', '2008 AUG', '2008 SEP', '2008 OCT', '2008 NOV',
       '2008 DEC', '2009 JAN', '2009 FEB', '2009 MAR', '2009 APR',
       '2009 MAY', '2009 JUN', '2009 JUL', '2009 AUG', '2009 SEP',
       '2009 OCT', '2009 NOV', '2009 DEC', '2010 JAN', '2010 FEB',
       '2010 MAR', '2010 APR', '2010 MAY', '2010 JUN', '2010 JUL',
       '2010 AUG', '2010 SEP', '2010 OCT', '2010 NOV', '2010 DEC',
       '2011 JAN', '2011 FEB', '2011 MAR', '2011 APR', '2011 MAY',
       '2011 JUN', '2011 JUL', '2011 AUG', '2011 SEP', '2011 OCT',
       '2011 NOV', '2011 DEC', '2012 JAN', '2012 FEB', '2012 MAR',
       '2012 APR', '2012 MAY', '2012 JUN', '2012 JUL', '2012 AUG',
       '2012 SEP', '2012 OCT', '2012 NOV', '2012 DEC', '2013 JAN',
       '2013 FEB', '2013 MAR', '2013 APR', '2013 MAY', '2013 JUN',
       '2013 JUL', '2013 AUG', '2013 SEP', '2013 OCT', '2013 NOV',
       '2013 DEC', '2014 JAN', '2014 FEB', '2014 MAR', '2014 APR',
       '2014 MAY', '2014 JUN', '2014 JUL', '2014 AUG', '2014 SEP',
       '2014 OCT', '2014 NOV', '2014 DEC', '2015 JAN', '2015 FEB',
       '2015 MAR', '2015 APR', '2015 MAY', '2015 JUN', '2015 JUL',
       '2015 AUG', '2015 SEP', '2015 OCT', '2015 NOV', '2015 DEC',
       '2016 JAN', '2016 FEB', '2016 MAR', '2016 APR', '2016 MAY',
       '2016 JUN', '2016 JUL', '2016 AUG', '2016 SEP', '2016 OCT',
       '2016 NOV', '2016 DEC', '2017 JAN', '2017 FEB', '2017 MAR',
       '2017 APR', '2017 MAY', '2017 JUN', '2017 JUL', '2017 AUG',
       '2017 SEP', '2017 OCT', '2017 NOV', '2017 DEC', '2018 JAN',
       '2018 FEB', '1955', '1956', '1957', '1958', '1959', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1955 Q1', '1955 Q2', '1955 Q3',
       '1955 Q4', '1956 Q1', '1956 Q2', '1956 Q3', '1956 Q4', '1957 Q1',
       '1957 Q2', '1957 Q3', '1957 Q4', '1958 Q1', '1958 Q2', '1958 Q3',
       '1958 Q4', '1959 Q1', '1959 Q2', '1959 Q3', '1959 Q4', '1960 Q1',
       '1960 Q2', '1960 Q3', '1960 Q4', '1961 Q1', '1961 Q2', '1961 Q3',
       '1961 Q4', '1962 Q1', '1962 Q2', '1962 Q3', '1962 Q4', '1963 Q1',
       '1963 Q2', '1963 Q3', '1963 Q4', '1964 Q1', '1964 Q2', '1964 Q3',
       '1964 Q4', '1965 Q1', '1965 Q2', '1965 Q3', '1965 Q4', '1966 Q1',
       '1966 Q2', '1966 Q3', '1966 Q4', '1967 Q1', '1967 Q2', '1967 Q3',
       '1967 Q4', '1968 Q1', '1968 Q2', '1968 Q3', '1968 Q4', '1969 Q1',
       '1969 Q2', '1969 Q3', '1969 Q4', '1970 Q1', '1970 Q2', '1970 Q3',
       '1970 Q4', '1971 Q1', '1971 Q2', '1971 Q3', '1971 Q4', '1972 Q1',
       '1972 Q2', '1972 Q3', '1972 Q4', '1973 Q1', '1973 Q2', '1973 Q3',
       '1973 Q4', '1974 Q1', '1974 Q2', '1974 Q3', '1974 Q4', '1975 Q1',
       '1975 Q2', '1975 Q3', '1975 Q4', '1976 Q1', '1976 Q2', '1976 Q3',
       '1976 Q4', '1977 Q1', '1977 Q2', '1977 Q3', '1977 Q4', '1978 Q1',
       '1978 Q2', '1978 Q3', '1978 Q4', '1979 Q1', '1979 Q2', '1979 Q3',
       '1979 Q4', '1980 Q1', '1980 Q2', '1980 Q3', '1980 Q4', '1981 Q1',
       '1981 Q2', '1981 Q3', '1981 Q4', '1982 Q1', '1982 Q2', '1982 Q3',
       '1982 Q4', '1983 Q1', '1983 Q2', '1983 Q3', '1983 Q4', '1984 Q1',
       '1984 Q2', '1984 Q3', '1984 Q4', '1985 Q1', '1985 Q2', '1985 Q3',
       '1985 Q4', '1986 Q1', '1986 Q2', '1986 Q3', '1986 Q4', '1987 Q1',
       '1987 Q2', '1987 Q3', '1987 Q4', '1988 Q1', '1988 Q2', '1988 Q3',
       '1988 Q4', '1989 Q1', '1989 Q2', '1989 Q3', '1989 Q4', '1990 Q1',
       '1990 Q2', '1990 Q3', '1990 Q4', '1991 Q1', '1991 Q2', '1991 Q3',
       '1991 Q4', '1992 Q1', '1992 Q2', '1992 Q3', '1992 Q4', '1993 Q1',
       '1993 Q2', '1993 Q3', '1993 Q4', '1994 Q1', '1994 Q2', '1994 Q3',
       '1994 Q4', '1995 Q1', '1995 Q2', '1995 Q3', '1995 Q4', '1996 Q1',
       '1996 Q2', '1996 Q3', '1996 Q4', '1997 Q1', '1997 Q2', '1997 Q3',
       '1997 Q4', '1992 JAN', '1992 FEB', '1992 MAR', '1992 APR',
       '1992 MAY', '1992 JUN', '1992 JUL', '1992 AUG', '1992 SEP',
       '1992 OCT', '1992 NOV', '1992 DEC', '1993 JAN', '1993 FEB',
       '1993 MAR', '1993 APR', '1993 MAY', '1993 JUN', '1993 JUL',
       '1993 AUG', '1993 SEP', '1993 OCT', '1993 NOV', '1993 DEC',
       '1994 JAN', '1994 FEB', '1994 MAR', '1994 APR', '1994 MAY',
       '1994 JUN', '1994 JUL', '1994 AUG', '1994 SEP', '1994 OCT',
       '1994 NOV', '1994 DEC', '1995 JAN', '1995 FEB', '1995 MAR',
       '1995 APR', '1995 MAY', '1995 JUN', '1995 JUL', '1995 AUG',
       '1995 SEP', '1995 OCT', '1995 NOV', '1995 DEC', '1996 JAN',
       '1996 FEB', '1996 MAR', '1996 APR', '1996 MAY', '1996 JUN',
       '1996 JUL', '1996 AUG', '1996 SEP', '1996 OCT', '1996 NOV',
       '1996 DEC', '1997 JAN', '1997 FEB', '1997 MAR', '1997 APR',
       '1997 MAY', '1997 JUN', '1997 JUL', '1997 AUG', '1997 SEP',
       '1997 OCT', '1997 NOV', '1997 DEC'], dtype=object)

In [8]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

new_table['Period'] = new_table['Period'].apply(time2period)
new_table

,Period,CDID,OBS,Title
0,year/1998,SESM,-2766,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
1,year/1999,SESM,-2568,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
2,year/2000,SESM,-2441,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
3,year/2001,SESM,-3157,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
4,year/2002,SESM,-4703,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
5,year/2003,SESM,-5435,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
6,year/2004,SESM,-4851,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
7,year/2005,SESM,-3673,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
8,year/2006,SESM,-3746,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
9,year/2007,SESM,-5259,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
10,year/2008,SESM,-6023,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
11,year/2009,SESM,-8387,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
12,year/2010,SESM,-10573,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
13,year/2011,SESM,-10473,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
14,year/2012,SESM,-13839,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
15,year/2013,SESM,-17709,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
16,year/2014,SESM,-22028,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
17,year/2015,SESM,-22244,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
18,year/2016,SESM,-25014,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
19,year/2017,SESM,-27430,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
20,quarter/1998-Q1,SESM,-808,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
21,quarter/1998-Q2,SESM,-861,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
22,quarter/1998-Q3,SESM,-591,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
23,quarter/1998-Q4,SESM,-506,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
24,quarter/1999-Q1,SESM,-581,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
25,quarter/1999-Q2,SESM,-750,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
26,quarter/1999-Q3,SESM,-601,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
27,quarter/1999-Q4,SESM,-636,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
28,quarter/2000-Q1,SESM,-708,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
29,quarter/2000-Q2,SESM,-503,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
...,...,...,...,...
269082,month/2015-09,SGTK,147,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269083,month/2015-10,SGTK,99,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269084,month/2015-11,SGTK,119,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269085,month/2015-12,SGTK,114,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269086,month/2016-01,SGTK,252,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269087,month/2016-02,SGTK,506,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269088,month/2016-03,SGTK,1081,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269089,month/2016-04,SGTK,268,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269090,month/2016-05,SGTK,484,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269091,month/2016-06,SGTK,499,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269092,month/2016-07,SGTK,1534,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269093,month/2016-08,SGTK,1594,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269094,month/2016-09,SGTK,893,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269095,month/2016-10,SGTK,613,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269096,month/2016-11,SGTK,573,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269097,month/2016-12,SGTK,544,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269098,month/2017-01,SGTK,551,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269099,month/2017-02,SGTK,474,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269100,month/2017-03,SGTK,653,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269101,month/2017-04,SGTK,524,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269102,month/2017-05,SGTK,783,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269103,month/2017-06,SGTK,1449,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269104,month/2017-07,SGTK,1230,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269105,month/2017-08,SGTK,781,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269106,month/2017-09,SGTK,561,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269107,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269108,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269109,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269110,month/2018-01,SGTK,648,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
269111,month/2018-02,SGTK,439,non-EU:BOP:IM:SA:Unspecified goods: SITC 9

In [9]:
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'Â£ Millions'
new_table['Measure Type'] = 'GBP Total'
new_table.tail()

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
269107,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269108,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269109,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269110,month/2018-01,SGTK,648,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269111,month/2018-02,SGTK,439,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total

In [10]:
new_table.tail(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
269107,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269108,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269109,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269110,month/2018-01,SGTK,648,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total
269111,month/2018-02,SGTK,439,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total

In [11]:
cord_sitc_classification_table_url = 'https://drive.google.com/uc?export=download&id=1uJck_DtSgLs0XcEuKDB0swzj1UrWmauj'
cord_sitc_classification_table = BytesIO(session.get(cord_sitc_classification_table_url).content)
temp_table = pd.read_excel(cord_sitc_classification_table, sheet_name = 0)
temp_table = temp_table.reset_index()
temp_table.drop(['level_0','level_1','Sequence'], axis =1, inplace = True)
temp_table.tail(5)

      cdid  COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
6196  BPFR  5min8minE   WW        IM   BOP  IDEF     NSA      M
6197  BPGR  5min8minE   WW        IM   BOP  IDEF      SA      M
6198  BPCR  5min8minE   WW        IM   BOP    VM     NSA      M
6199  ELAI  5min8minE   WW        IM   BOP    VM      SA      M
6200   NaN        NaN  NaN       NaN   NaN   NaN     NaN    NaN

In [12]:
codelist_url = 'https://drive.google.com/uc?export=download&id=161OtInylx2518gmhRu7UgUYnZZ_x9FQr'
classification4 = pd.read_csv(BytesIO(session.get(codelist_url).content))

In [13]:
CSDB_classification_tables_url = 'https://drive.google.com/uc?export=download&id=1miAzQ6s8om4Ark3BpRk3Y90OAWfWErTb'
sheets = pd.read_excel(BytesIO(session.get(CSDB_classification_tables_url).content), sheet_name=None)
sheets
classification1 = sheets['cord_sitc']
classification2 = sheets['cord_cpa']
classification3 = sheets['cord_country']

In [14]:
classification1.head(5)

   cdid COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
0  SDSX    2plus4   EU       BAL   BOP    CP     NSA      Q
1  SGLO   5minus8   EU       BAL   BOP    CP     NSA      Q
2  SESL    5plus6   EU       BAL   BOP    CP     NSA      Q
3  SFJC    7plus8   EU       BAL   BOP    CP     NSA      Q
4  LKTX   TminusO   EU       BAL   BOP    CP     NSA      Q

In [15]:
classification2.head(5)

   cdid PRODUCT AREA DIRECTION BASIS PRICE SEASADJ PERIOD
0  P42L    24.2   EU        EX   BOP    CP     NSA      Q
1  P483    24.2   EU        EX   BOP    CP      SA      Q
2  P4DJ    24.2   EU        EX   BOP   CVM     NSA      Q
3  P4IZ    24.2   EU        EX   BOP   CVM      SA      Q
4  P3EP    24.2   EU        IM   BOP    CP     NSA      Q

In [16]:
classification3.head(5)

   cdid COUNTRY DIRECTION BASIS SEASADJ PERIOD
0  KN2O      XS       BAL   BOP     NSA      Q
1  LGDS      V4       BAL   BOP     NSA      Q
2  L87P      V3       BAL   BOP     NSA      Q
3  L87J      V2       BAL   BOP     NSA      Q
4  MHN8      I7       BAL   BOP     NSA      Q

In [17]:
classification4.head(5)

   cdid          COMMODITY AREA DIRECTION BASIS PRICE SEASADJ  PERIOD
0  AJFB    Canadian dollar   UK       NaN    BE    CP     NSA     NaN
1  AJFD        Swiss franc   UK       NaN    BE    CP     NSA     NaN
2  AJFI     Swedish kroner   UK       NaN    BE    CP     NSA     NaN
3  AJFJ   Norwegian kroner   UK       NaN    BE    CP     NSA     NaN
4  AJFK      Danish kroner   UK       NaN    BE    CP     NSA     NaN

In [18]:
classification2.rename(index = str, columns = {'PRODUCT':'COMMODITY'}, inplace = True)

In [19]:
classification3['COMMODITY'] = ''
classification3['PRICE'] = ''

In [20]:
classification3.rename(index = str, columns = {'COUNTRY':'AREA'}, inplace = True)

In [21]:
temp_table = pd.concat([temp_table, classification1, classification2,classification3,classification4])

In [22]:
temp_table.head()

  AREA BASIS COMMODITY DIRECTION PERIOD PRICE SEASADJ  cdid
0   EU   BOP    2plus4       BAL      M    CP     NSA  SDSX
1   EU   BOP   5minus8       BAL      M    CP     NSA  SGLO
2   EU   BOP    7plus8       BAL      M    CP     NSA  SFJC
3   EU   BOP   TminusO       BAL      M    CP     NSA  LKTX
4   EU   BOP    0plus1       BAL      M    CP     NSA  SDMS

In [23]:
temp_table.shape

(18295, 8)

In [24]:
temp_table.drop_duplicates(['cdid'], keep='first', inplace=True)

In [25]:
temp_table.head()

  AREA BASIS COMMODITY DIRECTION PERIOD PRICE SEASADJ  cdid
0   EU   BOP    2plus4       BAL      M    CP     NSA  SDSX
1   EU   BOP   5minus8       BAL      M    CP     NSA  SGLO
2   EU   BOP    7plus8       BAL      M    CP     NSA  SFJC
3   EU   BOP   TminusO       BAL      M    CP     NSA  LKTX
4   EU   BOP    0plus1       BAL      M    CP     NSA  SDMS

In [26]:
new_table.head(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type
0,year/1998,SESM,-2766,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,K02000001,Â£ Millions,GBP Total
1,year/1999,SESM,-2568,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,K02000001,Â£ Millions,GBP Total
2,year/2000,SESM,-2441,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,K02000001,Â£ Millions,GBP Total
3,year/2001,SESM,-3157,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,K02000001,Â£ Millions,GBP Total
4,year/2002,SESM,-4703,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,K02000001,Â£ Millions,GBP Total

In [27]:
new_table.head(1)['CDID']

0    SESM
Name: CDID, dtype: object

In [28]:
temp_table.head(1)['cdid']

0    SDSX
Name: cdid, dtype: object

In [29]:
new_table = pd.merge(new_table,temp_table, how = 'left', left_on = 'CDID', right_on = 'cdid')

In [30]:
new_table.tail(5)

,Period,CDID,OBS,Title,Geography,Unit,Measure Type,AREA,BASIS,COMMODITY,DIRECTION,PERIOD,PRICE,SEASADJ,cdid
269107,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA,SGTK
269108,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA,SGTK
269109,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA,SGTK
269110,month/2018-01,SGTK,648,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA,SGTK
269111,month/2018-02,SGTK,439,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA,SGTK

In [31]:
new_table.drop(['cdid'], axis = 1, inplace = True)

In [32]:
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)
new_table.rename(index= str, columns= {'DIRECTION':'Flow'}, inplace = True)
new_table.rename(index= str, columns= {'COMMODITY':'Product'}, inplace = True)
new_table.rename(index= str, columns= {'SEASADJ':'Seasonal Adjustment'}, inplace = True)

In [33]:
new_table.tail(5)

,Period,CDID,Value,Title,Geography,Unit,Measure Type,AREA,BASIS,Product,Flow,PERIOD,PRICE,Seasonal Adjustment
269107,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA
269108,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA
269109,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA
269110,month/2018-01,SGTK,648,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA
269111,month/2018-02,SGTK,439,non-EU:BOP:IM:SA:Unspecified goods: SITC 9,K02000001,Â£ Millions,GBP Total,RW,BOP,9,IM,M,CP,SA

In [34]:
new_table =new_table[['AREA','Period','CDID','BASIS','Product','Seasonal Adjustment','Flow','PRICE','Measure Type','Value','Unit']]

In [35]:
new_table.head(5)

,AREA,Period,CDID,BASIS,Product,Seasonal Adjustment,Flow,PRICE,Measure Type,Value,Unit
0,EU,year/1998,SESM,BOP,5plus6,SA,BAL,CP,GBP Total,-2766,Â£ Millions
1,EU,year/1999,SESM,BOP,5plus6,SA,BAL,CP,GBP Total,-2568,Â£ Millions
2,EU,year/2000,SESM,BOP,5plus6,SA,BAL,CP,GBP Total,-2441,Â£ Millions
3,EU,year/2001,SESM,BOP,5plus6,SA,BAL,CP,GBP Total,-3157,Â£ Millions
4,EU,year/2002,SESM,BOP,5plus6,SA,BAL,CP,GBP Total,-4703,Â£ Millions

In [36]:
new_table.tail(5)

,AREA,Period,CDID,BASIS,Product,Seasonal Adjustment,Flow,PRICE,Measure Type,Value,Unit
269107,RW,month/2017-10,SGTK,BOP,9,SA,IM,CP,GBP Total,612,Â£ Millions
269108,RW,month/2017-11,SGTK,BOP,9,SA,IM,CP,GBP Total,1091,Â£ Millions
269109,RW,month/2017-12,SGTK,BOP,9,SA,IM,CP,GBP Total,872,Â£ Millions
269110,RW,month/2018-01,SGTK,BOP,9,SA,IM,CP,GBP Total,648,Â£ Millions
269111,RW,month/2018-02,SGTK,BOP,9,SA,IM,CP,GBP Total,439,Â£ Millions

Pull out missing Values

In [37]:
# temp_table1 = new_table[new_table['AREA'].isnull() == True] 
# Codelist = temp_table1['Cdid'].unique()
# Codelist.shape
# codes = pd.Series(Codelist)
# codes.to_csv('Codelist.csv', index = False)

In [38]:
new_table.shape

(269112, 11)

In [39]:
new_table = new_table[new_table['Value'] != 0]

In [40]:
new_table.fillna('NA', inplace = True)

In [41]:
new_table.Flow.unique()

array(['BAL', 'IM', 'EX', 'NA'], dtype=object)

In [42]:
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('EX', 'Exports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('IM', 'Imports'))
new_table['Flow'] = new_table['Flow'].map(lambda cell:cell.replace('BAL', 'Balance'))

In [43]:
new_table.head(5)

,AREA,Period,CDID,BASIS,Product,Seasonal Adjustment,Flow,PRICE,Measure Type,Value,Unit
0,EU,year/1998,SESM,BOP,5plus6,SA,Balance,CP,GBP Total,-2766.0,Â£ Millions
1,EU,year/1999,SESM,BOP,5plus6,SA,Balance,CP,GBP Total,-2568.0,Â£ Millions
2,EU,year/2000,SESM,BOP,5plus6,SA,Balance,CP,GBP Total,-2441.0,Â£ Millions
3,EU,year/2001,SESM,BOP,5plus6,SA,Balance,CP,GBP Total,-3157.0,Â£ Millions
4,EU,year/2002,SESM,BOP,5plus6,SA,Balance,CP,GBP Total,-4703.0,Â£ Millions

In [44]:
new_table = new_table[(new_table['CDID'] != 'AJFB')&(new_table['CDID'] != 'AJFD')&
                                                     (new_table['CDID'] != 'AJFI')&
                                                      (new_table['CDID'] != 'AJFJ')&
                                                       (new_table['CDID'] != 'AJFK')&
                                                        (new_table['CDID'] != 'AJFO')&
                                                         (new_table['CDID'] != 'AJFP')&
                                                          (new_table['CDID'] != 'AJFU')&
                                                           (new_table['CDID'] != 'AJFV')&
                                                            (new_table['CDID'] != 'AJFW')&
                                                             (new_table['CDID'] != 'AUSS')&
                                                              (new_table['CDID'] != 'BK67')&
                                                               (new_table['CDID'] != 'THAP')]

In [45]:
new_table.dtypes

AREA                    object
Period                  object
CDID                    object
BASIS                   object
Product                 object
Seasonal Adjustment     object
Flow                    object
PRICE                   object
Measure Type            object
Value                  float64
Unit                    object
dtype: object

In [47]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('MRET_Tidydata.csv'), index = False)