Total value of UK trade by Employee Size

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
%run "fetch_source.ipynb"

In [3]:
tab = loadxlstabs(inputFile)

Loading in/idbr_ots_tables_2015.xls which has size 174080 bytes
Table names: ['Notes and Contents', 'Industry Group', 'Age Group', 'Employee Size', 'Industry_Age', 'Industry_EmployeeSize', 'EmployeeSize_Age', 'Metadata']

In [4]:
tab = tab[3]

In [5]:
savepreviewhtml(tab)

In [6]:
observations = tab.excel_ref('C9').expand(DOWN).expand(RIGHT).is_not_blank()-tab.excel_ref('C8').expand(UP)

In [7]:
observations = observations - tab.excel_ref('C17').expand(DOWN).expand(RIGHT)

In [8]:
Employeesize = tab.excel_ref('A').expand(DOWN)

In [9]:
Flow = tab.excel_ref('C6').expand(RIGHT)

In [10]:
Dimensions = [
            HDimConst('Geography', 'K02000001'),
            HDimConst('Year','2015'),
            HDimConst('Unit', '£ Million'), 
            HDimConst('Measure Type','Total Turnover'),            
            HDim(Employeesize, 'Employment', DIRECTLY, LEFT),
            HDim(Flow, 'Flow', CLOSEST, LEFT)    
]

In [11]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)

In [12]:
savepreviewhtml(c1)

In [13]:
new_table = c1.topandas()

In [14]:
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)

In [15]:
new_table['Value'] = new_table['Value'].astype('int', copy=False)

In [16]:
new_table['Employment'] = new_table['Employment'].str.strip()
new_table['Year'] = new_table['Year'].str.strip()
new_table['Flow'] = new_table['Flow'].str.strip()
new_table['Unit'] = new_table['Unit'].str.strip()
new_table['Measure Type'] = new_table['Measure Type'].str.strip()
new_table['Geography'] = new_table['Geography'].str.strip()

In [17]:
new_table['Flow'] = new_table['Flow'].str.rstrip('s')
new_table['Value'] = new_table['Value'].astype(int)

In [18]:
new_table['Employment'] = new_table['Employment'].map(str) + ' employees'

In [19]:
new_table = new_table[['Geography','Year','Employment','Flow','Measure Type','Value','Unit']]

In [20]:
new_table['Employment'] = new_table['Employment'].map(lambda cell: cell.replace('0.0', '0'))

In [21]:
new_table

,Geography,Year,Employment,Flow,Measure Type,Value,Unit
0,K02000001,2015,0 employees,Export,Total Turnover,26919,£ Million
1,K02000001,2015,0 employees,Import,Total Turnover,44923,£ Million
2,K02000001,2015,1 to 9 employees,Export,Total Turnover,16369,£ Million
3,K02000001,2015,1 to 9 employees,Import,Total Turnover,26778,£ Million
4,K02000001,2015,10 to 49 employees,Export,Total Turnover,24266,£ Million
5,K02000001,2015,10 to 49 employees,Import,Total Turnover,48100,£ Million
6,K02000001,2015,50 to 249 employees,Export,Total Turnover,42297,£ Million
7,K02000001,2015,50 to 249 employees,Import,Total Turnover,65195,£ Million
8,K02000001,2015,250 + employees,Export,Total Turnover,173003,£ Million
9,K02000001,2015,250 + employees,Import,Total Turnover,213274,£ Million
10,K02000001,2015,Unknown employees,Export,Total Turnover,21915,£ Million
11,K02000001,2015,Unknown employees,Import,Total Turnover,12763,£ Million
12,K02000001,2015,Total employees,Export,Total Turnover,304768,£ Million
13,K02000001,2015,Total employees,Import,Total Turnover,411033,£ Million