In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
final_table = pd.DataFrame()

In [3]:
%%capture
%run "Business count by Age of Business.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Business count by Employee Size.ipynb"
final_table = pd.concat([final_table, new_table])

%run"Business count by Industry Group.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Employee count for Businesses by Age of Business.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Employee count for Businesses by Employee Size.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Employee count for Businesses by Industry Group.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Total value of UK trade by Age of Business.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Total value of UK trade by Employee Size.ipynb"
final_table = pd.concat([final_table, new_table])

%run "Total value of UK trade by Industry Group.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -Business Count.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -Employee Count and age business.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -Employee Count and age employee count.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -Employee Count and age.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -Employee Count.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS -total value of UK Trade.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS_Employee size_Businesses.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS_Employee size_Employee count.ipynb"
final_table = pd.concat([final_table, new_table])

%run "TRADE IN GOODS STATISTICS_Employee size_value.ipynb"
final_table = pd.concat([final_table, new_table])

In [4]:
final_table.fillna('Total', inplace = True)

In [5]:
final_table.head()

,Age of Business,Employment,Flow,Geography,HMRC Industry,Measure Type,Unit,Value,Year
0,0 to 1 years,Total,Export,K02000001,Total,Count,Businesses,10515,2015
1,0 to 1 years,Total,Import,K02000001,Total,Count,Businesses,21541,2015
2,2 to 3 years,Total,Export,K02000001,Total,Count,Businesses,13308,2015
3,2 to 3 years,Total,Import,K02000001,Total,Count,Businesses,22043,2015
4,4 to 5 years,Total,Export,K02000001,Total,Count,Businesses,12088,2015

In [6]:
final_table['Employment'].unique()

array(['Total', '0 employees', '1 to 9 employees', '10 to 49 employees',
       '50 to 249 employees', '250 + employees', 'Unknown employees',
       'Total employees', 'Grand Total employees', 'employees'], dtype=object)

In [7]:
def user_perc(x):
    
    if str(x) == 'employees':
        return 'Total employees'
    else:
        return x
    
final_table['Employment'] = final_table.apply(lambda row: user_perc(row['Employment']), axis = 1)

In [8]:
final_table['Employment'] = final_table['Employment'].map(lambda cell: cell.replace('Grand Total employees', 'Total employees'))

In [9]:
final_table['Flow'].unique()

array(['Export', 'Import'], dtype=object)

In [10]:
final_table['HMRC Industry'].unique()

array(['Total', 'group-1', 'group-2', 'group-3', 'group-4', 'group-5',
       'group-6', 'group-7', 'group-8', 'group-9', 'group-10', 'Unknown'], dtype=object)

In [11]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace('Agriculture  Food', 'Agriculture and Food'))

In [12]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace('Mining, Petroleum products  Waste', 'Mining, Petroleum products and Waste'))

In [13]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace('Electronic  Electrical equipment', 'Electronic and Electrical equipment'))

In [14]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace('Machinery  equipment n.e.s', 'Machinery and equipment n.e.s'))

In [15]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace('Aerospace  related machinery', 'Aerospace and related machinery'))

In [16]:
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(lambda cell: cell.replace(' Total', 'Total'))

In [17]:
final_table['Unit'].unique()

array(['Businesses', 'Employees', 'Â£ Million'], dtype=object)

In [18]:
final_table['Measure Type'].unique()

array(['Count', 'Total Turnover'], dtype=object)

In [19]:
final_table['Year'].unique()

array(['2015'], dtype=object)

In [20]:
final_table['Age of Business'].unique()

array(['0 to 1 years', '2 to 3 years', '4 to 5 years', '6 to 9 years',
       '10 to 20 years', '20 + years', 'Unknown years', 'Total years',
       'Total', ' years', '6 to 9  years', 'years'], dtype=object)

In [21]:
final_table['Age of Business'].unique()

array(['0 to 1 years', '2 to 3 years', '4 to 5 years', '6 to 9 years',
       '10 to 20 years', '20 + years', 'Unknown years', 'Total years',
       'Total', ' years', '6 to 9  years', 'years'], dtype=object)

In [22]:
def user_perc2(x):
    
    if str(x) == '6 to 9  years':
        return '6 to 9 years'
    else:
        return x.strip()
    
final_table['Age of Business'] = final_table.apply(lambda row: user_perc2(row['Age of Business']), axis = 1)

In [23]:
final_table = final_table[['Geography','Year','Employment','Flow','Age of Business','HMRC Industry','Measure Type','Value','Unit']]

In [24]:
out = Path('out')
out.mkdir(exist_ok=True)
final_table.to_csv(out / 'Businesscharacteristics.csv', index = False)