UK trade in services: service type by partner country, non-seasonally adjusted

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/' + \
                  'internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted')
scraper

## UK trade in services: service type by partner country, non-seasonally adjusted

Quarterly estimates of service type by partner country, non-seasonally adjusted.

### Distributions

1. UK trade in services: service type by partner country, non-seasonally adjusted ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted/current/servicetypebycountry.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None)
tab.rename(columns=tab.iloc[0], inplace=True)
tab = tab.iloc[1:, :]
tab = tab.drop(tab.columns[[2,4,8]], axis = 1)
tab

,Direction,Service type code,Country code,2016,2017,2018,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1
1,Exports,0,AT,1035,1192,1236,228,254,278,275,278,303,298,313,270,322,325,319,279
2,Exports,0,BE,4253,5234,4894,980,1040,1082,1151,1228,1421,1445,1140,1103,1259,1220,1312,1160
3,Exports,0,BG,457,498,558,94,114,129,120,101,128,140,129,112,149,150,147,124
4,Exports,0,HR,196,195,202,41,48,52,55,36,47,58,54,41,58,50,53,47
5,Exports,0,CY,807,812,860,174,202,219,212,170,194,225,223,166,236,223,235,215
6,Exports,0,CZ,1004,1049,1048,214,250,268,272,235,275,276,263,260,252,269,267,240
7,Exports,0,DK,3570,3617,4029,796,884,905,985,806,928,917,966,914,1031,1024,1060,862
8,Exports,0,EE,67,80,87,13,17,18,19,20,20,21,19,14,23,25,25,15
9,Exports,0,FI,1203,1249,1230,280,302,294,327,293,308,321,327,288,309,305,328,387
10,Exports,0,FR,15723,16770,17596,3578,3917,3997,4231,3872,4201,4388,4309,4110,4476,4383,4627,4316
11,Exports,0,DE,17415,19177,18884,3998,4339,4418,4660,4379,5011,4997,4790,4414,4743,4717,5010,4667
12,Exports,0,GR,1267,1441,1455,289,314,337,327,328,382,375,356,325,376,386,368,326
13,Exports,0,HU,661,777,759,146,165,169,181,161,184,234,198,168,196,200,195,179
14,Exports,0,IE,12382,16318,16093,2722,3079,3094,3487,3583,3573,4206,4956,3625,4151,3851,4466,3529
15,Exports,0,IT,9064,8904,9017,1931,2291,2495,2347,1897,2405,2436,2166,1937,2352,2456,2272,2006
16,Exports,0,LV,130,147,196,24,34,36,36,28,40,43,36,38,51,60,47,32
17,Exports,0,LT,194,208,212,39,50,56,49,45,54,58,51,41,55,61,55,44
18,Exports,0,LU,2986,3111,3519,701,752,733,800,856,744,727,784,961,853,831,874,781
19,Exports,0,MT,807,860,449,177,206,213,211,378,230,132,120,87,116,128,118,101
20,Exports,0,NL,14942,16522,17505,3447,3748,3727,4020,3585,4167,4372,4398,4102,4459,4294,4650,4104
21,Exports,0,PL,1771,2068,2011,375,448,470,478,429,517,557,565,446,522,524,519,442
22,Exports,0,PT,1318,1345,1354,284,328,362,344,290,328,369,358,299,343,375,337,315
23,Exports,0,RO,759,747,801,150,194,215,200,148,197,221,181,154,206,235,206,168
24,Exports,0,SK,321,340,386,69,79,83,90,72,85,91,92,79,102,105,100,87
25,Exports,0,SI,148,185,157,30,34,36,48,40,40,58,47,35,37,39,46,31
26,Exports,0,ES,6544,6907,7250,1428,1639,1742,1735,1528,1803,1840,1736,1653,1828,1925,1844,1713
27,Exports,0,SE,4987,4967,4919,1098,1261,1279,1349,1147,1256,1247,1317,1164,1269,1210,1276,1206
28,Exports,0,4F,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,Exports,0,4A,23,143,0,6,4,7,6,36,38,35,34,0,0,0,0,0
30,Exports,0,B5,104034,114863,116707,23312,25993,26714,28015,25969,28879,30087,29928,26806,29774,29371,30756,27376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,Imports,12,HK,18,20,..,3,5,5,5,5,5,5,5,5,..,5,6,5
7364,Imports,12,IN,56,71,66,9,15,15,17,16,20,17,18,17,16,17,16,17
7365,Imports,12,ID,18,23,..,3,5,5,5,6,6,6,5,..,..,6,..,6
7366,Imports,12,IR,8,11,..,2,2,2,2,2,3,3,3,..,..,..,2,2
7367,Imports,12,IL,45,57,79,11,19,12,3,14,14,14,15,18,22,12,27,12
7368,Imports,12,JP,..,31,30,5,..,7,..,6,9,8,8,8,8,7,7,7
7369,Imports,12,MY,9,11,..,2,2,3,2,2,3,3,3,..,3,..,..,2
7370,Imports,12,PK,22,27,..,3,7,6,6,6,7,7,7,7,7,..,7,7
7371,Imports,12,PH,0,1,..,0,0,0,0,0,1,0,0,0,..,..,1,1
7372,Imports,12,SA,..,28,..,..,..,..,..,..,..,..,..,..,8,..,..,6
7373,Imports,12,SG,..,46,..,4,3,..,14,..,..,..,19,9,11,..,3,16
7374,Imports,12,KR,..,69,..,2,..,..,2,25,4,21,19,..,20,..,..,3
7375,Imports,12,TW,..,11,..,..,..,..,..,2,3,3,3,..,2,2,2,2
7376,Imports,12,TH,8,16,..,2,2,2,2,..,..,4,4,4,..,3,..,3
7377,Imports,12,PB4,124,120,144,22,23,..,..,28,33,30,29,36,33,34,41,37
7378,Imports,12,PB5,..,99,..,..,..,..,..,23,23,..,..,24,..,23,19,22
7379,Imports,12,PB6,180,198,208,42,47,42,49,40,54,58,46,51,44,62,51,50
7380,Imports,12,S1,997,901,876,144,252,175,426,203,224,241,233,219,226,212,219,211
7381,Imports,12,AU,..,25,..,..,..,..,..,5,7,8,5,5,5,5,..,..
7382,Imports,12,NZ,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,..
7383,Imports,12,PB7,..,0,0,..,..,0,..,0,0,0,0,0,0,0,0,1
7384,Imports,12,O1,24,26,..,..,..,..,10,5,7,9,5,5,5,6,..,5
7385,Imports,12,EG,28,30,..,6,..,7,..,7,8,7,8,..,8,..,9,10
7386,Imports,12,MA,9,12,..,2,..,..,2,2,3,3,4,..,..,..,3,3
7387,Imports,12,ZA,31,23,..,4,6,8,13,7,6,5,5,..,..,..,6,..
7388,Imports,12,PB8,14,11,..,2,..,2,..,2,3,3,3,..,3,..,2,2
7389,Imports,12,PB9,188,236,..,35,61,51,41,53,72,55,56,67,..,..,..,..
7390,Imports,12,F1,270,312,..,49,..,..,69,71,92,73,76,87,79,88,..,87
7391,Imports,12,9A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7392,Imports,12,W1,3794,4739,4469,790,1038,906,1060,1186,1180,1196,1177,1034,1163,1030,1242,1053

In [3]:
tab.columns.values[0] = 'Flow'
tab.columns.values[1] = 'Pink Book Services'
tab.columns.values[2] = 'ONS Partner Geography'

In [4]:
new_table = pd.melt(tab, id_vars=['Flow','Pink Book Services','ONS Partner Geography'], var_name='Period', value_name='Value')

In [5]:
new_table['Period'] = new_table['Period'].astype(str)

In [6]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})(Q[1-4])')

class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

new_table['Period'] = new_table['Period'].apply(time2period)

In [7]:
new_table['Flow'] = new_table['Flow'].map(lambda s: s.lower().strip())

In [8]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'

In [9]:
def user_perc(x):
    
    if (str(x) ==  '-') : 
        return 'itis-nil'
    elif ((str(x) == '..')):
        return 'disclosive'
    else:
        return None
    
new_table['Marker'] = new_table.apply(lambda row: user_perc(row['Value']), axis = 1)

In [10]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors = 'coerce')

In [11]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','Pink Book Services', 'Seasonal Adjustment', 'Measure Type','Value','Unit','Marker' ]]