UK trade in services: service type by partner country, non-seasonally adjusted

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/' + \
                  'internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted')
scraper

## UK trade in services: service type by partner country, non-seasonally adjusted

Quarterly estimates of service type by partner country, non-seasonally adjusted.

### Distributions

1. UK trade in services: service type by partner country, non-seasonally adjusted ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted/current/servicetypebycountry.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None)
tab.rename(columns=tab.iloc[0], inplace=True)
tab = tab.iloc[1:, :]
tab = tab.drop(['Service type','Country'], axis = 1)
tab

,Direction,Service type code,Country code,2016,2017,2018,nan,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1
1,Exports,0,AT,1035,1192,1236,NaN,228,254,278,275,278,303,298,313,270,322,325,319,279
2,Exports,0,BE,4253,5234,4894,NaN,980,1040,1082,1151,1228,1421,1445,1140,1103,1259,1220,1312,1160
3,Exports,0,BG,457,498,558,NaN,94,114,129,120,101,128,140,129,112,149,150,147,124
4,Exports,0,HR,196,195,202,NaN,41,48,52,55,36,47,58,54,41,58,50,53,47
5,Exports,0,CY,807,812,860,NaN,174,202,219,212,170,194,225,223,166,236,223,235,215
6,Exports,0,CZ,1004,1049,1048,NaN,214,250,268,272,235,275,276,263,260,252,269,267,240
7,Exports,0,DK,3570,3617,4029,NaN,796,884,905,985,806,928,917,966,914,1031,1024,1060,862
8,Exports,0,EE,67,80,87,NaN,13,17,18,19,20,20,21,19,14,23,25,25,15
9,Exports,0,FI,1203,1249,1230,NaN,280,302,294,327,293,308,321,327,288,309,305,328,387
10,Exports,0,FR,15723,16770,17596,NaN,3578,3917,3997,4231,3872,4201,4388,4309,4110,4476,4383,4627,4316
11,Exports,0,DE,17415,19177,18884,NaN,3998,4339,4418,4660,4379,5011,4997,4790,4414,4743,4717,5010,4667
12,Exports,0,GR,1267,1441,1455,NaN,289,314,337,327,328,382,375,356,325,376,386,368,326
13,Exports,0,HU,661,777,759,NaN,146,165,169,181,161,184,234,198,168,196,200,195,179
14,Exports,0,IE,12382,16318,16093,NaN,2722,3079,3094,3487,3583,3573,4206,4956,3625,4151,3851,4466,3529
15,Exports,0,IT,9064,8904,9017,NaN,1931,2291,2495,2347,1897,2405,2436,2166,1937,2352,2456,2272,2006
16,Exports,0,LV,130,147,196,NaN,24,34,36,36,28,40,43,36,38,51,60,47,32
17,Exports,0,LT,194,208,212,NaN,39,50,56,49,45,54,58,51,41,55,61,55,44
18,Exports,0,LU,2986,3111,3519,NaN,701,752,733,800,856,744,727,784,961,853,831,874,781
19,Exports,0,MT,807,860,449,NaN,177,206,213,211,378,230,132,120,87,116,128,118,101
20,Exports,0,NL,14942,16522,17505,NaN,3447,3748,3727,4020,3585,4167,4372,4398,4102,4459,4294,4650,4104
21,Exports,0,PL,1771,2068,2011,NaN,375,448,470,478,429,517,557,565,446,522,524,519,442
22,Exports,0,PT,1318,1345,1354,NaN,284,328,362,344,290,328,369,358,299,343,375,337,315
23,Exports,0,RO,759,747,801,NaN,150,194,215,200,148,197,221,181,154,206,235,206,168
24,Exports,0,SK,321,340,386,NaN,69,79,83,90,72,85,91,92,79,102,105,100,87
25,Exports,0,SI,148,185,157,NaN,30,34,36,48,40,40,58,47,35,37,39,46,31
26,Exports,0,ES,6544,6907,7250,NaN,1428,1639,1742,1735,1528,1803,1840,1736,1653,1828,1925,1844,1713
27,Exports,0,SE,4987,4967,4919,NaN,1098,1261,1279,1349,1147,1256,1247,1317,1164,1269,1210,1276,1206
28,Exports,0,4F,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
29,Exports,0,4A,23,143,0,NaN,6,4,7,6,36,38,35,34,0,0,0,0,0
30,Exports,0,B5,104034,114863,116707,NaN,23312,25993,26714,28015,25969,28879,30087,29928,26806,29774,29371,30756,27376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,Imports,12,HK,18,20,..,NaN,3,5,5,5,5,5,5,5,5,..,5,6,5
7364,Imports,12,IN,56,71,66,NaN,9,15,15,17,16,20,17,18,17,16,17,16,17
7365,Imports,12,ID,18,23,..,NaN,3,5,5,5,6,6,6,5,..,..,6,..,6
7366,Imports,12,IR,8,11,..,NaN,2,2,2,2,2,3,3,3,..,..,..,2,2
7367,Imports,12,IL,45,57,79,NaN,11,19,12,3,14,14,14,15,18,22,12,27,12
7368,Imports,12,JP,..,31,30,NaN,5,..,7,..,6,9,8,8,8,8,7,7,7
7369,Imports,12,MY,9,11,..,NaN,2,2,3,2,2,3,3,3,..,3,..,..,2
7370,Imports,12,PK,22,27,..,NaN,3,7,6,6,6,7,7,7,7,7,..,7,7
7371,Imports,12,PH,0,1,..,NaN,0,0,0,0,0,1,0,0,0,..,..,1,1
7372,Imports,12,SA,..,28,..,NaN,..,..,..,..,..,..,..,..,..,8,..,..,6
7373,Imports,12,SG,..,46,..,NaN,4,3,..,14,..,..,..,19,9,11,..,3,16
7374,Imports,12,KR,..,69,..,NaN,2,..,..,2,25,4,21,19,..,20,..,..,3
7375,Imports,12,TW,..,11,..,NaN,..,..,..,..,2,3,3,3,..,2,2,2,2
7376,Imports,12,TH,8,16,..,NaN,2,2,2,2,..,..,4,4,4,..,3,..,3
7377,Imports,12,PB4,124,120,144,NaN,22,23,..,..,28,33,30,29,36,33,34,41,37
7378,Imports,12,PB5,..,99,..,NaN,..,..,..,..,23,23,..,..,24,..,23,19,22
7379,Imports,12,PB6,180,198,208,NaN,42,47,42,49,40,54,58,46,51,44,62,51,50
7380,Imports,12,S1,997,901,876,NaN,144,252,175,426,203,224,241,233,219,226,212,219,211
7381,Imports,12,AU,..,25,..,NaN,..,..,..,..,5,7,8,5,5,5,5,..,..
7382,Imports,12,NZ,0,1,1,NaN,0,0,0,0,0,0,1,0,0,0,1,0,..
7383,Imports,12,PB7,..,0,0,NaN,..,..,0,..,0,0,0,0,0,0,0,0,1
7384,Imports,12,O1,24,26,..,NaN,..,..,..,10,5,7,9,5,5,5,6,..,5
7385,Imports,12,EG,28,30,..,NaN,6,..,7,..,7,8,7,8,..,8,..,9,10
7386,Imports,12,MA,9,12,..,NaN,2,..,..,2,2,3,3,4,..,..,..,3,3
7387,Imports,12,ZA,31,23,..,NaN,4,6,8,13,7,6,5,5,..,..,..,6,..
7388,Imports,12,PB8,14,11,..,NaN,2,..,2,..,2,3,3,3,..,3,..,2,2
7389,Imports,12,PB9,188,236,..,NaN,35,61,51,41,53,72,55,56,67,..,..,..,..
7390,Imports,12,F1,270,312,..,NaN,49,..,..,69,71,92,73,76,87,79,88,..,87
7391,Imports,12,9A,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
7392,Imports,12,W1,3794,4739,4469,NaN,790,1038,906,1060,1186,1180,1196,1177,1034,1163,1030,1242,1053

In [3]:
tab.columns.values[0] = 'Flow'
tab.columns.values[1] = 'Pink Book Services'
tab.columns.values[2] = 'ONS Partner Geography'

In [4]:
new_table = pd.melt(tab, id_vars=['Flow','Pink Book Services','ONS Partner Geography'], var_name='Period', value_name='Value')

In [5]:
new_table

           Flow Pink Book Services ONS Partner Geography  Period   Value
0       Exports                  0                    AT    2016    1035
1       Exports                  0                    BE    2016    4253
2       Exports                  0                    BG    2016     457
3       Exports                  0                    HR    2016     196
4       Exports                  0                    CY    2016     807
5       Exports                  0                    CZ    2016    1004
6       Exports                  0                    DK    2016    3570
7       Exports                  0                    EE    2016      67
8       Exports                  0                    FI    2016    1203
9       Exports                  0                    FR    2016   15723
10      Exports                  0                    DE    2016   17415
11      Exports                  0                    GR    2016    1267
12      Exports                  0                    HU    2016     661
13      Exports                  0                    IE    2016   12382
14      Exports                  0                    IT    2016    9064
15      Exports                  0                    LV    2016     130
16      Exports                  0                    LT    2016     194
17      Exports                  0                    LU    2016    2986
18      Exports                  0                    MT    2016     807
19      Exports                  0                    NL    2016   14942
20      Exports                  0                    PL    2016    1771
21      Exports                  0                    PT    2016    1318
22      Exports                  0                    RO    2016     759
23      Exports                  0                    SK    2016     321
24      Exports                  0                    SI    2016     148
25      Exports                  0                    ES    2016    6544
26      Exports                  0                    SE    2016    4987
27      Exports                  0                    4F    2016       0
28      Exports                  0                    4A    2016      23
29      Exports                  0                    B5    2016  104034
...         ...                ...                   ...     ...     ...
125634  Imports                 12                    HK  2019Q1       5
125635  Imports                 12                    IN  2019Q1      17
125636  Imports                 12                    ID  2019Q1       6
125637  Imports                 12                    IR  2019Q1       2
125638  Imports                 12                    IL  2019Q1      12
125639  Imports                 12                    JP  2019Q1       7
125640  Imports                 12                    MY  2019Q1       2
125641  Imports                 12                    PK  2019Q1       7
125642  Imports                 12                    PH  2019Q1       1
125643  Imports                 12                    SA  2019Q1       6
125644  Imports                 12                    SG  2019Q1      16
125645  Imports                 12                    KR  2019Q1       3
125646  Imports                 12                    TW  2019Q1       2
125647  Imports                 12                    TH  2019Q1       3
125648  Imports                 12                   PB4  2019Q1      37
125649  Imports                 12                   PB5  2019Q1      22
125650  Imports                 12                   PB6  2019Q1      50
125651  Imports                 12                    S1  2019Q1     211
125652  Imports                 12                    AU  2019Q1      ..
125653  Imports                 12                    NZ  2019Q1      ..
125654  Imports                 12                   PB7  2019Q1       1
125655  Imports                 12                    O1  2019Q1       5
125656  Imports                 12                    EG  2019Q1      10
125657  Imports                 12                    MA  2019Q1       3
125658  Imports                 12                    ZA  2019Q1      ..
125659  Imports                 12                   PB8  2019Q1       2
125660  Imports                 12                   PB9  2019Q1      ..
125661  Imports                 12                    F1  2019Q1      87
125662  Imports                 12                    9A  2019Q1       0
125663  Imports                 12                    W1  2019Q1    1053

[125664 rows x 5 columns]

In [6]:
new_table['Period'] = 'quarter/' + new_table['Period'].astype(str).str[0:4]+ '-' +   new_table['Period'].astype(str).str[-2:]

In [7]:
new_table['Flow'] = new_table['Flow'].map(lambda s: s.lower().strip())

In [8]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'

In [12]:
def user_perc(x):
    
    if (str(x) ==  '-') : 
        return 'itis-nil'
    elif ((str(x) == '..')):
        return 'disclosive'
    else:
        return None
    
new_table['Marker'] = new_table.apply(lambda row: user_perc(row['Value']), axis = 1)

In [13]:
# new_table = new_table[new_table['Value'] !=  '-' ]
# new_table = new_table[new_table['Value'] !=  '..' ]
# new_table['Value'] = new_table.loc[new_table['Value'].notnull(), 'Value'].apply(int)
# new_table = new_table.dropna(subset=['Value'])
# new_table['Value'] = new_table['Value'].astype(float).astype(int)

In [14]:
new_table['Period'] = new_table['Period'].map(
    lambda x: {
        'quarter/2016-16' : 'year/2016', 
        'quarter/2017-17' : 'year/2017'
        }.get(x, x))

In [15]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','Pink Book Services', 'Seasonal Adjustment', 'Measure Type','Value','Unit','Marker' ]]

In [16]:
new_table

,ONS Partner Geography,Period,Flow,Pink Book Services,Seasonal Adjustment,Measure Type,Value,Unit,Marker
0,AT,year/2016,exports,0,NSA,GBP Total,1035,gbp-million,None
1,BE,year/2016,exports,0,NSA,GBP Total,4253,gbp-million,None
2,BG,year/2016,exports,0,NSA,GBP Total,457,gbp-million,None
3,HR,year/2016,exports,0,NSA,GBP Total,196,gbp-million,None
4,CY,year/2016,exports,0,NSA,GBP Total,807,gbp-million,None
5,CZ,year/2016,exports,0,NSA,GBP Total,1004,gbp-million,None
6,DK,year/2016,exports,0,NSA,GBP Total,3570,gbp-million,None
7,EE,year/2016,exports,0,NSA,GBP Total,67,gbp-million,None
8,FI,year/2016,exports,0,NSA,GBP Total,1203,gbp-million,None
9,FR,year/2016,exports,0,NSA,GBP Total,15723,gbp-million,None
10,DE,year/2016,exports,0,NSA,GBP Total,17415,gbp-million,None
11,GR,year/2016,exports,0,NSA,GBP Total,1267,gbp-million,None
12,HU,year/2016,exports,0,NSA,GBP Total,661,gbp-million,None
13,IE,year/2016,exports,0,NSA,GBP Total,12382,gbp-million,None
14,IT,year/2016,exports,0,NSA,GBP Total,9064,gbp-million,None
15,LV,year/2016,exports,0,NSA,GBP Total,130,gbp-million,None
16,LT,year/2016,exports,0,NSA,GBP Total,194,gbp-million,None
17,LU,year/2016,exports,0,NSA,GBP Total,2986,gbp-million,None
18,MT,year/2016,exports,0,NSA,GBP Total,807,gbp-million,None
19,NL,year/2016,exports,0,NSA,GBP Total,14942,gbp-million,None
20,PL,year/2016,exports,0,NSA,GBP Total,1771,gbp-million,None
21,PT,year/2016,exports,0,NSA,GBP Total,1318,gbp-million,None
22,RO,year/2016,exports,0,NSA,GBP Total,759,gbp-million,None
23,SK,year/2016,exports,0,NSA,GBP Total,321,gbp-million,None
24,SI,year/2016,exports,0,NSA,GBP Total,148,gbp-million,None
25,ES,year/2016,exports,0,NSA,GBP Total,6544,gbp-million,None
26,SE,year/2016,exports,0,NSA,GBP Total,4987,gbp-million,None
27,4F,year/2016,exports,0,NSA,GBP Total,0,gbp-million,None
28,4A,year/2016,exports,0,NSA,GBP Total,23,gbp-million,None
29,B5,year/2016,exports,0,NSA,GBP Total,104034,gbp-million,None
...,...,...,...,...,...,...,...,...,...
125634,HK,quarter/2019-Q1,imports,12,NSA,GBP Total,5,gbp-million,None
125635,IN,quarter/2019-Q1,imports,12,NSA,GBP Total,17,gbp-million,None
125636,ID,quarter/2019-Q1,imports,12,NSA,GBP Total,6,gbp-million,None
125637,IR,quarter/2019-Q1,imports,12,NSA,GBP Total,2,gbp-million,None
125638,IL,quarter/2019-Q1,imports,12,NSA,GBP Total,12,gbp-million,None
125639,JP,quarter/2019-Q1,imports,12,NSA,GBP Total,7,gbp-million,None
125640,MY,quarter/2019-Q1,imports,12,NSA,GBP Total,2,gbp-million,None
125641,PK,quarter/2019-Q1,imports,12,NSA,GBP Total,7,gbp-million,None
125642,PH,quarter/2019-Q1,imports,12,NSA,GBP Total,1,gbp-million,None
125643,SA,quarter/2019-Q1,imports,12,NSA,GBP Total,6,gbp-million,None
125644,SG,quarter/2019-Q1,imports,12,NSA,GBP Total,16,gbp-million,None
125645,KR,quarter/2019-Q1,imports,12,NSA,GBP Total,3,gbp-million,None
125646,TW,quarter/2019-Q1,imports,12,NSA,GBP Total,2,gbp-million,None
125647,TH,quarter/2019-Q1,imports,12,NSA,GBP Total,3,gbp-million,None
125648,PB4,quarter/2019-Q1,imports,12,NSA,GBP Total,37,gbp-million,None
125649,PB5,quarter/2019-Q1,imports,12,NSA,GBP Total,22,gbp-million,None
125650,PB6,quarter/2019-Q1,imports,12,NSA,GBP Total,50,gbp-million,None
125651,S1,quarter/2019-Q1,imports,12,NSA,GBP Total,211,gbp-million,None
125652,AU,quarter/2019-Q1,imports,12,NSA,GBP Total,..,gbp-million,disclosive
125653,NZ,quarter/2019-Q1,imports,12,NSA,GBP Total,..,gbp-million,disclosive
125654,PB7,quarter/2019-Q1,imports,12,NSA,GBP Total,1,gbp-million,None
125655,O1,quarter/2019-Q1,imports,12,NSA,GBP Total,5,gbp-million,None
125656,EG,quarter/2019-Q1,imports,12,NSA,GBP Total,10,gbp-million,None
125657,MA,quarter/2019-Q1,imports,12,NSA,GBP Total,3,gbp-million,None
125658,ZA,quarter/2019-Q1,imports,12,NSA,GBP Total,..,gbp-million,disclosive
125659,PB8,quarter/2019-Q1,imports,12,NSA,GBP Total,2,gbp-million,None
125660,PB9,quarter/2019-Q1,imports,12,NSA,GBP Total,..,gbp-million,disclosive
125661,F1,quarter/2019-Q1,imports,12,NSA,GBP Total,87,gbp-million,None
125662,9A,quarter/2019-Q1,imports,12,NSA,GBP Total,0,gbp-million,None
125663,W1,quarter/2019-Q1,imports,12,NSA,GBP Total,1053,gbp-million,None