UK trade in services: service type by partner country, non-seasonally adjusted

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path
    from io import BytesIO

    session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

inputURL = 'https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted/current/servicetypebycountry.xlsx'
data = BytesIO(session.get(inputURL).content)

In [2]:
tab = pd.read_excel(data, header=None)
tab.rename(columns=tab.iloc[0], inplace=True)

In [3]:
tab = tab.iloc[1:, :]

In [4]:
tab = tab.drop(['Service type','Country'], axis = 1)

In [5]:
tab.head()

,Direction,Service type code,Country code,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2
1,Exports,0,AT,228,254,278,275,292,309,321,340,288,314
2,Exports,0,BE,984,1044,1085,1154,1089,1147,1252,1167,1093,1164
3,Exports,0,BG,93,112,125,118,97,115,136,125,111,129
4,Exports,0,HR,41,48,52,55,37,52,57,55,39,45
5,Exports,0,CY,173,201,218,211,178,193,232,213,177,236

In [6]:
tab.columns.values[0] = 'Flow'
tab.columns.values[1] = 'Pink Book Services'
tab.columns.values[2] = 'ONS Partner Geography'

In [7]:
new_table = pd.melt(tab, id_vars=['Flow','Pink Book Services','ONS Partner Geography'], var_name='Period', value_name='Value')

In [8]:
new_table

          Flow Pink Book Services ONS Partner Geography  Period  Value
0      Exports                  0                    AT  2016Q1    228
1      Exports                  0                    BE  2016Q1    984
2      Exports                  0                    BG  2016Q1     93
3      Exports                  0                    HR  2016Q1     41
4      Exports                  0                    CY  2016Q1    173
5      Exports                  0                    CZ  2016Q1    214
6      Exports                  0                    DK  2016Q1    799
7      Exports                  0                    EE  2016Q1     13
8      Exports                  0                    FI  2016Q1    284
9      Exports                  0                    FR  2016Q1   3583
10     Exports                  0                    DE  2016Q1   3999
11     Exports                  0                    GR  2016Q1    288
12     Exports                  0                    HU  2016Q1    146
13     Exports                  0                    IE  2016Q1   2716
14     Exports                  0                    IT  2016Q1   1933
15     Exports                  0                    LV  2016Q1     24
16     Exports                  0                    LT  2016Q1     39
17     Exports                  0                    LU  2016Q1    705
18     Exports                  0                    MT  2016Q1    177
19     Exports                  0                    NL  2016Q1   3451
20     Exports                  0                    PL  2016Q1    375
21     Exports                  0                    PT  2016Q1    284
22     Exports                  0                    RO  2016Q1    150
23     Exports                  0                    SK  2016Q1     70
24     Exports                  0                    SI  2016Q1     30
25     Exports                  0                    ES  2016Q1   1428
26     Exports                  0                    SE  2016Q1   1095
27     Exports                  0                    4F  2016Q1      -
28     Exports                  0                    4A  2016Q1      6
29     Exports                  0                    B5  2016Q1  23328
...        ...                ...                   ...     ...    ...
73890  Imports                 12                    HK  2018Q2      5
73891  Imports                 12                    IN  2018Q2     19
73892  Imports                 12                    ID  2018Q2      6
73893  Imports                 12                    IR  2018Q2      2
73894  Imports                 12                    IL  2018Q2     20
73895  Imports                 12                    JP  2018Q2     10
73896  Imports                 12                    MY  2018Q2      3
73897  Imports                 12                    PK  2018Q2      5
73898  Imports                 12                    PH  2018Q2      -
73899  Imports                 12                    SA  2018Q2      7
73900  Imports                 12                    SG  2018Q2     12
73901  Imports                 12                    KR  2018Q2     20
73902  Imports                 12                    TW  2018Q2      3
73903  Imports                 12                    TH  2018Q2     ..
73904  Imports                 12                   PB4  2018Q2     ..
73905  Imports                 12                   PB5  2018Q2     ..
73906  Imports                 12                   PB6  2018Q2     ..
73907  Imports                 12                    S1  2018Q2    219
73908  Imports                 12                    AU  2018Q2      5
73909  Imports                 12                    NZ  2018Q2      -
73910  Imports                 12                   PB7  2018Q2      2
73911  Imports                 12                    O1  2018Q2      7
73912  Imports                 12                    EG  2018Q2     ..
73913  Imports                 12                    MA  2018Q2      2
73914  Imports                 12                    ZA  2018Q2     ..
73915  Imports                 12                   PB8  2018Q2      2
73916  Imports                 12                   PB9  2018Q2     ..
73917  Imports                 12                    F1  2018Q2     64
73918  Imports                 12                    9A  2018Q2      -
73919  Imports                 12                    W1  2018Q2   1165

[73920 rows x 5 columns]

In [9]:
new_table['Period'] = 'quarter/' + new_table['Period'].astype(str).str[0:4]+ '-' +   new_table['Period'].astype(str).str[-2:]

In [10]:
new_table['Flow'] = new_table['Flow'].str.lower()

In [11]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'

In [12]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [13]:
new_table['Value'] = new_table['Value'].astype(int)

In [14]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','Pink Book Services', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]

In [15]:
# if is_interactive():
#     SubstancetinationFolder = Path('out')
#     SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
#     new_table.to_csv(SubstancetinationFolder / ('tidy2.csv'), index = False)

In [16]:
new_table.head()

,ONS Partner Geography,Period,Flow,Pink Book Services,Seasonal Adjustment,Measure Type,Value,Unit
0,AT,quarter/2016-Q1,exports,0,NSA,GBP Total,228,gbp-million
1,BE,quarter/2016-Q1,exports,0,NSA,GBP Total,984,gbp-million
2,BG,quarter/2016-Q1,exports,0,NSA,GBP Total,93,gbp-million
3,HR,quarter/2016-Q1,exports,0,NSA,GBP Total,41,gbp-million
4,CY,quarter/2016-Q1,exports,0,NSA,GBP Total,173,gbp-million