###  MRET xlsx to Tidy Data

Take the Trade in goods MRETS (all BOP - EU2013): time series dataset and convert to Tidy Data in CSV.

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/'
                  'tradeingoodsmretsallbopeu2013timeseriesspreadsheet')
scraper

## UK trade time series

Monthly value of UK exports and imports of goods and services by current price, chained volume measures and implied deflators.

### Distributions

1. UK trade time series ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/tradeingoodsmretsallbopeu2013timeseriesspreadsheet/current/mret.xlsx))

Read in the spreadsheet as a table, naming the columns after the CDID (second row).

In [2]:
tab = scraper.distribution().as_pandas(header=None, na_values=[], keep_default_na=False)
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

WARNING:Cache entry deserialization failed, entry ignored

,Period,SGWH,JZWR,SESO,SESM,SGWO,SEST,SESQ,JZXE,SIZJ,...,SGVA,JZVE,SGTG,JZTE,LGHM,SIXG,SGTO,JZTR,SGTK,SIXT
0,Title,EU(2004):BOP:IM:deflator:SA:Fuels other than o...,non-EU(2004):BOP:EX:CVM:SA:Animal feeding stuf...,EU(2004):BOP:EX:deflator:SA:Semi-manufactures:...,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,EU(2004):BOP:IM:CVM:SA:Fuels other than oil: S...,EU(2004):BOP:EX:CVM:SA:Semi-manufactures: SITC...,EU:BOP:EX:SA:Semi-manufactures: SITC 5+6,non-EU(2004):BOP:IM:CVM:SA:Animal feeding stuf...,EU(2004):BOP:EX:CVM:SA:Erratics(SNAPS): SITC 6...,...,EU(2004):BOP:EX:CVM:SA:Fuels other than oil: S...,"non-EU(2004):BOP:IM:CVM:SA:Coffee, tea, cocoa ...",Trade in Goods:Non-EU:Imports:Unspecified good...,non-EU(2004):BOP:IM:CVM:SA:Sugar: SITC 06,EU(2004):BOP:EX:CVM:SA:Tobacco: SITC 12,EU(2004):BOP:EX:CVM:SA:Residual chemicals: SIT...,Trade in Goods:Non-EU:Imports:Unspecified good...,"EU(2004):BOP:EX:CVM:SA:Coffee, tea, cocoa etc:...",Trade in Goods:Non-EU:Imports:Unspecified good...,EU(2004):BOP:IM:CVM:SA:Residual chemicals: SIT...
1,CDID,SGWH,JZWR,SESO,SESM,SGWO,SEST,SESQ,JZXE,SIZJ,...,SGVA,JZVE,SGTG,JZTE,LGHM,SIXG,SGTO,JZTR,SGTK,SIXT
2,PreUnit,,,,,,,,,,...,,,,,,,,,,
3,Unit,,,,,,,,,,...,,,,,,,,,,
4,Release Date,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,...,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019,11-01-2019
5,Next release,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,...,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019,11 February 2019
6,Important Notes,,,,,,,,,,...,,,,,,,,,,
7,1945,,,,,,,,,,...,,,,,,,,,,
8,1946,,,,,,,,,,...,,,,,,,,,,
9,1947,,,,,,,,,,...,,,,,,,,,,
10,1948,,,,,,,,,,...,,,,,,,,,,
11,1949,,,,,,,,,,...,,,,,,,,,,
12,1950,,,,,,,,,,...,,,,,,,,,,
13,1951,,,,,,,,,,...,,,,,,,,,,
14,1952,,,,,,,,,,...,,,,,,,,,,
15,1953,,,,,,,,,,...,,,,,,,,,,
16,1954,,,,,,,,,,...,,,,,,,,,,
17,1955,,,,,,,,,,...,,,,,,,,,,
18,1956,,,,,,,,,,...,,,,,,,,,,
19,1957,,,,,,,,,,...,,,,,,,,,,
20,1958,,,,,,,,,,...,,,,,,,,,,
21,1959,,,,,,,,,,...,,,,,,,,,,
22,1960,,,,,,,,,,...,,,,,,,,,,
23,1961,,,,,,,,,,...,,,,,,,,,,
24,1962,,,,,,,,,,...,,,,,,,,,,
25,1963,,,,,,,,,,...,,,,,,,,,,
26,1964,,,,,,,,,,...,,,,,,,,,,
27,1965,,,,,,,,,,...,,,,,,,,,,
28,1966,,,,,,,,,,...,,,,,,,,,,
29,1967,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,2016 JUN,113,44,98.9,-1841,108,3581,3542,61,687,...,84,99,119.4,31,10,232,62,87,74,288
1017,2016 JUL,122.9,38,101,-1929,105,3471,3504,58,709,...,201,108,103.3,21,7,229,1090,80,1126,286
1018,2016 AUG,123.8,32,104,-2107,84,3503,3643,82,682,...,204,96,104.7,40,10,247,1117,82,1170,270
1019,2016 SEP,132.5,34,102.9,-2063,80,3568,3672,61,765,...,259,116,104.5,34,11,213,426,82,445,285
1020,2016 OCT,93.2,47,104.7,-1841,190,3517,3682,74,722,...,162,84,99.2,31,10,229,120,85,119,281
1021,2016 NOV,76.4,40,104.9,-2240,347,3598,3773,83,644,...,151,131,98.2,30,12,235,56,91,55,300
1022,2016 DEC,94.5,46,102.4,-1931,181,3881,3974,74,784,...,139,118,77.2,42,12,228,57,84,44,313
1023,2017 JAN,99.4,30,105.7,-2021,160,3733,3946,52,794,...,183,93,86.6,26,6,233,104,85,90,305
1024,2017 FEB,96.9,58,103.9,-1984,165,3710,3854,80,954,...,150,88,100,45,3,233,75,83,75,287
1025,2017 MAR,81.4,31,105.5,-2114,129,3935,4152,87,877,...,154,104,130.5,29,2,222,95,81,124,320
1026,2017 APR,98.5,41,104.2,-2045,137,3907,4071,111,823,...,200,87,105.5,35,1,238,91,87,96,344
1027,2017 MAY,109.7,55,105.1,-2270,134,3842,4040,70,820,...,221,86,98.7,29,1,237,314,84,310,324
1028,2017 JUN,120.9,52,108.6,-1948,115,3880,4214,80,748,...,189,93,104.2,32,2,231,945,85,985,309
1029,2017 JUL,127.9,96,105.9,-1987,140,3798,4020,68,832,...,227,93,95,34,0,230,797,90,757,311
1030,2017 AUG,117.2,40,108.5,-2379,157,3737,4056,63,792,...,191,90,102.2,55,2,226,308,88,315,313
1031,2017 SEP,123.9,61,106.5,-2241,138,3916,4171,63,1144,...,173,98,107.7,34,3,243,78,94,84,335
1032,2017 OCT,100.7,62,107.1,-2295,138,3736,4002,71,780,...,190,89,97.3,33,1,236,112,87,109,337
1033,2017 NOV,76.8,47,110,-1836,172,3786,4164,69,828,...,174,100,96.8,31,2,235,648,90,627,324
1034,2017 DEC,127.5,55,107.6,-2139,298,3882,4176,81,867,...,157,85,90.1,44,4,259,262,89,236,342
1035,2018 JAN,109.7,34,109.3,-1893,310,3877,4239,71,861,...,142,108,83.2,45,3,235,107,89,89,339
1036,2018 FEB,109.3,29,108.6,-1953,291,3738,4060,86,816,...,145,98,100,41,2,242,88,88,88,345
1037,2018 MAR,125,27,106.6,-1951,380,3708,3952,88,869,...,152,87,93.8,42,0,243,791,97,742,332
1038,2018 APR,85.1,33,109.1,-2137,208,3668,4002,64,790,...,131,103,91.9,38,0,242,1447,88,1330,338
1039,2018 MAY,77.8,27,109.8,-2335,537,3597,3950,80,818,...,93,110,94.3,43,0,257,441,87,416,339
1040,2018 JUN,114.5,28,110.1,-2286,166,3678,4048,78,890,...,151,95,107.8,36,2,255,77,88,83,362
1041,2018 JUL,120.3,28,110.4,-2215,192,3632,4010,93,760,...,198,118,89.1,44,1,262,137,89,122,382
1042,2018 AUG,104.1,26,110,-2544,268,3604,3965,60,765,...,172,121,95,30,1,254,679,91,645,368
1043,2018 SEP,115.1,27,110.8,-2178,186,3537,3919,83,794,...,175,113,91.8,49,0,239,672,89,617,356
1044,2018 OCT,97.9,31,109.6,-2405,190,3666,4018,88,736,...,113,114,93.7,49,0,250,221,98,207,379
1045,2018 NOV,89.2,38,111.4,-2421,176,3608,4019,128,809,...,147,124,102,51,1,255,100,89,102,349

The observations are in rows 7 on.

In [3]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations.head()

,Period,SGWH,JZWR,SESO,SESM,SGWO,SEST,SESQ,JZXE,SIZJ,...,SGVA,JZVE,SGTG,JZTE,LGHM,SIXG,SGTO,JZTR,SGTK,SIXT
7,1945,,,,,,,,,,...,,,,,,,,,,
8,1946,,,,,,,,,,...,,,,,,,,,,
9,1947,,,,,,,,,,...,,,,,,,,,,
10,1948,,,,,,,,,,...,,,,,,,,,,
11,1949,,,,,,,,,,...,,,,,,,,,,

Each CDID corresponds to a unique time-series slice. Unpivot the table so we have one row per observation and drop any rows with no value for the observation.

In [4]:
observations = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='Value')
observations['Value'] = pd.to_numeric(observations['Value'])
observations.dropna(inplace=True)
#observations['Value'] = observations['Value'].astype('int64')
observations.reset_index(drop=True, inplace=True)
print(len(observations))
observations.tail(5)

472506

          Period  CDID  Value
472501  2018 JUL  SIXT  382.0
472502  2018 AUG  SIXT  368.0
472503  2018 SEP  SIXT  356.0
472504  2018 OCT  SIXT  379.0
472505  2018 NOV  SIXT  349.0

The date/time values need to be in a format that can be used to create URIs for British calendar intervals,
see https://github.com/epimorphics/IntervalServer/blob/master/interval-uris.md#british-calendar-intervals

In [5]:
observations['Period'].unique()

array(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1998 Q1', '1998 Q2', '1998 Q3',
       '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1',
       '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3',
       '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1',
       '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3',
       '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1',
       '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3',
       '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1',
       '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3',
       '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1',
       '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3',
       '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1',
       '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3',
       '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1',
       '2018 Q2', '2018 Q3', '1998 JAN', '1998 FEB', '1998 MAR',
       '1998 APR', '1998 MAY', '1998 JUN', '1998 JUL', '1998 AUG',
       '1998 SEP', '1998 OCT', '1998 NOV', '1998 DEC', '1999 JAN',
       '1999 FEB', '1999 MAR', '1999 APR', '1999 MAY', '1999 JUN',
       '1999 JUL', '1999 AUG', '1999 SEP', '1999 OCT', '1999 NOV',
       '1999 DEC', '2000 JAN', '2000 FEB', '2000 MAR', '2000 APR',
       '2000 MAY', '2000 JUN', '2000 JUL', '2000 AUG', '2000 SEP',
       '2000 OCT', '2000 NOV', '2000 DEC', '2001 JAN', '2001 FEB',
       '2001 MAR', '2001 APR', '2001 MAY', '2001 JUN', '2001 JUL',
       '2001 AUG', '2001 SEP', '2001 OCT', '2001 NOV', '2001 DEC',
       '2002 JAN', '2002 FEB', '2002 MAR', '2002 APR', '2002 MAY',
       '2002 JUN', '2002 JUL', '2002 AUG', '2002 SEP', '2002 OCT',
       '2002 NOV', '2002 DEC', '2003 JAN', '2003 FEB', '2003 MAR',
       '2003 APR', '2003 MAY', '2003 JUN', '2003 JUL', '2003 AUG',
       '2003 SEP', '2003 OCT', '2003 NOV', '2003 DEC', '2004 JAN',
       '2004 FEB', '2004 MAR', '2004 APR', '2004 MAY', '2004 JUN',
       '2004 JUL', '2004 AUG', '2004 SEP', '2004 OCT', '2004 NOV',
       '2004 DEC', '2005 JAN', '2005 FEB', '2005 MAR', '2005 APR',
       '2005 MAY', '2005 JUN', '2005 JUL', '2005 AUG', '2005 SEP',
       '2005 OCT', '2005 NOV', '2005 DEC', '2006 JAN', '2006 FEB',
       '2006 MAR', '2006 APR', '2006 MAY', '2006 JUN', '2006 JUL',
       '2006 AUG', '2006 SEP', '2006 OCT', '2006 NOV', '2006 DEC',
       '2007 JAN', '2007 FEB', '2007 MAR', '2007 APR', '2007 MAY',
       '2007 JUN', '2007 JUL', '2007 AUG', '2007 SEP', '2007 OCT',
       '2007 NOV', '2007 DEC', '2008 JAN', '2008 FEB', '2008 MAR',
       '2008 APR', '2008 MAY', '2008 JUN', '2008 JUL', '2008 AUG',
       '2008 SEP', '2008 OCT', '2008 NOV', '2008 DEC', '2009 JAN',
       '2009 FEB', '2009 MAR', '2009 APR', '2009 MAY', '2009 JUN',
       '2009 JUL', '2009 AUG', '2009 SEP', '2009 OCT', '2009 NOV',
       '2009 DEC', '2010 JAN', '2010 FEB', '2010 MAR', '2010 APR',
       '2010 MAY', '2010 JUN', '2010 JUL', '2010 AUG', '2010 SEP',
       '2010 OCT', '2010 NOV', '2010 DEC', '2011 JAN', '2011 FEB',
       '2011 MAR', '2011 APR', '2011 MAY', '2011 JUN', '2011 JUL',
       '2011 AUG', '2011 SEP', '2011 OCT', '2011 NOV', '2011 DEC',
       '2012 JAN', '2012 FEB', '2012 MAR', '2012 APR', '2012 MAY',
       '2012 JUN', '2012 JUL', '2012 AUG', '2012 SEP', '2012 OCT',
       '2012 NOV', '2012 DEC', '2013 JAN', '2013 FEB', '2013 MAR',
       '2013 APR', '2013 MAY', '2013 JUN', '2013 JUL', '2013 AUG',
       '2013 SEP', '2013 OCT', '2013 NOV', '2013 DEC', '2014 JAN',
       '2014 FEB', '2014 MAR', '2014 APR', '2014 MAY', '2014 JUN',
       '2014 JUL', '2014 AUG', '2014 SEP', '2014 OCT', '2014 NOV',
       '2014 DEC', '2015 JAN', '2015 FEB', '2015 MAR', '2015 APR',
       '2015 MAY', '2015 JUN', '2015 JUL', '2015 AUG', '2015 SEP',
       '2015 OCT', '2015 NOV', '2015 DEC', '2016 JAN', '2016 FEB',
       '2016 MAR', '2016 APR', '2016 MAY', '2016 JUN', '2016 JUL',
       '2016 AUG', '2016 SEP', '2016 OCT', '2016 NOV', '2016 DEC',
       '2017 JAN', '2017 FEB', '2017 MAR', '2017 APR', '2017 MAY',
       '2017 JUN', '2017 JUL', '2017 AUG', '2017 SEP', '2017 OCT',
       '2017 NOV', '2017 DEC', '2018 JAN', '2018 FEB', '2018 MAR',
       '2018 APR', '2018 MAY', '2018 JUN', '2018 JUL', '2018 AUG',
       '2018 SEP', '2018 OCT', '2018 NOV', '1948', '1949', '1950', '1951',
       '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1955 Q1',
       '1955 Q2', '1955 Q3', '1955 Q4', '1956 Q1', '1956 Q2', '1956 Q3',
       '1956 Q4', '1957 Q1', '1957 Q2', '1957 Q3', '1957 Q4', '1958 Q1',
       '1958 Q2', '1958 Q3', '1958 Q4', '1959 Q1', '1959 Q2', '1959 Q3',
       '1959 Q4', '1960 Q1', '1960 Q2', '1960 Q3', '1960 Q4', '1961 Q1',
       '1961 Q2', '1961 Q3', '1961 Q4', '1962 Q1', '1962 Q2', '1962 Q3',
       '1962 Q4', '1963 Q1', '1963 Q2', '1963 Q3', '1963 Q4', '1964 Q1',
       '1964 Q2', '1964 Q3', '1964 Q4', '1965 Q1', '1965 Q2', '1965 Q3',
       '1965 Q4', '1966 Q1', '1966 Q2', '1966 Q3', '1966 Q4', '1967 Q1',
       '1967 Q2', '1967 Q3', '1967 Q4', '1968 Q1', '1968 Q2', '1968 Q3',
       '1968 Q4', '1969 Q1', '1969 Q2', '1969 Q3', '1969 Q4', '1970 Q1',
       '1970 Q2', '1970 Q3', '1970 Q4', '1971 Q1', '1971 Q2', '1971 Q3',
       '1971 Q4', '1972 Q1', '1972 Q2', '1972 Q3', '1972 Q4', '1973 Q1',
       '1973 Q2', '1973 Q3', '1973 Q4', '1974 Q1', '1974 Q2', '1974 Q3',
       '1974 Q4', '1975 Q1', '1975 Q2', '1975 Q3', '1975 Q4', '1976 Q1',
       '1976 Q2', '1976 Q3', '1976 Q4', '1977 Q1', '1977 Q2', '1977 Q3',
       '1977 Q4', '1978 Q1', '1978 Q2', '1978 Q3', '1978 Q4', '1979 Q1',
       '1979 Q2', '1979 Q3', '1979 Q4', '1980 Q1', '1980 Q2', '1980 Q3',
       '1980 Q4', '1981 Q1', '1981 Q2', '1981 Q3', '1981 Q4', '1982 Q1',
       '1982 Q2', '1982 Q3', '1982 Q4', '1983 Q1', '1983 Q2', '1983 Q3',
       '1983 Q4', '1984 Q1', '1984 Q2', '1984 Q3', '1984 Q4', '1985 Q1',
       '1985 Q2', '1985 Q3', '1985 Q4', '1986 Q1', '1986 Q2', '1986 Q3',
       '1986 Q4', '1987 Q1', '1987 Q2', '1987 Q3', '1987 Q4', '1988 Q1',
       '1988 Q2', '1988 Q3', '1988 Q4', '1989 Q1', '1989 Q2', '1989 Q3',
       '1989 Q4', '1990 Q1', '1990 Q2', '1990 Q3', '1990 Q4', '1991 Q1',
       '1991 Q2', '1991 Q3', '1991 Q4', '1992 Q1', '1992 Q2', '1992 Q3',
       '1992 Q4', '1993 Q1', '1993 Q2', '1993 Q3', '1993 Q4', '1994 Q1',
       '1994 Q2', '1994 Q3', '1994 Q4', '1995 Q1', '1995 Q2', '1995 Q3',
       '1995 Q4', '1996 Q1', '1996 Q2', '1996 Q3', '1996 Q4', '1997 Q1',
       '1997 Q2', '1997 Q3', '1997 Q4'], dtype=object)

In [6]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        assert False, f"no match for {t}"

def period2periodicity(t):
    if t.startswith('year'):
        return 'A'
    elif t.startswith('month'):
        return 'M'
    else:
        return 'Q'

observations['Period'] = observations['Period'].apply(time2period)
observations['Periodicity'] = observations['Period'].apply(period2periodicity)
observations

                 Period  CDID  Value Periodicity
0             year/1998  SGWH   41.4           A
1             year/1999  SGWH   41.2           A
2             year/2000  SGWH   42.3           A
3             year/2001  SGWH   47.0           A
4             year/2002  SGWH   44.5           A
5             year/2003  SGWH   45.5           A
6             year/2004  SGWH   48.6           A
7             year/2005  SGWH   76.2           A
8             year/2006  SGWH   89.3           A
9             year/2007  SGWH   71.9           A
10            year/2008  SGWH   96.1           A
11            year/2009  SGWH   93.8           A
12            year/2010  SGWH   87.5           A
13            year/2011  SGWH  102.1           A
14            year/2012  SGWH  110.4           A
15            year/2013  SGWH  119.5           A
16            year/2014  SGWH  112.9           A
17            year/2015  SGWH  106.6           A
18            year/2016  SGWH  100.0           A
19            year/2017  SGWH  107.8           A
20      quarter/1998-Q1  SGWH   45.0           Q
21      quarter/1998-Q2  SGWH   38.7           Q
22      quarter/1998-Q3  SGWH   37.0           Q
23      quarter/1998-Q4  SGWH   42.1           Q
24      quarter/1999-Q1  SGWH   42.4           Q
25      quarter/1999-Q2  SGWH   39.1           Q
26      quarter/1999-Q3  SGWH   39.8           Q
27      quarter/1999-Q4  SGWH   42.8           Q
28      quarter/2000-Q1  SGWH   42.6           Q
29      quarter/2000-Q2  SGWH   38.7           Q
...                 ...   ...    ...         ...
472476    month/2016-06  SIXT  288.0           M
472477    month/2016-07  SIXT  286.0           M
472478    month/2016-08  SIXT  270.0           M
472479    month/2016-09  SIXT  285.0           M
472480    month/2016-10  SIXT  281.0           M
472481    month/2016-11  SIXT  300.0           M
472482    month/2016-12  SIXT  313.0           M
472483    month/2017-01  SIXT  305.0           M
472484    month/2017-02  SIXT  287.0           M
472485    month/2017-03  SIXT  320.0           M
472486    month/2017-04  SIXT  344.0           M
472487    month/2017-05  SIXT  324.0           M
472488    month/2017-06  SIXT  309.0           M
472489    month/2017-07  SIXT  311.0           M
472490    month/2017-08  SIXT  313.0           M
472491    month/2017-09  SIXT  335.0           M
472492    month/2017-10  SIXT  337.0           M
472493    month/2017-11  SIXT  324.0           M
472494    month/2017-12  SIXT  342.0           M
472495    month/2018-01  SIXT  339.0           M
472496    month/2018-02  SIXT  345.0           M
472497    month/2018-03  SIXT  332.0           M
472498    month/2018-04  SIXT  338.0           M
472499    month/2018-05  SIXT  339.0           M
472500    month/2018-06  SIXT  362.0           M
472501    month/2018-07  SIXT  382.0           M
472502    month/2018-08  SIXT  368.0           M
472503    month/2018-09  SIXT  356.0           M
472504    month/2018-10  SIXT  379.0           M
472505    month/2018-11  SIXT  349.0           M

[472506 rows x 4 columns]

CDID is an arbitrary/opaque 4 letter code registered by ONS and corresponds to a timeseries slice, so each CDID provides the value of a list of dimensions. These codes are elaborated in separate CSV files currently in https://github.com/ONS-OpenData/Ref_CDID/tree/master/lookup

In [7]:
from IPython.display import display, HTML
from io import BytesIO
def fetch_table(t):
    return BytesIO(scraper.session.get('https://github.com/ONS-OpenData/Ref_CDID/raw/master/lookup/' + t).content)

cdids = pd.concat((
    pd.read_csv(fetch_table(f'{k}.csv'),
                       na_values=[''], keep_default_na=False, index_col=[0,7],
                       dtype={'AREA': str, 'DIRECTION': str, 'BASIS': str,
                              'PRICE': str, 'SEASADJ': str,
                              'PRODUCT': str, 'COUNTRY': str},
                       converters={'COMMODITY': lambda x: str(x).strip()})
    for k in ['tig_sitc', 'tig_cpa', 'tig_country', 'codelist']), sort=False)

for col in cdids:
    cdids[col] = cdids[col].astype('category')

cdids

                                                     COMMODITY AREA DIRECTION  \
cdid PERIOD
SEVW A                                                 6lessPS   B5        EX
     M                                                 6lessPS   B5        EX
     Q                                                 6lessPS   B5        EX
SEWA A                                                 6lessPS   B5        EX
     M                                                 6lessPS   B5        EX
     Q                                                 6lessPS   B5        EX
SEVT A                                                 6lessPS   B5        EX
     M                                                 6lessPS   B5        EX
     Q                                                 6lessPS   B5        EX
SEXH A                                                 6lessPS   B5        IM
     M                                                 6lessPS   B5        IM
     Q                                                 6lessPS   B5        IM
SEXL A                                                 6lessPS   B5        IM
     M                                                 6lessPS   B5        IM
     Q                                                 6lessPS   B5        IM
SEXE A                                                 6lessPS   B5        IM
     M                                                 6lessPS   B5        IM
     Q                                                 6lessPS   B5        IM
SEYO A                                                 6lessPS   D5        EX
     M                                                 6lessPS   D5        EX
     Q                                                 6lessPS   D5        EX
SEYS A                                                 6lessPS   D5        EX
     M                                                 6lessPS   D5        EX
     Q                                                 6lessPS   D5        EX
SEYL A                                                 6lessPS   D5        EX
     M                                                 6lessPS   D5        EX
     Q                                                 6lessPS   D5        EX
SEZZ M                                                 6lessPS   D5        IM
     Q                                                 6lessPS   D5        IM
SFAD A                                                 6lessPS   D5        IM
...                                                        ...  ...       ...
AJFD NaN                                           Swiss franc   UK       NaN
AJFI NaN                                        Swedish kroner   UK       NaN
AJFJ NaN                                      Norwegian kroner   UK       NaN
AJFK NaN                                         Danish kroner   UK       NaN
AJFO NaN                                          Japanese yen   UK       NaN
AJFP NaN                                     Australian Dollar   UK       NaN
AJFU NaN                                      Hong Kong Dollar   UK       NaN
AJFV NaN                                    New Zealand Dollar   UK       NaN
AJFW NaN                                    South African Rand   UK       NaN
AUSS NaN                                             US dollar   UK       NaN
BK67 NaN     Monthly average, Effective exchange rate index...   UK       NaN
THAP NaN     Exchange rates for euro monthly average - ster...   UK       NaN
BOQM NaN                                                        NaN        EX
BPBN NaN                                                        NaN        EX
BQAX NaN                                                        NaN        IM
BQBH NaN                                                        NaN        IM
BQHQ NaN                                                         WW        IM
BQHS NaN                                                         W1        IM
CLAS NaN                                                         EU        IM
CLAT NaN                                                         RW        IM
CPLX NaN                                                        NaN        EX
CPLY NaN                                                        NaN        IM
CPLZ NaN                                                        NaN       BAL
IKBB NaN                                                        NaN        EX
IKBC NaN                                                        NaN        IM
IKBD NaN                                                        NaN       BAL
IKBH NaN                                                        NaN        EX
IKBI NaN                                                        NaN        IM
IKBJ NaN                                                        NaN       BAL
OFNN NaN                                                        NaN       NaN

            BASIS PRICE SEASADJ PRODUCT COUNTRY PERIOD
cdid PERIOD
SEVW A        BOP    CP      SA     NaN     NaN    NaN
     M        BOP    CP      SA     NaN     NaN    NaN
     Q        BOP    CP      SA     NaN     NaN    NaN
SEWA A        BOP   CVM      SA     NaN     NaN    NaN
     M        BOP   CVM      SA     NaN     NaN    NaN
     Q        BOP   CVM      SA     NaN     NaN    NaN
SEVT A        BOP  IDEF      SA     NaN     NaN    NaN
     M        BOP  IDEF      SA     NaN     NaN    NaN
     Q        BOP  IDEF      SA     NaN     NaN    NaN
SEXH A        BOP    CP      SA     NaN     NaN    NaN
     M        BOP    CP      SA     NaN     NaN    NaN
     Q        BOP    CP      SA     NaN     NaN    NaN
SEXL A        BOP   CVM      SA     NaN     NaN    NaN
     M        BOP   CVM      SA     NaN     NaN    NaN
     Q        BOP   CVM      SA     NaN     NaN    NaN
SEXE A        BOP  IDEF      SA     NaN     NaN    NaN
     M        BOP  IDEF      SA     NaN     NaN    NaN
     Q        BOP  IDEF      SA     NaN     NaN    NaN
SEYO A        BOP    CP      SA     NaN     NaN    NaN
     M        BOP    CP      SA     NaN     NaN    NaN
     Q        BOP    CP      SA     NaN     NaN    NaN
SEYS A        BOP   CVM      SA     NaN     NaN    NaN
     M        BOP   CVM      SA     NaN     NaN    NaN
     Q        BOP   CVM      SA     NaN     NaN    NaN
SEYL A        BOP  IDEF      SA     NaN     NaN    NaN
     M        BOP  IDEF      SA     NaN     NaN    NaN
     Q        BOP  IDEF      SA     NaN     NaN    NaN
SEZZ M        BOP    CP      SA     NaN     NaN    NaN
     Q        BOP    CP      SA     NaN     NaN    NaN
SFAD A        BOP   CVM      SA     NaN     NaN    NaN
...           ...   ...     ...     ...     ...    ...
AJFD NaN       BE    CP     NSA     NaN     NaN    NaN
AJFI NaN       BE    CP     NSA     NaN     NaN    NaN
AJFJ NaN       BE    CP     NSA     NaN     NaN    NaN
AJFK NaN       BE    CP     NSA     NaN     NaN    NaN
AJFO NaN       BE    CP     NSA     NaN     NaN    NaN
AJFP NaN       BE    CP     NSA     NaN     NaN    NaN
AJFU NaN       BE    CP     NSA     NaN     NaN    NaN
AJFV NaN       BE    CP     NSA     NaN     NaN    NaN
AJFW NaN       BE    CP     NSA     NaN     NaN    NaN
AUSS NaN       BE    CP     NSA     NaN     NaN    NaN
BK67 NaN       BE    CP     NSA     NaN     NaN    NaN
THAP NaN       BE    CP     NSA     NaN     NaN    NaN
BOQM NaN      BOP    CP      SA     NaN     NaN    NaN
BPBN NaN      BOP    CP      SA     NaN     NaN    NaN
BQAX NaN      BOP    CP      SA     NaN     NaN    NaN
BQBH NaN      BOP    CP      SA     NaN     NaN    NaN
BQHQ NaN      BOP    CP      SA     NaN     NaN    NaN
BQHS NaN      BOP   CVM      SA     NaN     NaN    NaN
CLAS NaN      BOP    CP      SA     NaN     NaN    NaN
CLAT NaN      BOP    CP      SA     NaN     NaN    NaN
CPLX NaN      NaN    CP      SA     NaN     NaN    NaN
CPLY NaN      NaN    CP      SA     NaN     NaN    NaN
CPLZ NaN      NaN    CP      SA     NaN     NaN    NaN
IKBB NaN      NaN    CP      SA     NaN     NaN    NaN
IKBC NaN      NaN    CP      SA     NaN     NaN    NaN
IKBD NaN      NaN    CP      SA     NaN     NaN    NaN
IKBH NaN      NaN    CP      SA     NaN     NaN    NaN
IKBI NaN      NaN    CP      SA     NaN     NaN    NaN
IKBJ NaN      NaN    CP      SA     NaN     NaN    NaN
OFNN NaN      NaN    CP      SA     NaN     NaN    NaN

[14458 rows x 9 columns]

__TODO: need to check whether the CDID period length matches the MRETS period length.__

This (above) list seems to be missing some values. E.g. looking up `BOQM` on https://www.ons.gov.uk/timeseriestool finds `BOP:Exports:Tons:SA:Crude oil: SITC 333`.

Check that all CDIDs used in MRETS are defined in these tables.

In [8]:
defined_cdid_periods = set(cdids.index.values)
used_cdid_periods = set(
    observations[['CDID', 'Periodicity']].drop_duplicates().apply(
        lambda x: (x['CDID'], x['Periodicity']), axis='columns'
    ).values)
remaining_cdid_periods = used_cdid_periods.difference(defined_cdid_periods)
# assume all left over CDIDs are defined without periodicity
remaining_cdids = set(
    map(lambda x: x[0], remaining_cdid_periods)
).difference(set(
    map(lambda x: x[0], defined_cdid_periods)))
assert not remaining_cdids, 'Not all CDIDs defined: ' + str(remaining_cdids)

Inspect the unique values for these dimensions.

In [9]:
for col in cdids:
    display(HTML('<b>' + col + '</b>'))
    display(cdids[col].unique())

[6lessPS, TTlessO, OE, TS, TT, ..., South African Rand, US dollar, Monthly average, Effective exchange rate index..., Exchange rates for euro monthly average - ster..., ]
Length: 111
Categories (110, object): [6lessPS, TTlessO, OE, TS, ..., US dollar, Monthly average, Effective exchange rate index..., Exchange rates for euro monthly average - ster..., ]

[B5, D5, W1, WW, NaN, UK, EU, RW]
Categories (7, object): [B5, D5, W1, WW, UK, EU, RW]

[EX, IM, BAL, NaN]
Categories (3, object): [EX, IM, BAL]

[BOP, OTS, BE, NaN]
Categories (3, object): [BOP, OTS, BE]

[CP, CVM, IDEF, NaN]
Categories (3, object): [CP, CVM, IDEF]

[SA, NSA]
Categories (2, object): [SA, NSA]

[NaN, 24.2, TOTAL, A, 1, ..., R, 90, 91, S, 96]
Length: 180
Categories (179, object): [24.2, TOTAL, A, 1, ..., 90, 91, S, 96]

[NaN, I8, R2, J6, W1, ..., E1, J8, I6, B4, B5]
Length: 91
Categories (90, object): [I8, R2, J6, W1, ..., J8, I6, B4, B5]

[NaN, A, M, Q]
Categories (3, object): [A, M, Q]

__TODO: Still not sure what to make of the titles provided for the CDIDs in the MRETS table.__

__TODO: PERIOD doesn't seem to correspond to usage.__

__TODO: Currently outputting only BOP; need to figure out what to do with all other data points.__

In [10]:
bop_series = cdids[cdids['BASIS'] == 'BOP'].copy()
bop_cdids = set(v[0] for v in bop_series.index.values)

def area_country(row):
    if pd.isnull(row['AREA']) or row['AREA'] == '':
        if pd.isnull(row['COUNTRY']) or row['COUNTRY'] == '':
            return None
        assert row['COUNTRY'] != ''
        return 'cord/' + row['COUNTRY']
    else:
        assert pd.isnull(row['COUNTRY']) or row['COUNTRY'] == ''
        return 'legacy/' + row['AREA']

bop_series['ONS Partner Geography'] = bop_series.apply(area_country, axis=1)

def product_commodity(row):
    if pd.isnull(row['PRODUCT']) or row['PRODUCT'] == '':
        if pd.isnull(row['COMMODITY']) or row['COMMODITY'] == '':
            return None
        assert not pd.isnull(row['COMMODITY']) and row['COMMODITY'] != ''
        return row['COMMODITY']
    else:
        assert pd.isnull(row['COMMODITY']) or row['COMMODITY'] == ''
        return row['PRODUCT']

bop_series['CORD SITC'] = bop_series.apply(product_commodity, axis=1)

bop_series.drop(columns=['PERIOD', 'AREA', 'COUNTRY', 'PRODUCT', 'COMMODITY', 'BASIS'], inplace=True)
bop_series.rename(columns={'DIRECTION': 'Flow',
                           'PRICE': 'Price Classification',
                           'SEASADJ': 'Seasonal Adjustment'}, inplace=True)
bop_series.replace({'Flow': {'BAL': 'balance', 'IM': 'imports', 'EX': 'exports'}}, inplace=True)
bop_series['Measure Type'] = 'GBP Total'
bop_series['Unit'] = 'gbp-million'

bop_observations = observations[observations['CDID'].isin(bop_cdids)]
bop_observations = bop_observations.merge(
    bop_series, how = 'left', left_on = ['CDID', 'Periodicity'], right_index=True)
bop_observations.dropna(how='any', inplace=True)
bop_observations = bop_observations[['ONS Partner Geography', 'Period', 'CDID', 'Flow', 'CORD SITC',
                                     'Price Classification', 'Seasonal Adjustment',
                                     'Measure Type', 'Value', 'Unit']].drop_duplicates()
bop_observations

,ONS Partner Geography,Period,CDID,Flow,CORD SITC,Price Classification,Seasonal Adjustment,Measure Type,Value,Unit
0,legacy/B5,year/1998,SGWH,imports,3OF,IDEF,SA,GBP Total,41.4,gbp-million
1,legacy/B5,year/1999,SGWH,imports,3OF,IDEF,SA,GBP Total,41.2,gbp-million
2,legacy/B5,year/2000,SGWH,imports,3OF,IDEF,SA,GBP Total,42.3,gbp-million
3,legacy/B5,year/2001,SGWH,imports,3OF,IDEF,SA,GBP Total,47.0,gbp-million
4,legacy/B5,year/2002,SGWH,imports,3OF,IDEF,SA,GBP Total,44.5,gbp-million
5,legacy/B5,year/2003,SGWH,imports,3OF,IDEF,SA,GBP Total,45.5,gbp-million
6,legacy/B5,year/2004,SGWH,imports,3OF,IDEF,SA,GBP Total,48.6,gbp-million
7,legacy/B5,year/2005,SGWH,imports,3OF,IDEF,SA,GBP Total,76.2,gbp-million
8,legacy/B5,year/2006,SGWH,imports,3OF,IDEF,SA,GBP Total,89.3,gbp-million
9,legacy/B5,year/2007,SGWH,imports,3OF,IDEF,SA,GBP Total,71.9,gbp-million
10,legacy/B5,year/2008,SGWH,imports,3OF,IDEF,SA,GBP Total,96.1,gbp-million
11,legacy/B5,year/2009,SGWH,imports,3OF,IDEF,SA,GBP Total,93.8,gbp-million
12,legacy/B5,year/2010,SGWH,imports,3OF,IDEF,SA,GBP Total,87.5,gbp-million
13,legacy/B5,year/2011,SGWH,imports,3OF,IDEF,SA,GBP Total,102.1,gbp-million
14,legacy/B5,year/2012,SGWH,imports,3OF,IDEF,SA,GBP Total,110.4,gbp-million
15,legacy/B5,year/2013,SGWH,imports,3OF,IDEF,SA,GBP Total,119.5,gbp-million
16,legacy/B5,year/2014,SGWH,imports,3OF,IDEF,SA,GBP Total,112.9,gbp-million
17,legacy/B5,year/2015,SGWH,imports,3OF,IDEF,SA,GBP Total,106.6,gbp-million
18,legacy/B5,year/2016,SGWH,imports,3OF,IDEF,SA,GBP Total,100.0,gbp-million
19,legacy/B5,year/2017,SGWH,imports,3OF,IDEF,SA,GBP Total,107.8,gbp-million
20,legacy/B5,quarter/1998-Q1,SGWH,imports,3OF,IDEF,SA,GBP Total,45.0,gbp-million
21,legacy/B5,quarter/1998-Q2,SGWH,imports,3OF,IDEF,SA,GBP Total,38.7,gbp-million
22,legacy/B5,quarter/1998-Q3,SGWH,imports,3OF,IDEF,SA,GBP Total,37.0,gbp-million
23,legacy/B5,quarter/1998-Q4,SGWH,imports,3OF,IDEF,SA,GBP Total,42.1,gbp-million
24,legacy/B5,quarter/1999-Q1,SGWH,imports,3OF,IDEF,SA,GBP Total,42.4,gbp-million
25,legacy/B5,quarter/1999-Q2,SGWH,imports,3OF,IDEF,SA,GBP Total,39.1,gbp-million
26,legacy/B5,quarter/1999-Q3,SGWH,imports,3OF,IDEF,SA,GBP Total,39.8,gbp-million
27,legacy/B5,quarter/1999-Q4,SGWH,imports,3OF,IDEF,SA,GBP Total,42.8,gbp-million
28,legacy/B5,quarter/2000-Q1,SGWH,imports,3OF,IDEF,SA,GBP Total,42.6,gbp-million
29,legacy/B5,quarter/2000-Q2,SGWH,imports,3OF,IDEF,SA,GBP Total,38.7,gbp-million
...,...,...,...,...,...,...,...,...,...,...
472476,legacy/B5,month/2016-06,SIXT,imports,56and59,CVM,SA,GBP Total,288.0,gbp-million
472477,legacy/B5,month/2016-07,SIXT,imports,56and59,CVM,SA,GBP Total,286.0,gbp-million
472478,legacy/B5,month/2016-08,SIXT,imports,56and59,CVM,SA,GBP Total,270.0,gbp-million
472479,legacy/B5,month/2016-09,SIXT,imports,56and59,CVM,SA,GBP Total,285.0,gbp-million
472480,legacy/B5,month/2016-10,SIXT,imports,56and59,CVM,SA,GBP Total,281.0,gbp-million
472481,legacy/B5,month/2016-11,SIXT,imports,56and59,CVM,SA,GBP Total,300.0,gbp-million
472482,legacy/B5,month/2016-12,SIXT,imports,56and59,CVM,SA,GBP Total,313.0,gbp-million
472483,legacy/B5,month/2017-01,SIXT,imports,56and59,CVM,SA,GBP Total,305.0,gbp-million
472484,legacy/B5,month/2017-02,SIXT,imports,56and59,CVM,SA,GBP Total,287.0,gbp-million
472485,legacy/B5,month/2017-03,SIXT,imports,56and59,CVM,SA,GBP Total,320.0,gbp-million
472486,legacy/B5,month/2017-04,SIXT,imports,56and59,CVM,SA,GBP Total,344.0,gbp-million
472487,legacy/B5,month/2017-05,SIXT,imports,56and59,CVM,SA,GBP Total,324.0,gbp-million
472488,legacy/B5,month/2017-06,SIXT,imports,56and59,CVM,SA,GBP Total,309.0,gbp-million
472489,legacy/B5,month/2017-07,SIXT,imports,56and59,CVM,SA,GBP Total,311.0,gbp-million
472490,legacy/B5,month/2017-08,SIXT,imports,56and59,CVM,SA,GBP Total,313.0,gbp-million
472491,legacy/B5,month/2017-09,SIXT,imports,56and59,CVM,SA,GBP Total,335.0,gbp-million
472492,legacy/B5,month/2017-10,SIXT,imports,56and59,CVM,SA,GBP Total,337.0,gbp-million
472493,legacy/B5,month/2017-11,SIXT,imports,56and59,CVM,SA,GBP Total,324.0,gbp-million
472494,legacy/B5,month/2017-12,SIXT,imports,56and59,CVM,SA,GBP Total,342.0,gbp-million
472495,legacy/B5,month/2018-01,SIXT,imports,56and59,CVM,SA,GBP Total,339.0,gbp-million
472496,legacy/B5,month/2018-02,SIXT,imports,56and59,CVM,SA,GBP Total,345.0,gbp-million
472497,legacy/B5,month/2018-03,SIXT,imports,56and59,CVM,SA,GBP Total,332.0,gbp-million
472498,legacy/B5,month/2018-04,SIXT,imports,56and59,CVM,SA,GBP Total,338.0,gbp-million
472499,legacy/B5,month/2018-05,SIXT,imports,56and59,CVM,SA,GBP Total,339.0,gbp-million
472500,legacy/B5,month/2018-06,SIXT,imports,56and59,CVM,SA,GBP Total,362.0,gbp-million
472501,legacy/B5,month/2018-07,SIXT,imports,56and59,CVM,SA,GBP Total,382.0,gbp-million
472502,legacy/B5,month/2018-08,SIXT,imports,56and59,CVM,SA,GBP Total,368.0,gbp-million
472503,legacy/B5,month/2018-09,SIXT,imports,56and59,CVM,SA,GBP Total,356.0,gbp-million
472504,legacy/B5,month/2018-10,SIXT,imports,56and59,CVM,SA,GBP Total,379.0,gbp-million
472505,legacy/B5,month/2018-11,SIXT,imports,56and59,CVM,SA,GBP Total,349.0,gbp-million

In [11]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

bop_observations.to_csv(destinationFolder / ('bop_observations.csv'), index = False)

Update dataset metadata

In [12]:
with open(destinationFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

Since we're using CDIDs as attributes / slice keys in the resulting data cube, they need to be defined as such and given labels.

In [13]:
used_cdids = pd.DataFrame({'CDID': list(map(lambda x: x[0], used_cdid_periods))})
used_cdids['Title'] = tab.iloc[0][used_cdids['CDID']].values
used_cdids

      CDID                                              Title
0     CTVB  Trade in Goods:EU:Balance:Crude materials:STIC...
1     BQAO               BOP:IM:NSA:Unspecified goods: SITC 9
2     SEEZ  EU(2004):BOP:EX:deflator:SA:Oil products: SITC...
3     ERDY           BoP-consistent: South Korea: Imports: SA
4     ENFD  Trade in Goods:Exports:Material manufactures l...
5     THAP  Exchange rates for euro monthly average - ster...
6     BQAU           BOP:IM:SA:Semi-manufactures: SITC 5+6 £M
7     LOBN  NON-EU(2004): BOP: EX: CVM: SA: Pulp & waste p...
8     SDWO  non-EU(2004):BOP:EX:CVM:SA:Basic materials: SI...
9     SLWS  non-EU(2004):BOP:EX:CVM:SA:Residual misc. manu...
10    SGNI  non-EU(2004):BOP:EX:CVM:SA:Manufactures: SITC ...
11    OKQM  BOP:EX:CVM:SA:Electrical Machinery(Consumer): ...
12    OKQD         BOP:EX:CVM:SA:Toilet preparations: SITC 55
13    JZQE  EU(2004):BOP:IM:CVM:SA:Fruit & vegetables: SIT...
14    SEOU  Trade in Goods:Non-EU:Imports:SA:Chemicals: SI...
15    EPLX                BoP-consistent: Norway: Exports: SA
16    SEMG  Trade in Goods:EU:Imports:Chemicals: SITC 5:CV...
17    ELBH      BOP:Balance:SA:Semi-manufactures: SITC 5+6 £M
18    ENGS  BOP:IM:CVM:SA:Precious Stones & Silver (PS): S...
19    EHAX  Trade in Goods:Balance: Food & live animals: S...
20    FKMQ                BoP-consistent: Brazil: Balance: SA
21    QALM                 BoP-consistent: Egypt: Imports: SA
22    LKWG  Trade in Goods:Non-EU:Imports:Total less oil:I...
23    ENIB  Trade in Goods:Imports:Intermediate goods: SIT...
24    BOXT   BOP:EX:CVM:SA:Total trade in goods less erratics
25    EHAF              BOP:IM:SA:Medicinal products: SITC 54
26    SDMV  Trade in Goods:EU:Balance:Food, beverages and ...
27    OKRL       BOP:IM:CVM:SA:Animal feeding stuffs: SITC 08
28    BPII  BOP:IM:CVM:SA:Fuels other than oil: SITC 32+34+35
29    OFNN            MTIC fraud trade £ million:NSA :Imports
...    ...                                                ...
3963  ENJD  Trade in Goods:Balance:Capital goods: SITC 7+8...
3964  JYZZ               EU(2004):BOP:IM:CVM:SA:Meat: SITC 01
3965  EHAN         BOP:IM:SA:Misc metal manufactures: SITC 69
3966  CTVI  Trade in Goods:Non-EU:Balance:SA:CP:SITC 1 Bev...
3967  JZUR  non-EU(2004):BOP:EX:CVM:SA:Coffee, tea, cocoa ...
3968  SETY  non-EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
3969  JZUE  EU(2004):BOP:IM:CVM:SA:Coffee, tea, cocoa etc:...
3970  CHNB                 BOP-consistent:Im:Goods:SA:Austria
3971  SHIC  Trade in Goods:Non-EU:Imports:Beverages & toba...
3972  SFFH  non-EU(2004):BOP:IM:deflator:SA:Precious Stone...
3973  SHMG  non-EU(2004):BOP:IM:CVM:SA:Mechanical Machiner...
3974  E2XQ               BoP-consistent: Croatia: Exports: SA
3975  ENFI  Trade in Goods:Exports:Capital goods: SITC 7+8...
3976  AJFK         Sterling exchange rate: #1 = Danish kroner
3977  CTXC  Trade in Goods:EU:Imports:Material Manufacture...
3978  EHBC  Trade in Goods:Balance:Beverages & tobacco: SI...
3979  SEUF  non-EU(2004):BOP:EX:CVM:SA:Semi-manufactures: ...
3980  CRAH  Balance of payments: Trade in Goods: Clothing:...
3981  SMVM  Trade in Goods:Non-EU:Exports:Miscellaneous ma...
3982  SIQL  non-EU(2004):BOP:IM:CVM:SA:Colouring materials...
3983  BQQD              BOP:EX:SA:Paper & paperboard: SITC 64
3984  SIOY  EU(2004):BOP:EX:CVM:SA:Colouring materials: SI...
3985  LGCN          Trade in Goods:EU:Exports:Total:CVM:SA:£m
3986  OGSR          BOP:IM:CVM:SA:Pulp & waste paper: SITC 25
3987  SDVE   EU(2004):BOP:IM:CVM:SA:Basic materials: SITC 2+4
3988  SIKV   EU(2004):BOP:EX:CVM:SA:Organic chemicals:SITC 51
3989  OCCP             BOP: EX: CVM: SA: Wood & cork: SITC 24
3990  L87S           Trade in Goods:EU:Exports:Total:CP:SA:£m
3991  CTYW  Trade in Goods:Non-EU:Exports:Material Manufac...
3992  CTYM  Trade in Goods:Non-EU:Balance:Miscellaneous ma...

[3993 rows x 2 columns]

In [14]:
from rdflib import Graph, Literal, BNode, Namespace, RDF, URIRef, RDFS, OWL, XSD
from rdflib.namespace import SKOS
from rdflib.collection import Collection

CDID = Namespace('http://gss-data.org.uk/def/cdid/')
QB = Namespace('http://purl.org/linked-data/cube#')

g = Graph()
g.bind('skos', SKOS)
g.bind('rdfs', RDFS)
g.bind('cdid', CDID)
g.bind('qb', QB)

for i, cdid, title in used_cdids.itertuples():
    term = CDID.term(cdid)
    g.add((term, RDF.type, QB.Slice))
    g.add((term, SKOS.notation, Literal(cdid)))
    g.add((term, RDFS.label, Literal(title)))

print(g.serialize(format='n3').decode('utf-8')[:1000])

@prefix cdid: <http://gss-data.org.uk/def/cdid/> .
@prefix qb: <http://purl.org/linked-data/cube#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

cdid:AJFB a qb:Slice ;
    rdfs:label "Sterling exchange rate: #1 = Canadian dollar" ;
    skos:notation "AJFB" .

cdid:AJFD a qb:Slice ;
    rdfs:label "Sterling exchange rate : #1 = Swiss franc" ;
    skos:notation "AJFD" .

cdid:AJFI a qb:Slice ;
    rdfs:label "Sterling exchange rate: #1 = Swedish kroner" ;
    skos:notation "AJFI" .

cdid:AJFJ a qb:Slice ;
    rdfs:label "Sterling exchange rate: #1 = Norwegian kroner" ;
    skos:notation "AJFJ" .

cdid:AJFK a qb:Slice ;
    rdfs:label "Sterling exchange rate: #1 = Danish kroner" ;
    skos:notation "AJFK" .

cdid:AJFO a qb:Slice ;
    rdfs:label "Sterling exc

In [15]:
with open(destinationFolder / 'cdids.ttl', 'wb') as f:
    g.serialize(f, format='n3')